

Touchpoint Reflexology Kinesthetics














Touchpoint Reflexology Kinesthetics








Yvette Eastman  Health Consultant
 Bedwell Bay Road 
Belcarra BC VH S
TelephoneFax  
Outside Vancouver Area 
httpwwwsharedvisioncomtouchpoint
Email Yvette Eastman

Touchpoints Goal
to present you with the finest newest and most effective information in
Reflexology  Kinesiology


Classes are available for both social and professional purposes Each will give you an
exquisite learning experience though each has its own unique favour

In our Certificate Seminars we use unusual methods to aid in recalling vast amounts
of information and we promise you a stressfree environment for your learning comfort


Courses and Calendar
Consultations and Health Services 
 Reflexology Explained 
Touchpoint Merchandise

All Pages Attached Herein  Copyright 
All Rights Reserved

 Shared Visions Village Market
 Back To Shared Vision


Page Design by NetAdsRuscom





