Children  




 Adoptee Classifieds  httpwwwlawcornelledusheldenadoptionhtml 
 Provides details about the child Contains more than  entries and connected contact addresses Includes option for posting to the list
 




 Adoptees Mailing List Home page  httppsyucsdedujhartungadopteeshtml 
 Provides information about adoption Includes legal information links to other related pages Canadian resources  











 Alices Adventures in Wonderland  httpwwwcsindianaedumetastuffwonderwonderdirhtml 
 Lewis Carrolls Alices Adventures in Wonderland online  




 Alphabet  httpwwwklsccomchildren 
 Offers simple online games that teach the alphabet and counting Plans to add more educational games  




 ASCII ArtGoodies  httpgagmewwacombobaotherasciihtml 
 Contains pictures drawn on a computer or typewriter using only typed letters and symbols  











 AsylumsLiteBrite The   httpwwwgalcitcaltechedutalblbhtml 
 Allows you to make your own LiteBritestyle pictures on the web and see what other people have made  




 Aunt Annies Craft Page  httpmineralgalleriescomannieauntanniehtm 
 Features a new craft project every week Emphasizes learning creativity and problemsolving while having the fun of doing crafts Includes links to  related sites and suggested books for further reading as well as free craft software to download Craft projects offer a variety of designs patterns to  print and illustrated instructions and many of them could serve to integrate handson learning with math andor science lessons




 Berits Best Sites for Children  httpwwwcochrancomtheositeKSiteshtml 
 Categorizes and rates childrens Web sites Offers links to online projects interactive exhibits educational information and fun
 











 Bob Allisons Home Page Uncle Bobs Kids Page  httpgagmewwacombobakidsihtml 
 Lists a few hundred kidsafe sites divided into seven sections full of links to kids sites  




 Boy Scouts of America  httpwwwscoutingorgscouting 
 Provides information about the Boy Scouts of America and lists of troops online  




 Canadian Kids Home Page The   httpwwwonrampcalowenskidshtm 
 Lists and briefly describes links to educational sites and fun online activities including icons that reveal whether the link is graphicheavy has  sounds originates in Canada and so on 











 Carlos Coloring Book Home  httprobotgeuiuceducarlospcolor 
 Offers several types of pages to color interactively online using the mouse Requires a Macintosh program available for download on site
 




 Child Safety on the Information Superhighway  httpwwwcompuservecomnewnewsrelchldsftyhtml 
 Contains the text of a brochure prepared by the National Center for Missing and Exploited Children Lists ways to protect your child from possible harm  on the Internet and also presents a model childparent pledge for Internet usage rules  




 Children Now  httpwwwdnaicomchildren 
 Nonprofit childrens advocacy group Provides information related to the education health welfare and safety of American children
 











 Concertina  Books on the Internet  httpwwwdigimarknetiatechbooks 
 Sports a set of interactive childrens books of which you also can order hard copy versions  




 Cool Word of the Day Page The   httpwwwdsueduprojectswordofdaywordhtml 
 Offers a new word every day  




 Crayola  Crayola Crayola Crayola   httpwwwcrayolacomcrayolahomehtml 
 Provides information about crayons Also offers a Crayola Trivia game  











 CYBERKIDSCLUB  httpmackrtcomkidsclubhomehtm 
 Offers site where kids can meet and mail each other read shop and play games  




 CyberKids Home  httpwwwmtlakecomcyberkids 
 Online magazine for kids Includes games fiction and nonfiction  




 Edible StarchyTuber Head Animation  httpwinnieacsubuffaloedupotatoepotatoehtml 
 Offers a short animation of Mr Potato Head being put together  











 Fellowbugs Labor atory The Skulls of Fate  httpwwwdtdcomskulls 
 Lets you ask a question and click on a skull for an answer remember the magic ball   




 Froggy Page  httpwwwcsyaleeduHTMLYALECSHyPlansloosemoresandrafroggyhtml

 Provides information about frogs  




 Global ShownTell Home Page  httpwwwmanymediacomshowntell 
 Lets children show their work to kids and adults around the world Consists of links to childrens art work on Web pages or FTP servers
 











 Helping Your Child Learn Science  httpwwwedgovpubsparentsScienceindexhtml 
 Provides way for parents and kids to play and learn science together with suggested experiments  




 Hotlist Kids Did This  httpslnfiedutfihotlistskidshtml 
 Contains categorized links to sites that kids have created and put on the Web themselves Includes science language arts and school newspapers  Searchable 




 How far is it  httpgsspcscmueduprogdist 
 Enables you to find out the distance of any place in America  











 Hulls Home Page  httpwwwhiparkaustinisdteneteduhometeachersgradekhullmainhtml

 Exhibits dinosaurs created and named by a kindergarten class in Texas The children drew pictures or used the computer to create a picture and  described their creations Also includes poems  




 ISiteonCanada Presents  httpIsiteonca 
 A site laid out like a newspaper if you have Netscape  its main purpose being creation of multiauthor documentsmdsimilar makeyourownadventure
 stories Serves as a discussion forum for childrens literature and movies a place for kids to post their own reviews of kids books Another project  here is the KidoPediamdan international project allowing kids to create an international encyclopedia 



 IPL Divisions DrInternet  httpiplsilsumicheduyouthDrInternet 
 Presents science projects and offers a trivia question for kids to answer  











 Jasons Kite Site  httpwwwlatrobeeduauGlennKiteSiteKiteshtml 
 Provides information about kites and kiteflying  




 Joseph Wus Origami page  httpwwwcsubccaspiderjwuorigamihtml 
 Presents images and directions for making your own origami Offers links to more polygonic creations  




 Juggling Information Service  httpwwwhalcomservicesjuggle 
 Provides information on juggling  











 Kids window  httpkikustanfordeduKIDSkidshomehtml 
 Teaches about kids in Japan  




 KidPub WWWPublishing  httpwwwengardecomkidpub 
 Offers poems and stories written by children   




 Kids crossingthe Voice of the Rocky Mountain Youth  httprmiicompachecodkidsnetckidshtml 
 Provides kidrelated information Serves as online meeting place for kids  











 Kids Place The   httpwwwislandnetcombedfordkidshtml 
 Links to various kids sites  




 Kids Space  httpwwwinterportnetkidsspace 
 Exhibits art work done by children in English and Japanese Accepts submissions of stories and art work by children  




 KidsCom Home Page   httpwwwkidscomcomkidscom 
 Serves as a network to which kids can register free and choose a personal password and then on which they can play geography or other brainteaser  games or find a keypal only other KidsCom registered users among other available activities Also includes a section in which parents or teachers can  discuss kids the Internet schools and so forth  










 KidsCom HomePage  httpwwwkidscomcom 
 Presents an online playground just for kids Includes some resources for parents too   




 LEGOInformation  httplegowwwhomepagescom 
 Provides information about new LEGO products and ideas for LEGO fun  




 Links for Kids  httpwwwwebfeatscomillusionindexhtml 
 Contains more than  links to safe sites for children of all ages   











 Magic Ball The   httpwwwresortcombansheeMiscball 
 Ask the Ball a question and see what answer you get  




 Marcels Web Mind  httpeinsteinettudelftnlmvdlaanWebMindWMintrohtml 
 Online version of the game MasterMind  




 Marmaduker  httpwwwunitedmediacomcomicsmarmaduke 
 Contains Marmadukes own web page complete with twoweek archive of current strips  











 mentorhtml  httpshastacokcauswwwtelementorsmentorhtml 
 Lists what are locally considered the ten best Web sites for children updated monthly References diverse links  




 National Parent Information Network  httpericpseduiucedunpinnpinhomehtml 
 Provides information about parenting Includes the full text of many articles about parenting family life and urbanminority families as well as  other information for parents teachers and counselors  




 OUDPS  KidSafety  httpwwwuoknoreduoupdkidsafestarthtm 
 Provides safety information for kids Internet safety fire safety avoiding fights and more  











 Peanuts Collectors Club Home Page  httpwwwdcndaviscausbangpeanuts 
 Provides information to join the PCC and links to other Peanutsrelated online pages  




 Psychic Chicken Network Homepage  httpwwwtyrellnetadmarkchickenhtml 
 Offers a psychic chicken who knows all  




 SciTech Inc  httpscitechlmcom 
 Presents humor and handson activities Challenges kids to think and reason out the answer to a question Also offers a catalog of innovative science  education products 











 TWINKIES project The   httpwwwriceedugougetwinkieshtml 
 Presents an account from two guys who took playing with food to extremes  




 TeddyBears Mailing List WWW Service  httpwwwrheindeMailingListsteddybears 
 Provides information about teddy bears and for joining a mailing list for collectors  




 Totware  httpwwwhetbrownedupeoplemendetotwarehtml 
 Offers special software just for kids for PCs and Macs  











 Trove Investment Corporation Home Page  httpwwwnetnannycomnetnannyhomehtml 
 Offers software you can use to help you screen out unwanted material your kids could find on the Internet PCs only  




 WebYahtzee  httpwwwcgiumreducgibincgiwrapusernneulscriptwebyahtzeepl

 Lets you play Yahtzee online  




 Welcome to Burlingame OnLines PEZExhibit  httpwwwspectrumnetcompez 
 Provides information about PEZ candies and dispensers  











 Why Ask Why  httpwwwengauburnedurudolmcwhyhtml 
 Presents a long list of strange questions about life  




 Wierenga Software Home Page  httpwwwxmissioncomwwwadssharwarehtml 
 Houses Berts Coloring Programs Series Rachels Fashion Dolls and Peters Warbirds Provides information about these MSDOSbased programs Also  offers a link to download shareware versions of all different versions of coloring book software 




 World Birthday Web WBW  httpsunsiteuncedubtbinbirthday 
 Provides lists by birthday  











 Worldwide webs  httpwwweceucdavisedudarsiestringhtml 
 Teaches Cats Cradle and other string games  




 WWW Index  httpwwwdelphicomyoungamericaedrefedmenuhtml 
 Offers links to interactive online experiences   




 WWW Spirograph  httpjunipertccornelleduspirospirohtml 
 Presents a spirograph that draws according to the numbers you input  











 Your lucky fortune cookie  httphciisevtedukelsofortunehtml 
 Provides lucky numbers and fortunes  





