
Central Illinois Aikikai Information
Central Illinois Aikikai
 doors east of Philo Rd on Washington St
Central Illinois Aikikai
is one of over  member
dojos training halls in the Midwest Aikido Federation and
has continued in ChampaignUrbana since  It is the
only Aikido organization in ChampaignUrbana affiliated
with Hombu Dojo Tokyo The United States Aikido
Federation USAF and the Midwest Aikido Federation MAF
Individuals interested in Aikido are welcome to watch
any class






If you have any questions feel free to call us at  nbspNote
that you will probably have to leave a message



CIA
Home Page


Maps

Schedule





