


 
 
 







SERVICES
AIMR
SAMPLE REPORTS

services

advantages

overview

quick start

home





quotSample Reportsquot




Click here
to download Acrobat Reader

nbspnbspList
of Composites
The following list of composites is a full disclosure

nbspnbspIndependent
Accountants Verification Report 
We have examined the performance of the All Value Composite

nbspnbspMandate
 Quarterly
Quarterly  Asset Weighted Returns Gross of Management Fees

nbspnbspMandate
 Year End
Year End  Asset Weighted Returns Gross of Management Fees

nbspnbspQuote
Sheet
Fees are determined by Ashland Accounting Services on a client





Copyright copy  Ashland
Accounting Services PC
infoaascpacom














