


 Amip Modeling ParticipantsSubproject Leader Lists
 




nbspAMIP
Modeling ParticipantsnbspAddress Listnbsp
Go to Subproject Leaders List 


BMRCnbsp

Dr Bryant J McAvaneynbsp
Bureau of Meteorology Research Centre

GPO Box K

Melbourne Victoria nbsp

Australia

Fax  

email bmabomgovau

CCCnbsp

Dr George J Boernbsp

Canadian Centre for Climate Modelling and Analysis

Atmospheric Environment Servicenbsp

University Of Victorianbsp

PO Box  Ms nbsp

Victoria BC VW Ynbsp

Canadanbsp

Fax  

email gboeruvicbcdoecanbsp



CCSR

Dr Akimasa Sumi

Center for Climate System Research

University of Tokyo

 Komaba Meguroku

Tokyo 

Japannbsp

Tel 

Fax 

email sumiccsrutokyoacjp



CNRM

Dr Michel Deque

Centre National de Recherches Meteorologiquesnbsp

 Avenue Coriolisnbsp

 Toulouse Cedexnbsp

Francenbsp

Fax     nbsp

email micheldequemeteofrnbsp



COLA

Dr David Strausnbsp

Center for OceanLandAtmosphere Studiesnbsp

Institute of Global Environment and Society Incnbsp

 Powder Mill Rd Suite nbsp

Calverton MD nbsp

Fax  nbsp

email strauscolaigesorgnbsp



CSIRO

Dr Barrie G Huntnbsp

Division of Atmospheric Research CSIRO

Private Bag No nbsp

Mordialloc Victoria nbsp

Australianbsp

Fax  nbsp

email bghatmosdarCSIROAUnbsp



CSUnbsp

Dr David A Randallnbsp

Department of Atmospheric Sciencenbsp

Colorado State Universitynbsp

Fort Collins CO nbsp

Fax  nbsp

email randallredfishatmoscolostateedunbsp



DERF

Mr William Stern

Dynamical ExtendedRange Forecasting

Geophysical Fluid Dynamics Laboratory NOAA

PO Box 

Princeton New Jersey 

Fax 

email wfsGFDLGOV



DNM

Dr Vener Galinnbsp

Department of Numerical Mathematics

Russian Academy of Sciencesnbsp

Leninsky Prospect  A

Moscow 

Russianbsp

Fax  

email galininmrasrunbsp



ECMWF

Dr Laura Ferrantinbsp

European Centre for MediumRange Weather Forecastsnbsp

Shinfield Park

Reading RG AXnbsp

United Kingdomnbsp

Fax nbsp

email LauraFerrantiecmwfint



GFDL

Dr Richard T Wetheraldnbsp

Geophysical Fluid Dynamics Laboratory NOAAnbsp

Princeton Universitynbsp

PO Box nbsp

Princeton NJ 

Fax  nbsp

email rwgfdlgov



GISS

Dr Kenneth Lonbsp

Goddard Institute for Space Studiesnbsp

 Broadway Room nbsp

New York NY nbsp

Fax nbsp

email cdkklnasagissgissnasagov



GLAnbsp

Dr William Launbsp

Code nbsp

Goddard Space Flight Centernbsp

Greenbelt MD 

Fax nbsp

email lauclimategsfcnasagovnbsp



GSFC

Dr Wei Min

Data Assimilation Office Code nbsp

NASA Goddard Space Flight Centernbsp

Greenbelt MD nbsp

Fax  nbsp

email mindaogsfcnasagov



IAP

Dr Qingcun Zengnbsp

Institute of Atmospheric Physicsnbsp

Chinese Academy of Sciencesnbsp

PO Box 

Beijing 

PR Chinanbsp

Fax nbsp

email whjsgisiapaccn



JMA

Dr Nobuo Satonbsp

Numerical Prediction Sectionnbsp

Japan Meteorological Agencynbsp

 OtemachiChiyodakunbsp

Tokyo nbsp

Japan

Fax   nbsp

email PNNSATOOJMAADMDATICJPsprintcom



LLNL

Dr Michael F Wehnernbsp

Lawrence Livermore National Lab

Climate Systems Modeling Groupnbsp

PO Box  Lnbsp

Livermore CA  USA

Fax  nbsp

email mwehnerllnlgovnbsp



LMDnbsp

Dr Jan Polchernbsp

Laboratoire de Meteorologie Dynamiquenbsp

Ecole Normale Superieure

 rue Lhomondnbsp

 Paris Cedex nbsp

France Faxnbsp

email polcherlmdensfrnbsp



MGO

Dr Valentin P Meleshko

Main Geophysical Observatorynbsp

 Karbyshev Streetnbsp

St Petersburg nbsp

Russianbsp

Fax 

email vmeleshkmgospbsu



MPI

Dr Erich Roeckner

Max Planck Institute for Meteorologynbsp

Bundesstrasse 

D Hamburg nbsp

Germanynbsp

Fax    

email roecknerdkrzdde



MRI

Dr Akio Kitohnbsp

Japan Meteorological Agencynbsp

Meteorological Research Institutenbsp

Nagamine  Tsukubanbsp

Ibaraki nbsp

Japannbsp

Fax nbsp

email kitohmrijmagojp



NCAR

Dr David L Williamson

Climate and Global Dynamics Divisionnbsp

National Center for Atmospheric Researchnbsp

PO Box nbsp

Boulder CO 

Fax nbsp

email wmsonncarucaredu



NMC

Dr Huug van den Doolnbsp

Prediction Branch Climate Analysis Centernbsp

National Meteorological Centernbsp

 WWB Room nbsp

Camp Springs MD 

Fax 

emmail wdhdsgiwwbnoaagov



NRLnbsp

Dr Tom Rosmondnbsp

Naval Research Laboratorynbsp

 Gracehopper Ave Stop nbsp

Monterey CA 

Fax nbsp

email rosmondnrlmrynavymilnbsp



NTU

Prof WenShung Kaunbsp

Department of Atmospheric Sciencesnbsp

National Taiwan Universitynbsp

 Ln Sec  Keelung Rd nbsp

Taipei Taiwannbsp

ROCnbsp

Fax 

email wenwenasalphaasntutw



RPN

Dr Harold Ritchie

Recherche en preacutevision numerique

 TransCanada Highway 

Dorval Queacutebec HP Jnbsp

Canadanbsp

Fax  

email hritchierpnaesdoeca



SUNYA

Dr WeiChyung Wang see SUNYANCAR



SUNYANCAR

Dr WeiChyung Wangnbsp

Atmospheric Sciences Research Centernbsp

State University of New York at Albanynbsp

 Fuller Rdnbsp

Albany NY 

Fax  nbsp

email wangclimateASRCAlbanyedu



UCLA

Dr Carlos R Mechosonbsp

Department of Atmospheric Sciences

University of California Los Angeles

 Hilgard Avenue

Los Angeles CA 

Fax  nbsp

email mechosoatmosuclaedu



UGAMP

Dr Michael Blackburn

Department of Meteorology

University of Readingnbsp

 Earley Gate Whiteknights

PO Box 

Reading RG AU

United Kingdomnbsp

Fax   

email MBlackburnreadingacuk



UIUC

Dr Michael E Schlesinger

Department of Atmospheric Sciences

University of Illinois at UrbanaChampaign

 S Gregory Avenue

Urbana IL 

Fax  nbsp

email schlesinuiatmaatmosuiucedu



UKMO

Dr Vicky Pope

Hadley Centre for Climate Prediction and Research

UK Meteorological Office

London Roadnbsp

Bracknell Berkshire RG SY

United Kingdom

Fax  

email vdpopemetogovtuk



YONU

Prof JeongWoo Kim

Department of Astronomy and Atmospheric Sciencesnbsp

Yonsei Universitynbsp

 ShinchonDong SeodamoonKunbsp

Seoul  KOREAnbsp

Fax nbsp
email jwkimatmosyonseiackrnbsp



Return to AMIP Modeling Participants
Listnbsp
Return to AMIP Diagnostic Subproject Leaders
Listnbsp
Return to AMIP home pagenbsp
Return to PCMDI home pagenbspnbsp


AMIP
Diagnostic Subproject Leaders Address List
Go to Modeling Participants List







Subproject 

Dr Julia Slingonbsp

Centre for Global Atmospheric Modellingnbsp

Department of Meteorologynbsp

University of Reading

 Early Gate Whiteknightsnbsp

Reading RG AU

United Kingdomnbsp

Fax nbsp

email swsslingmetreadingacuknbsp





Dr Kenneth R Sperber

PCMDInbsp

Lawrence Livermore National Laboratory

PO Box  Lnbsp

Livermore CA nbsp

Fax nbsp

email sperberspacellnlgov






Subproject 

Dr Francis Zwiersnbsp

Canadian Centre for Climate Modelling and Analysis

Atmospheric Environment Servicenbsp

University of Victorianbsp

PO Box  MS 

Victoria BC VW Y CANADAnbsp

Fax  

email fzwiersuvicbcdoecanbsp



Subproject 

Dr Steven Lambert

Canadian Climate Centrenbsp

University of Victorianbsp

PO Box  MS 

 Gordon Head Road

Victoria BC VW Ynbsp

Canadanbsp

Fax  nbsp

email slambertuvicbcdoeca


nbsp





Subproject 

Dr P Duvelnbsp

Laboratoire de Meacuteteacuteorologique Dynamique

Ecole Polytechniquenbsp

 Palaiseau Cedexnbsp

Francenbsp

Fax      nbsp

email duvellmdxpolytechniquefr






Dr F Cheruynbsp

Laboratoire de Meacuteteacuteorologique Dynamique

Ecole Polytechniquenbsp

 Palaiseau Cedexnbsp

Francenbsp

Fax    nbsp

email fredjunglepolytechniquefr





nbsp


Subproject 

Prof David A Randallnbsp

Dept of Atmospheric Sciencenbsp

Colorado State Universitynbsp

Foothills Campusnbsp

Fort Collins CO nbsp

Fax  nbsp

email randallredfishatmoscolostateedunbsp



Subproject 

Dr Timothy N Palmernbsp

ECMWFnbsp

Shinfield Parknbsp

Reading Berks RG AXnbsp

United Kingdomnbsp

Fax nbsp

email timpalmerecmwfcouk



Subproject 

Dr William KM Launbsp

NASAGoddard Space Flight Center

Code nbsp

Greenbelt MD nbsp

Fax nbsp

email lauclimategsfcnasagovnbsp



Subproject 

Prof John E Walshnbsp

Department of Atmospheric Sciencesnbsp

University of Illinois at UrbanaChampaignnbsp

 South Gregory Avenuenbsp

Urbana IL nbsp

Fax  nbsp

email walshwxatmosuiucedu



Subproject 

Dr Bryant J McAvaneynbsp

Bureau of Meteorology Research Centrenbsp

GPO Box K th Floor Celsius Housenbsp

 Lonsdale Streetnbsp

Melbourne Victoria nbsp

Australianbsp

Fax nbsp

email bmabomgovau



Subproject 

Prof Stefano Tibaldinbsp

ADGBN Atmospheric Dynamics Groupnbsp

University of Bologna Depart of Physicsnbsp

Viale Carlo Berti Pichat nbsp

 Bolognanbsp

Italynbsp

Fax    nbsp

email Tibaldiastbolbocnrit



Subproject 

Prof Alan Robocknbsp

Department of Meteorologynbsp

University of Marylandnbsp

College Park MD nbsp

Fax  

email alanatmosumdedu



Subproject 

Prof Ann HendersonSellersnbsp

Climatic Impacts Centrenbsp

School of Earth Sciencesnbsp

Macquarie Universitynbsp

North Ryde NSW nbsp

Australianbsp

Fax      nbsp

email annmgmetcicmqeduaunbsp


nbsp





Subproject 

Dr Igor Mokhovnbsp

Institute of Atmospheric Physicsnbsp

Academy of Sciencenbsp

 Phzhevsky nbsp

Moscow Russianbsp

Fax  nbsp

email rootiaphmsksunbsp





Prof Bryan C Wearenbsp

Department of Land Air and Water Resources

Atmospheric Science Sectionnbsp

University of California Davisnbsp

Davis CA nbsp

Fax  nbsp

email bcweareucdavisedunbsp





nbsp


Subproject 

Dr Gerald L Potternbsp

PCMDInbsp

Lawrence Livermore National Laboratory

PO Box  Lnbsp

Livermore CA nbsp

Fax nbsp

email gpotterllnlgovnbsp



Subproject 

Dr Raymond Hidenbsp

co Dr Jean O Dickeynbsp

Space Geodetic Science and Applications Groupnbsp

Mail Stop nbsp

Jet Propulsion Laboratorynbsp

 Oak Grove Drivenbsp

Pasadena CA nbsp

Fax  nbsp



Subproject 

Prof Carlos R Mechoso

Department of Atmospheric Sciencesnbsp

University of California Los Angelesnbsp

 Hilgard Avenuenbsp

Los Angeles CA 

Fax  nbsp

email mechosoatmosuclaedu



Subproject 

Dr Donald Perkey

Institute for Global Change Research and Education

Huntsville AL 

Fax  nbsp

emailnbsp



Subproject 

Dr Valentin P Meleshkonbsp

Main Geophysical Observatorynbsp

 Karbyshev Streetnbsp

St Petersburg nbsp

Russianbsp

Fax nbsp

email vmeleshkmgospbsu


nbsp





Subproject 

Prof John R Christynbsp

Earth System Science Laboratorynbsp

Research Institute Room Anbsp

The University of Alabama in Huntsvillenbsp

Huntsville AL nbsp

Fax  nbsp






Prof Bryan C Wearenbsp

Department of Land Air and Water Resources

Atmospheric Science Sectionnbsp

University of California Davisnbsp

Davis CA nbsp

Fax  nbsp

email bcweareucdavisedunbsp





nbsp


Subproject 

Dr Bruce Hewitsonnbsp

Department of Environmental and Geographical Sciencenbsp

University of Cape Townnbsp

Randebosch nbsp

Cape Town South Africanbsp

Fax    nbsp

email hewitsonenvirouctacaznbsp



Subproject 

Dr Phil D Jonesnbsp

Climatic Research Unitnbsp

School of Environmental Sciencesnbsp

University of East Anglianbsp

Norwich NR TJnbsp

United Kingdomnbsp

Fax nbsp

email FOEASTANGLIAACUKnbsp



Subproject 

Dr Hiroshi L Tanakanbsp

Institute of Geosciencenbsp

University of Tsukubanbsp

Tsukuba nbsp

Japannbsp

Fax    

email tanakaatmgeotsukubaacjpnbsp



Subproject 

Prof Sultan Hameednbsp

Institute for Terrestrial and Planetary Atmospheresnbsp

Marine Sciences Research Centernbsp

State University of New Yorknbsp

Stony Brook NY nbsp

Fax   nbsp

email hameedatmscisunysbedunbsp



Subproject 

Dr George S Golitsynnbsp

Institute of Atmospheric Physicsnbsp

Russian Academy of Sciencesnbsp

 Pyzhevsky Moscow nbsp

Russianbsp

Fax  nbsp

email ifaranrinarostramsksunbsp



Subproject 

Dr WeiChyung Wangnbsp

Atmospheric Sciences Research Centernbsp

State University of New York at Albanynbsp

 Fuller Rdnbsp

Albany NY nbsp

Fax  nbsp

email wangclimateASRCAlbanyedunbsp



Subproject 
Dr Sulochana Gadgilnbsp

Centre for Atmospheric Sciencesnbsp

Indian Institute for Sciencenbsp

Bangalore  nbsp

Indianbsp

Fax    nbsp

email sulocasiiscernetin


nbsp


Return to AMIP Modeling Participants
Listnbsp
Return to AMIP Diagnostic Subproject Leaders
Listnbsp
Return to AMIP home
pagenbsp
Return to PCMDI home pagenbsp


Last update February   For address changes contact
Anna McCravynbsp
nbspandnbspLLNL
Disclaimers



