





PSP Instructors












About Our Programs 
Class Schedule 
Instructors 
Mailing List 
Maps
Registration Info 
Search 
Who to Call 


Almar Arcano Executive Chef Hys Steak House has recently returned from studying in Europe at at the Culinary Institute of America and is eager to share new ideas and techniques
Mary Balmores BEd has over  years teaching experience with the DOE
Karren Barozzi ASID MFA Barozzi Design INC past President of the American Society of Interior Designers Hawaii Chapter has specialized in the design of residential commercial and medical interiors for over  years
CC Bender PhD conducts workshops for the Medical College of Pennsylvania Albany Medical School University of California Medical School at Davis University of Texas Medical School at Dallas Penn State Medical School at Heshey
Betty Burdick professional actress including work with the Chamber Theatre of Boston and Cocteau Repertory Theatre of New York City
Kit Cameron MFA award winning artist has taught children and adults since 
Nancy Chappie MEd President of Travel University International nationally accredited school in San Diego and Honolulu year travel industry veteran author of several travel books
Bill Char awardwinning lei maker who travels extensively and has shared his leimaking skills at folk arts festivals in the Pacific and Japan as well as the mainland US
Michael Chauvin MPhil was educated at the University of Michigan Harvard the University of Hawaii and Cambridge University He has lectured at the Bishop Museum Planetarium taught at UH Hilo and has won awards for continued research in astronomy
Betty A Ching MSW ACSW is CoDirectorFounder of ESTEEM
Clyde Lee Ching MEd former McKinley Volleyball Coach UH mens volleyball team Assistant Coach San Jose and Chaminade coached at MPI and Moanalua  years experience
Ronald FK Ching MDiv Cofounder ESTEEM Clinical Member ITAA specializing in management and personaleffectiveness seminars
Yona Chock AA BA proprietor of Aardvark Adventures she has taught and performed across the US and in Italy and the Netherlands she is president of the Hawaii Magicians Society Ring  of the International Brotherhood of Magicians
Kenneth Chong President Pacific Realty Consultants
Glenn Chu Coowner Roxannes Patisserie Ward Centre Hajjibabas Moroccan Restaurant and Catering France Hawaii all owned by Chef Chunow his energies are focused on his latest restaurant Indigo
Cynthia Chan Doctor of Clinical Hypnotherapy private practice in Honolulu has lectured to numerous groups and organizations using her techniques to help individuals achieve their potential
Wu I Chang Chief Instructor of the Wu I Chang Black Belt Academy  years of martial arts
Howard Co is ChefOwner of Yen King Kahala Mall Chef Cos degrees in food technology and agricultural economics along with his many years of restaurant experience truly qualify him to present the methods and techniques of Chinese cuisine
Christopher Coats BMus is a recognized performer and teacher of guitar
Wendy Cook BFA worked extensively as Tour Director and Coordinator with Tauck Tours for a decade sales and marketing for a wholesale tour operation focusing on travel agencies coordinated special events for Jacques Cousteau
Howard Deese MA MBA DBEDT Ocean Resources A leader of the states awardwinning seafood campaign Howard has been a catalyst in putting Hawaii seafood on the culinary map and with Chef George Mavrothalassitis created vertical fish tasting
Ajith Asouka deSilva founder and owner Paradise Aromatics of Hawaii specializing in the development of quality therapeutic health products certified aromatherapist  years of aromatherapy in both Europe and the US
Marty Drew Sous Chef to Bryan Ashlock of the Sheraton Moana Surfrider Hotel has twenty years in food preparation
Paula Durbin is certified as an instructor in Spanish Dance by the Academia Pericet Madrid and Buenos Aires and the Spanish Dance Society She has performed with the Spanish Dance Society USA and appears locally in performance and lectures
Robert R Dvorak MA artist author teacher formerly on the faculty of the University of Oregon and University of CaliforniaBerkeley licensed architect and drawing and watercolor artist
Loren Ekroth PhD is a speaker and seminar leader who presents seminars throughout Hawaii He is the owner of Kamaaina Fundraisers and Loren Ekroth  Associates both successful oneperson businesses
Rod Fukino former principal dancer with Dallas Ballet is a choreographer pianist composer and artist
James Gillespie Chef de Cuisine  On the Rise Restaurant is a graduate of the Culinary Institute of America
David Gochros is the state manager for Remy Amerique owners and importers of cognac and other fine wine and spirits Hes had many years of sales experience and been Sommelier at the Kahala Hilton the Princeville Resort and A Pacific Cafe
Yaeko Habein MA served as a Japanese language instructor at the University of Hawaii from  to  and coauthored The Complete Guide to Everyday Kanji
Lynne Halevi PhD featured author in the anthology The Great Communicators holds the Certificate of Clinical Competence in Speech Pathology Member of Screen Actors Guild and National Speakers Association
Victor Halevi MEd Lecturer workshop leader actor Previously with Max Factor specializing in training for department store sales personnel Member of Screen Actors Guild and American Federation of Television and Radio Actors
Eric Halter specializes in integrating computers in the workplace and in providing practical plain talk training in computer technology
Nancy Hanson MA President Career Discovery former outplacement consultant for Drake Beam Morin Inc clients include IBM Sears American Express US Sprint
Betty M Harada MA Graduate Gemologist GIA Executive Director of the Hawaii Jewelers Association
Stacy Hasegawa Operations Manager ALTRES Staffing experience in recruitment screening and interviewing for numerous organizations presents at colleges military bases and business organizations
Patrick Horimoto a selftaught ie ie weaver and master carver who has lectured taught and exhibited in Hawaii and on the mainland
Sam Horn President Action Seminars author of TongueFu and Concentration featured in Readers Digest Cosmopolitan Family Circle and Chicago Tribune personal and professional development workshops
Kim Scott Iannetta Board Certified Forensic Examiner clients HPD Public Defender Prosecutors office IBM mental health specialists trial attorneys and local businesses assists in jury selection
Karin Ireland owner Ireland Communications authored  books and hundreds of articles most recent is her childrens book Wonderful Nature Wonderful You
Vicky Chiu Irion MA Economics
Deborah Jensen physics instructor at Iolani School sculptor of tropical fish Japanese samurai and undersea divers and the designer of an original line of jewelry using postage stamps
Phil Johnson Consultant studied with Eastern and Hawaiian cultural teachers and has integrated them with health and business practices experience in western architectural design and local construction this topic won an Adult Learning Award at recent LERN conference
Paulette Kahalepuna talented and highly respected feather lei maker author of two books the most recent Feather Lei Making as an Art is in its second edition
Kitty K Kamaka attorney Alcantara  Frame and management consultant specializing in personnel law
Cynthia Kamakawiwoole MPH section supervisor of the Hospital Medical Facilities Branch Department of Health employed in the field for  years
Dean Kaneshiro MEd RPC  years of experience in exercise and strength training Masters power lifter
Hubert Kimura PhD specializes in right brain applications in athletics education and business known for his books The BiBrainial Connection Putting Perfection Aikane to Aikane An Introduction of Grass Roots Campaigning in Hawaii Mental Arts Bridgin
Florence Ko MFA is interested in still life and landscape working in both oil and watercolor
Ruth N Komatsu MA is a certified financial planner and president of R Komatsu Financial Inc
Ozzie Kotani BA is an instructor recording artist author and composer He is a recognized slack key performer who specializes in preserving the legacy of Hawaiian slack key tradition
Eric Kuwaye BS San Francisco State University is assistant vice president Investments at Wedbush Morgan Securities Inc
Fredrick Lam BMus New England Conservatory of Music teaches voice privately and with UHMCCECS
David Larsen JD specializes in wills trusts and inheritance taxes He writes a financial column for the Honolulu Advertiser and is author of Who Gets It When You Go
Robert Laughlin has over  years experience as a professional pianist and teacher He now teaches his innovative oneday piano workshops at over  colleges and his methods are used by teachers nationwide
Gary L Lee CEBS Manager Employee Benefits Department Johnson  Higgins of Hawaii
Jeannie Lee BA Liberal Arts is a native Korean speaker
Roberta LeeDriscoll BEd is a certified financial planner
Raymond Lesher MAI CRE Lesher and Company Ltd
Jisheng Li PhD has graduate degrees in Economics and Business Administration He is a third year law student and a member of Law Review at the Richardson School of Law
Adam Lockwood  years of competitive volleyball played for UH  named to AllAmerica Collegiate team coached Kamehameha JV Asst Coach for UH Mens team  currently Head of Academic Services for Athletic Dept
Roland Bula Logan student of Kalua Kaiahua Maui graduate of Hoohalike Ko Kahiko Hou Laau Lapaau
Keely L Luke BA Brooks Institute is the first female Certified Professional Photographer in Hawaii Her portfolio includes weddings and portraiture as well as fashion and commercial work for Associated Press General Electric MTV and Penzoil
Charles Lum Kee is a private microcomputer consultant specializing in teaching computer applications software Mr Lum Kee has taught numerous computer classes for the College and throughout Hawaii
Tim Lyons Executive Director of the Hawaii Pest Control Association
Faye Maeda SPHR Director Workforce Staffing and Development Hawaiian Electric Co
Paula Mantel BA owner of Discovery Learning Systems provides public and private instruction in learninghowto learn subjects like Speed Reading Memory Enhancement and Vocabulary building
John Margeson is a local cartoon illustrator and has done work for a wide variety of companies including Disney McDonalds Nynex Forbes Magazine and Honolulu Magazine
Connie Mark Waiau Elementary School Grade  teacher
Iris Matsunobu MSW ACSW Program Specialist in the Long Term Care Ombudsman Program of the Executive Office on Aging  years of experience in health and social programs
Bryan P Maxwell BS ASLA specializes in computeraided design His landscape design experience includes both local and international resort hotel golf course parks commercial and residential work
Kimberly Merrill Licensed Massage Therapist honors graduate of Boulder School of Massage Therapy studied Zen shiatsu Swedish massage integrative massage neuromuscular therapy and body centered therapy
Peter Michaud BS Meteorology is planetarium manager for the Bishop Museum Planetarium
John Miller CPA
Daniela Minerbi Dr Arch Polytechnical University of Milan
Kelvin Miyahira BA owner of Leeward Golf Shop learned from notable professionals such as David Leadbetter and Jimmy Ballard
Jacques Moulin MA French is a native speaker
Atsuko Nakamura BA is a native Japanese speaker She is a past assistant editor for Readers Digest Japan and has been both a teacher and translator of Japanese since 
Henry Nakatani PE MS Structural Engineer State of Hawaii Public Works Division
Luan Nguyen Former Executive Director VietnameseAmerican Chamber of Commerce has travelled extensively to Vietnam
George Nitta Owner Nittas Auto Repair  years of experience former professional race car driver sponsored by Ford
Reiko T Oda BA is the director and owner of the Oda Ballet School and is a highly respected teacher and dance consultant who has been on the CCECS faculty since 
Yoshibumi Ogawa BA Tea Instructor Urasenke Foundation Konichian Hawaii Branch
Van Ohumukini Absolute Sushi Chef
Andrew Okada president of Precious Ink Chamber Association
Jerry Omo AAS Rochester Institute of Technology is a professional photographer whose clients have included Hawaiian Sun Chocolates Korean Airlines and Mary Kay Cosmetics among others
Joanne Oshiro Wheeler Elementary School technology resource teacher
Ty Otake Head Golf Professional West Loch Golf Course PGA Business School graduate in top  of the nation  PGA Tour Qualifying School
Josephine Pablo Dept of Education General Education Branch Office of Instructional Services
Francis Pang BA Lecturer UHM Dept of Health Physical Education and Recreation Licensed Acupuncturist Master in Acupuncture Practitioner of Oriental Medicine and Tai Chi Chuan instructor with  years of experience
Marcia Pasqua BFA Art University of Hawaii at Manoa She is a free lance artist
Nobuko PugarelliAoshima PhD has taught Japanese language and literature at Honolulu Community College since  She has won numerous awards for her ongoing research
Art Reed PhD Professor Emeritus UHM Department of Zoology
Patricia Rife PhD President of ENVISION has worked with over  nonprofit organizations nationwide her software GRANT WRITING A HANDSON APPROACH is marketed over the Internet
Marie Riley MA Director Acupressure Center of Hawaii in practice since 
Hector Robertin has had many years of experience working with microcomputers in the workplace serving as a computer consultant and teaching computer courses
Valerie Santiago RN MBA owner Medical Professional Billing Services  years of experience in health care
Savas ChefOwner Olive Tree Cafe advocates a healthy Greek diet and has served as a consultant to health food markets and vegetarian restaurants In addition to Mediterranean cuisine he specializes in natural and organic wines
Ken Schwartz BA Russian was a professional Japanese translator and interpreter Has technical computer and broadcasting experience and is expected to complete his MA in Japanese Linguistics this Spring
Steven E Seifried PhD Assistant Professor Dept of Biochemistry and Biophysics John A Burns School of Medicine UHManoa since 
Fay Shimizu MEd Instructor of Japanese at Leeward Community College has taught Japanese and Kanji with Continuing Education at UHManoa since 
Scott Shirai owner of Visual Perspectives a television production and media training company just published Nov  Karaoke Sing Along Guide to Fun and Confidence former executive news producer anchor and reporter at KHON TV
Carol Silva BA Hawaiian Studies is a historicalresearcher and archivist
Russell Siu ChefOwner of  On the Rise and Kakaako Kitchen restaurants
Jim Smigielski Duangduen Buranasombati author of A Touch of Thailand and A Taste of Thailand cookbooks
Bill Spencer MHS Assistant Director of Pacific Business Center Program UHM College of Business Administration
Milton Staackmann MA  years of studying various meditation philosophies and techniques formed the Ananda Meditation Group of Honolulu in 
Jean Stangl MA author of  childrens books and  magazine articles former Regional Advisor California Society of Childrens Book Writers Early Childhood Specialist instructor at UC Santa Barbara
Mouna Stanzani BA is a native speaker of Italian and working toward a masters degree in English as a Second Language
Leigh Stephens MA Professor of Journalism at California State University Sacramento she directs her own agency providing consulting and training to government and private businesses
Marga Stubblefield LPGA has been teaching at Olomana Golf Links since  LPGA member since  played on the pro tour from  and from 
Lynne Sueoka Wilcox Elementary School teacher
Takaaki Suzuki MA Ed is a native speaker of Japanese who has taught Japanese language to non native students since 
Darren Tackett Owner Absolute Sushi former Regional Executve Chef of Kyotaru Hawaii
Ronnie Tai See MBA Business Development Specialist Pacific Business Center Program UHM College of Business Administration
Kevin Takaki exercise specialist in sports medicinetotal body conditioning
Lance Takamiya BS Arranger Composer and Performer of slack key He has studied the slack key tradition under master artist Ozzie Kotani through the SFCA Master Apprentice Program
Alan Takano Kamehameha Elementary School technology resource teacher
Scott Takata MMus BA Music UHM is a private piano instructor
Marie Takazawa dancer teacher choreographer studied and performed at University of Hawaii before moving to New York City where she performed with the Uncompany on Broadway and toured with Rudolph Nureyev
Jonathan Tani founder of Reigikai began training at age ten head instructor of martial arts club at age  US National Collegiate Champion Sports Illustrated
Vita Tanielu is a native Samoan speaker
BrianThomas President Thomas Realty Group Kamuela Hawaii
Dave Thorne has been a professional cartoonist for over  years and has given workshops in Hawaii Micronesia Samoa and on the Mainland
Ella TokunagaAki MFA is a freelance commercial artist
Bradley Totherow Cadinha  Co Inc
Carol Trockman MS RN Nurse Research Coordinator at Kapiolani Medical Center for Women and Children
Yoshiko Hirokane Tsukamoto MA is an accomplished author and translator who has taught English to Japanesespeaking students since  and Japanese to Englishspeaking students since 
Bob Twogood President Twogood Kayaks  years kayak racing national champion design and manufacturing founder ILH high school Kayak Racing Program instructor National American Canoe Association
Rod Ussing studied Capoeira with Mestre Amen in Santa Monica and with Mestre Angola in Salvador Brasil Opened Capoeira Batuque Honolulu in  under the auspices of Mestres Amen and Beicola
Robert Vernon MAI CRE John Child and Company
ShaoLing Wang BA is a native speaker and an experienced language teacher
Manabu Watanabe MA is a native speaker and linguistics scholar who has taught Japanese language in the US since 
Eloise A Wetherall CEBS EA Wetherall Inc
Jean Williams BA business and marketing consultant to artists and craftspeople Former consultant to the Hawaii State Department of Business and Economic Development
Douglas Wilson Senior Vice President First Hawaiian Bank
Stephanie Winieski MFA has been practicing yoga for  years and teaching yoga for the past  years at UHM Silent Dance Center and Kaiser Permanente she is Director of Dance at Leeward Community College
Alan Wongs Restaurant Chefs specialize in creating a culinary experience that combines the tastes of East and West
Ruth Wong BS founder Organization Plus an organizingtimemanagement service member National Association of Professional Organizers has worked with clients in the public and private sectors
Stan Wong former coach and assistant volleyball coach University High School Active participant in USVBA
George Woollard MFA is a lecturer in Art at the University of Hawaii He has exhibited extensively in Hawaii including the Honolulu Academy of Arts New York City and Europe
Lesley Wright PhD Princeton University Associate Professor at University of Hawaii at Manoa recognized authority on the opera Carmen consultant to productions by the Metropolitan Opera English National Opera and the Hawaii Opera Theatre
Emy Yamauchi Manager Hawaii Regional Office of Altres Staffing Office former temp worker in Hawaii and on the mainland who worked her way to the top




