

Press Releases






Morrison Knudsen PlazaPO Box 
Boise Idaho 
Telex Phone  
Fax  


NEWS RELEASE
For Further Information Contact Brent D Brandon
Vice President Corporate Communications



September  

MK WINS TWO AWARDS FROM ADAM OPEL AGFOR AUTOMOTIVE COMPLEXES IN POLAND AND THAILAND


  BOISEMorrison Knudsen Corporation announced today that its Clevelandbased Engineering amp Construction Group has been awarded programmanagement services contracts by Adam Opel AG Rsselsheim Germany for new metal fabrication and car assembly complexes to
be built in Poland and Thailand
 Preliminary design of the facilities is underway and completion of the projects is scheduled for late  in Poland and early  in Thailand  Robert A Tinstman MK president and chief executive officer said We are delighted to again take MKs automotive expertise abroad to support our clients worldwide expansion The scope of services at both sites will be very similar since both projects include common systems
and equipment Programmanagement services for both project locations will be headquartered in MKs Rsselsheim office along with fully staffed field offices in Poland and Thailand
 Morrison Knudsen Corporation founded in  serves the worlds industrial heavy construction environmental mining operations and maintenance power and transportation markets as an engineer and constructor

  

For further information email mkcorpmkcom



Return to MK News Releases




Return to MK Home Page












