


 Virtual library of standard robots
 



Virtual library of standard robots

Workspace is supplied with the following robot models ABB IRB
ABB IRB Fanuc S SFD S Motomoan KS Kawasaki JS Nachi
NR Comau  Kuka Kuka  Unimation RX Pana HR
Puma  Puma 

The following is a list of all the robot models which are available
for use within Workspace

VRML files of these models can be downloaded by clicking on a
particular robots name

If your browser does not recognise the file type then upgrade
your browser to recognise VRML





ABB
IRB 
ABB
IRB 
ABB
IRB 
ABB
IRB 
ABB
IRB 
ABB
IRB 
ABB
IRB 
ABB
IRB  
ABB
IRB  
ABB
IRB  
ABB
IRB  
ABB
IRB C 
ABB
IRB  
ABB
IRB L 
ABB
IRB LAW 
ABB
IRB LE 
ABB
TRALLFA TR 
ABB
TRALLFA TRHW 
ACMA
X 
ADEPT
 
ADEPT
 
ADEPT
 
AEA
NEATER 
BOSCH
SR 
BOSCH
SR 
BOSCH
SR 
CINCINATTI
MILACRON T 
CINCINATTI
MILACRON T 
CINCINATTI
MILACRON T 
CINCINATTI
MILACRON T 
CLOOS
ROMAT  
CLOOS
ROMAT  
CLOOS
ROMAT  
CLOOS
ROMAT  
CLOOS
ROMAT S 
COMAU
 
COMAU
SMART LASER  
CRS
A 
CRS
A 
CYBERNETIC
MENTOR 
CYBERNETIC
NEPTUNE 
DAIHEN
OTC G 
DAIHEN
OTC V 
DAIHEN
OTC VS 
DEVILBIS
P 
ESHED
ER III SCORBOT 
ESHED
ER V SCORBOT 
ESHED
ER VII SCORBOT 
ESHED
ER 
ESHED
ERIX 
EUROBTEC
IRC 
EUROBTEC
ROBI 
FANUC
A 
FANUC ARCMATE JUNIOR
FANUC
ARCMATE OH
FANUC
ARCMATE SENIOR 
FANUC
LRMATE
FANUC
M
FANUC
P
FANUC
S 
FANUC
S  A 
FANUC
SFD 
FANUC
SIF 
FANUC
S 
FANUC
S  A 
FANUC
S 
FANUC
SW 
FEEDBACK
ESA 
GRACO
EDY 
HITACHI
M 
IBM
 UPGRADED SR 
IBM
 SR 
IBM
 UPGRADED SR 
IGM
RT 
KAWASAKI
EE 
KAWASAKI
EH 
KAWASAKI
ES 
KAWASAKI
EX 
KAWASAKI
EX
KAWASAKI
JS
KAWASAKI
JS 
KAWASAKI
UX 
KAWASAKI
UX 
KOMATSU
RAL 
KUKA
IR  
KUKA
IR  
KUKA
IR  
KUKA
IR  vertical 
KUKA
IR  
KUKA
IR  
LABMAN
 
LAMBERTON
ROBOTICS AA 
LAMBERTON
ROBOTICS AA 
LAMBERTON
ROBOTICS AA 
MITSUBISHI
MOVEMASTER EX 
MITSUBISHI
PA
MITSUBISHI
RVE
MITSUBISHI
RVTA
MOTOMAN
KRSH 
MOTOMAN
KS 
MOTOMAN
KAS 
MOTOMAN
KMSB 
MOTOMAN
KS 
MOTOMAN
KS 
MOTOMAN
KS 
MOTOMAN
KSH 
MOTOMAN
KS 
MOTOMAN
K 
MOTOMAN
KCSH 
MOTOMAN
KS 
MOTOMAN
KMS 
MOTOMAN
KSB 
MOTOMAN
MSSB  WSB 
MOTOMAN
SS 
MOTOMAN
SSB  WSB 
MOTOMAN
SK 
MOTOMAN
V 
NACHI
 
NACHI
 
NACHI
ISR 
NACHI
RAS 
NACHI
ROBOT  
NACHI
ROBOT  
NACHI
VORGX  X 
NACHI
VORG 
NEI
TOMKAT  KOMATSU RAL 
NOKIA
NRS AITEC 
ORII
RZC
PANASONIC
AWA
PANASONIC
A
PANASONIC
CMD 
PANASONIC
HR  
PANASONIC
HZ AL 
PANASONIC
HZ AM 
PANASONIC
KSV 
PANASONIC
VC 
REDIFUSSION
MERLIN 
REIS
RDK 
REIS
RV 
REIS
SRVL
SAMSUNG
AM
SANDS
TECH ARTEMIS R
SANDS
TECH DEUCALION R 
SANDS
TECH PERSEUS R 
SANKYO
SR 
SANKYO
SR 
SANKYO
SR 
SANKYO
SR 
SEIKO
RT 
SEIKO
RT 
SEIKO
RTC 
SEIKO
RT 
SEIKO
TT 
SEIKO
TT 
SEIKO
TTSC 
SEIKO
XM
STAUumlBLI
RXL
STAUumlBLI
RX
STAUumlBLI
RX
TQ
MA 
TQ
MA 
TQ
MA 
UMI
MICROBOT ALPHA 
UMI
RT 
UMI
RT 
UMI
RTX 
UNIMATION
PUMA  
UNIMATION
PUMA   C 
UNIMATION
PUMA  
UNIMATION
PUMA  
UNIMATION
RS
UNIMATION
RS
YAMAHA
ZETA






Return to Home Page 



Workspace and Robotrak
are registered trademarks of Robot Simulations Ltd

Copyright copy  Robot Simulations
Ltd

Last revision  April 



