

 Ethical Growth Fund



 
 
 
 
 
 
nbspEthical Growth Fund
 
 
 


 
 
 
Eligibility nbspRRSP RRIF
 
 
 
 

The investment objective
of this Fund is to provide high current income and preservation of capital
primarily through investment in common stock in Canadian companies that meet
the Ethical criteria Bonds debentures and TBills maynbspbe purchased
from time to time
 
 
Consider this option if

 
 
 you have a medium to highrisk tolerance

 
 
 
 
 
 Family of Ethical Funds
 
 
 Accounts and Services
 
 
 
 Copyright copy Surrey Metro Savings August  


