


 
 
 







PROFILES
KIMBERLY


kimaascpacom

profiles

melvin ashland

arthur allison

donna glass

tobin cochran

home





quotIndustry knowledge is key
to composite construction and evaluationquot


nbsp

Kimberly A Cash Senior Accountant
serves as the lead assistant for performance verification and consultation
She is experienced in the detail analysis of portfolio compilation and
composite construction and will be a CPA upon completion of her requisite
auditing experience having already passed the CPA exam 

Cash is also responsible for the production of
Ashland Accountings marketing and communication materials

Copyright copy  Ashland
Accounting Services PC
infoaascpacom














