

Peace Education Center Newsletter  Guatemala
















Chris and Sara TheuleLubienski Report on Guatemala

 In Guatemala over Christmas break on a Witness For Peace
delegation we just happened to run into Jennifer Harbury It
wasnt a planned part of the trip In fact in view of WFPs mission
and nonalignment philosophy we were asked not to have contact
with her since she would be the first to admit that she was under
constant surveillance by agents of the Guatemalan military Any
association with her could impugn WFPs standing in Guatemala
and could get some of the longterm volunteers there on tourist
visas kicked out for political activity

 Still some of us wanted to speak with her Jennifer Harbury
is an exciting character She is a Texas attorney educated at
tlarvard She was working with Guatemalan refugees fleeing to
the US in the mids when she decided to go down to Guatemala
to see for herself what was happening She ended up getting quite
involved in the movement for social justice there and married
Efrain Bamaca a rebel leader with the ECP the Guerrilla Army
of the Poor

After a short stay in the US they returned to Guatemala
and rejoined the struggle Bamaca disappeared Harbury had a miscarriage
Bamaca was presumed dead until an escapee reported seeing him
alive in a military torture camp Harbury began her crusade to
find out what happened to her husband After much frustration
she launched a hunger strike in front of the Guatemalan National
Palace during which time armed men in passing cars pointed shotguns
at her Mike Wallace and quot Minutesquot interviewed her
and the US embassy continued in its insistence that it had no
knowledge of what had happened to her husband

 After  days Harbury was persuaded to end the strike and
instead begin discussions with the US government about what
it knew

After another four months of frustration she began a second
hunger strike  in front of the White House It was then that
Rep Torricelli NJ from the House Intelligence Committee disclosed
the fact that the US government knew that her husband had been
taken alive that he had been tortured and murdered in captivity
and that this atrocity had been presided over by a Guatemalan
officer  Colonel Alpirez who was being paid by the CIA Alpirez
was also implicated in the murder of US citizen Michael DeVine

 When we saw Harbury she was in Guatemala to lay the legal
basis for litigation to find and recover her husbands body 
something the military was opposing at every turn While she was
there on January  of this year her lawyers car was bombed
in Washington DC Later Guotemolon children Sacrificed to
Corpotrte ProtiC someone opened fire with an automatic weapon
on her residence in Washington

 In another chance meeting on the street next to the shelter
for street kids we asked her about the recent attacks perhaps
we should have picked a more discreet spot Apparently the news
of the attacks had been blown out of the headlines by the big
snowstorm in the US Still she saw the attacks as a definite
message from the Guatemalan military not the CIA  quotthe
CIAs not stupidquot to silence her But after losing a husband
and a pregnancy she felt that she didnt have anything else to
lose

 Her case illuminates the need for a more complete disclosure
of our governments activities and knowledge about the situation
in Guatemala and other parts of Latin America In another instance
Sister Diana Ortiz an Ursuline nun from Texas was raped and
tortured by the Guatemalan military by men under the command
of CIA quotassetquot Gen Gramajo FurthermoreSister Ortiz
said that a North American someone connected to the US Embassy
presided over her torture before she escaped from his custody

 We asked the embassy official in charge of human rights about
her allegations Of course he denied any embassy involvement
but US embassy staff and the Guatemalan military have been documented
in a Campaign to discredit Ortiz part of a bizarre lesbian love
affair they claim

 How can Guatemalans have any hope for democracy if we are
financing the torture and murder of political opponents in their
country How can we have a democracy if our government is covertly
supporting undemocratic policies  without our consent  and the
torture and mur der of US citizens

In addition to a few US citizens we also saw the blood
stains of Father Stan Rother of Oklahoma killed by the military
in Santiago Atitlan hundreds of thousands of Cuatemalans have
been tortured disappeared and killed To what extent has our
government been complicit in this travesty We do know that some
of the leading architects of the violence in Latin America  including
Guatemalas Manuel Antonio Callejas y Callejas  have been trained
at the taxpayer funded quotSchool of the Americasquot in Fort
Benning CA As Jennifer Harbury searches for her husbands body
we need to know to what extent agents of our government have been
directing this slaughter

On the School of the Americas 

Call your congressional representative and ask him or her
to support HR  or 

Contact Fr Roy Bourgeois at SOA Watch PO Box  Columbus
GA  

On Disclosure of CIA activities in Guatemall 

Call Sen Arlen Specter Chair Senate Intelligence Committee


by Chris Lubienski

Call Anthony Lake National Security Advisor  

Pages Compliments of  Misery Bay Publications
mailmiserybaycom




