SRL  Raco Michigan
Raco Michigan

This image is a falsecolor composite of Raco Michigan centered
at  degrees north latitude  degrees west longitude
This image was acquired by the Spaceborne Imaging RadarC and X
Band Synthetic Aperture Radar SIRCXSAR aboard the space
shuttle Endeavour on its sixth orbit and during the first full
capability test of the instrument on April   This image
was produced using both Lband and Cband data The area shown
is approximately  kilometers by  kilometers  by  miles Raco is located at the eastern end of Michigans upper peninsula
west of Sault Ste Marie and south of Whitefish Bay on Lake
Superior The site is located at the boundary between the boreal
forests and the northern temperate forests a transitional zone
that is expected to be ecologically sensitive to anticipated
global changes resulting from climatic warming On any given
day there is a  percent chance that this area will be obscured
to some extent by cloud clover which makes it difficult to image
using optical sensors In this color representation redLHH
greenLHV blueCHH darker areas in the image are smooth
surfaces such as frozen lakes and other nonforested areas The
colors are related to the types of trees and the brightness is
related to the amount of plant material covering the surface
called forest biomass The black area in the upper right corner
is the icecovered Lake Superior The blue mosaic areas in the
lower part of the image are bare agricultural fields with hay
stubble The large blue area to the center left of the image
corresponds to a large frozen swamp with no trees and lots of
grass trufts The light greenishyellow areas are red pine trees
approximately  meters  feet in height The brownish
yellow areas are jack pine trees of various ages The dark
patches are areas of recent clear cuts in the managed Hiawatha
National Forest The shore line of Lake Superior in the light
greenish blue is a mixture of aspen and birch trees South of
that surrounding McNearny and Johnson lakes is a dark purple
area containing north hardwoods Accurate information about
landcover is important to area resource managers and for use in
regional to globalscale scientific models used understand
global change

P
April  




 Imaging Radar Home Page


Updated 
brucechapmanjplnasagov
