


The Nelsongroup Gazette






Published by Nelson Communications Group a professional public relations firm   Volume One Issue Two






Scholastic Inc Donates One Million Books to California Schools




Golden State Warrior B J Armstrong shares his experience with an Oakland reading program at the recent Scholastic press conference


Western Dentals Quality Management System Hailed as State of the Art
A highly regarded independent dental consultant announced that a new quality improvement study shows Western Dental the nations largest provider of dental services has a quality management system that is state of the art 

Macys West Makes Childrens Spirits Bright With Giving Tree Holiday Ornaments
During the holidays Macys West raised funds for childrens charities through its Giving Tree Holiday Ornament program 


Governor Wilsons Call to Action Conference Brings Nations Most Influential Women to Long Beach
Governor Wilsons Call to Action Conference for Women drew sellout crowds at the Long Beach Convention Center This years conference entitled Passing the Torch  Women Mentoring Women featured addresses from former First Lady Betty Ford newswoman Lesley Stahl and author Olivia Goldsmith 
Previous issues of the Gazette 




 Educational book publisher Scholastic Inc has donated one million books to California schools it was announced at a press conference featuring NBA star BJ Armstrong The donation worth more than  million was accepted by the California School Boards Association CSBA 

Experts Debate Alternative Fuel Vehicles at San Diego Miramar College



The Electric Car Is Here
The EV General Motors new electric vehicle was made available to the public on December   John Campbell III Chairman and CEO of Saturn of Orange County answers some frequently asked questions about the EV 


California has emerged as the testing ground for alternative fuel vehicles The impact these vehicles will have on Californias economy and environment was the focus of a debate at San Diego Miramar College on December   

The Polling PlaceWith election season behind us our latest poll asks your opinions on political mail Some people love it others hate it Some people read it others throw it in the trash straightaway Please click here and take a few seconds to tell us how you handle your political mail




Publishers Corner

 California Legislative Roster  A friendly guide to whos who and whats what in the State Capitol Orange County Annual Survey Reveals Challenges Opportunities for Professional CommunicatorsSan Diego PRSA Recognizes NCG with Seven Awards
About the Publisher
Send a Letter to the Editor
Visit the Corporate Homepage










About Nelson Communications Group  The People You Meet at NCG  Nelsongroup GazetteHow to Contact Us  Agency Specialties  Case Studies  Clients and Campaigns  Awards  Feedback




