

 
 RRSP



 
 
 
 
 
 
nbspMutual Funds RRSP
 
 
 


 
 
 
 
 
 
 
 
 
 
 
A Mutual Fund is a pool
of money invested by a professional manager in several investment vehicles
which may include stocks and bonds The rates of return vary from one mutual
fund to the next as does the degree of risk If these investments earn a
profit you share in that profit Mutual Funds are eligible RRSPRRIF investments
and can also be held within a SelfDirected RRSPRRIF
 
 
Consider this RRSPRRIF
option if

 
 you hope to earn a better return than what you would earn on term deposits
 
 you want to diversify your RRSP portfolio
 
 you want to maximize your foreign content up to 

 
 
 
 
 
 
 
 
 


 
 RRIFs 
 RESPs 
 Mutual Fundsnbsp
 Accounts and Services 

RRSP Accumulator  TBill RRSP
 Term Deposits RRSP 
SelfDirected RRSP 



Copyright copy Surrey Metro Savings September
 

