Cloaks and Daggers








































Cloaks and Daggers






 October 


Topics of the day

  MI targets Irish community in Britain
  about Subscription Confirmation 
  Snarfs  Spots Forever
  Origins of the Intelligence Cycle 



Date Tue  Oct   
From wim pelt 
Subject MI targets Irish community in Britain

Forwarded wo comment

Tyrone man targeted at Heathrow

BY MICK NAUGHTON

SINN Feins Francie Molloy has exposed another British
undercover operation in London this week

Molloy revealed that a young nationalist from the
Coalisland area of east Tyrone has been hounded by British
agents both at his home and workplace in Britain

The man in his mids who did not wish to be named for
fear of losing his job first became suspicious last May as
he returned to London from Tyrone where he had been
attending his grandmothers funeral As he disembarked from
a flight two men Chris and John struck up a
conversation with him about the problems of getting regular
work in London Both had what sounded like polite Belfast
accents

The Tyrone man who works at Heathrow airports Terminal 
and who has lived in London for four years thought nothing
more about the short encounter until he walked into his
local bar weeks later to find the pair drinking together
They reminded him of their earlier discussion After that
the pair appeared regularly in a number of other places and
on several occasions called to the mans home to get him out
for a drink During conversation Chris and John told him
they were thinking about opening a bar and asked if he would
be interested in regular employment They pressed him
repeatedly promising easier money The mans present job
entails him doing hour shifts He said he wasnt
interested

However at the beginning of this week on Monday evening
the pairs concentrated attention finally came to a head
when Chris described as being of a heavy build declared
they worked for the government and had access to huge sums
of money

The worried man speaking by phone to this reporter from a
north London location on Tuesday morning related what
happened next

After telling me this they showed me a photograph clearly
taken at my workplace in the airport at am this Monday
morning They showed me another photo of my brothers former
partner and they said they knew he had served time as a
republican POW and was now working in England To be
totally honest I was terrified they knew so much about my
movements who my girlfriend was she comes originally from
Co Kildare and information about my employer

I was so nervous at being alone with them that I agreed to
meet them at pm on Monday evening at a bar in Heathrow
I was due to start my shift at pm so they clearly had
checked this weeks shifts arrangements Hailing a taxi they
said they would leave me home as they didnt want something
terrible to happen to me

Chris then showed me an envelope full of bank notes but
I refused to take it As they got out of the taxi Chris
threw a A note laughing saying they would at least pay
the taxi for now I told the driver to head on and stopped
when they were out of sight Even though the fare was only a
couple of pounds I gave the driver the A and asked him for
a receipt which he signed I then took myself off phoned
my employer and asked for a few days holiday I am very
frightened

rancie Molloy called to the young mans fathers house in
Tyrone that same night and talked with the British agents
victim by phone assuring him that he had notified human
rights lawyer Gareth Peirce and an Irishbased lawyer
familiar with similar threats and approaches Molloy has
also given him a contact number in London where he can be
reached during Molloys visit to London this week

This is a disturbing case explained Molloy Over the
past number of weeks other victims have come forward but
requested no publicity Worringly these approaches have
increased from the murder of Diarmuid ONeill on 
September It is clearly a signal from MI and other covert
agencies that they are intent on targeting the Irish
community in England What other shattered lives are they
leaving by these heavyhanded oppressive tactics I would
appeal for anyone caught in a similar trap to contact a
lawyer or public representative to document their
activities Not to do so entails a life of manipulation and
misery at the hands of a government dismissive of peoples
human rights


RMDistribution an Irish Republican News and Information service
httpwwwirlnetcomrmlistindexhtml



Date Tue  Oct   
From jfloewenDIALUPFRANCENETFR
Subject about Subscription Confirmation

I remember that Dr Kies had problems starting this list for lots of
subscribers wanted to be sure that no one but Dr Kies would be able to
access to their name email adress 

I hope that no subscription confirmers had had that problem at that time
because for now I have to tell them  you have been spotted 

Going back to my own anonymous lurking

JF LOEWENTHAL
somewhere in Paris France



Date Tue  Oct   
From carl anthony wege 
Subject Re about Subscription Confirmation

 NextPartBBCADED
ContentType textplain charsetusascii
ContentTransferEncoding bit

Good job 

Tony


From jfloewenDIALUPFRANCENETFRSMTPjfloewenDIALUPFRANCENETFR
Sent Tuesday October    AM
To Multiple recipients of list CLOAKSANDDAGGERS
Subject about Subscription Confirmation

I remember that Dr Kies had problems starting this list for lots of
subscribers wanted to be sure that no one but Dr Kies would be able to
access to their name email adress 

I hope that no subscription confirmers had had that problem at that time
because for now I have to tell them  you have been spotted 

Going back to my own anonymous lurking

JF LOEWENTHAL
somewhere in Paris France



 NextPartBBCADED
ContentType applicationmstnef
ContentTransferEncoding base

eJIiwNAQaQCAAEAAAAAAABAAEAAQeQBgAIAAAAAQAAAAAAADoAAENgAQAAgAAAAIAAgABBJAG
AKgBAAABAAAADAAAAAMAADADAAAACwAPDgAAAAACAfPAQAAAIIAAAAAAAAAgSsfpLjEBmdbgDd
AQUAgAAAABDbGhaMtYWkLURhZdlcnMgICBPcGVuIERpcNcNpbgbYgSWZWxsaWdl
bmNlIChBYFkZWpYykAUUUABDTEBSMtQUELURBRdFUlNAUpVVkuURKThOUyFRFUA
AAAeAAIwAQAAAAUAAABTTVRQAAAAABAAzABAAAAJQAAAENMTFLUyBTkQtREFHRVSUBTSlVW
TSTVEpPSETLkVEVQAAAAADABUMAQAAAAMAgGAAAAHgABMAEAAABCAAAAJNsbFrcyhbmQt
RGFnZVycyAgIEwZWgRGlzYVzclvbiBvZiBJbnRlbGxpZVuYUgKEFjYWRlbWljKScAAAAC
AQswAQAAACoAAABTTVRQOkNMTFLUyBTkQtREFHRVSUBTSlVWTSTVEpPSETLkVEVQAAAAMA
ADkAAAAACwBAOgEAAAACAfYPAQAAAAQAAAAAAAADRlsBCIAHABgAAABJUEuTWljcmzbZIEh
aWwuTmZQAxCAEEgAEAJwAAAFJFOiBhYmdCAgJNYnNjcmlwdGlvbiBDbmaXJtYXRpbn
AKgNAQWAAwAOAAAAzAcKABACAArACQAAgBTAQEggAMADgAAAMwHCgAdAAgAKwAPAAIAPgEBCYAB
ACEAAAAyNUEQZFRjYMzFEMDExQjcOTAwQzARkQyMTJGRQABwEDkAYAkAQAABIAAAALACMA
AAAAAAMAJgAAAAAACwApAAAAAAADADYAAAAAAEAAOQAAeovnWARAcAABAAAAJwAAAFJFOiBh
YmdCAgJNYnNjcmlwdGlvbiBDbmaXJtYXRpbnAAACAXEAAQAAABYAAAABuWfLrvzYm
MWcRLeJAMBPhLAAAeABMAQAAAAUAAABTTVRQAAAAABAHwwBAAAAHAAAAHdlZVAYmMMDAw
LmJjLnBlYWNobmVLmVkdQADAAYQYRnAMABxAJAgAAHgAIEAEAAABlAAAARPREpPQjotKVRP
TlktLStLStLStRlJPTTpKRkxPRVdFTkBESUFMVVBGUkFOQVORVRGUlNNVFASkZMTVXRUA
RElBTFVQRlJBTkNFTkVURlJTRUUOlRVRVNEQVksTwAAAAACAQkQAQAAAPCAADAgAARAUAAExa
RnVqfzbwAKAQCFQKoBesCgwBQAvIJAgBjaArAcVMjcGAAbDAoMyAUCAHByQnERnNZWC
gzNAuQHEwKAfQqACMJTvxFgyNTUCgAqBDbELYOBuZzEwMxRQCwoUUUULmMAQCBHbwRwIIBq
bIgOipCoUCoVUAiBGwKGxpCDEMALRaSxNJDfAMBzCkxNgqgwNgEBjBUAtINcK
hxLwwwIFZGAEIdgVgyCGxswGOBvBAJEBESQBBTFVQLkZSQUBOQVORVQmgVtgUUUDol
nyapXbhfyKNBmACMCOJMtUClCAcRheSwgTyCgIxtQBJAgMjkuEDEgDkIDgMzkUsDNKYi
jRyQKkyRGxBSBsZSAWEGOPBSAIkAIwBCBvZiAeEAETwCBDTEBSMCLSawRCEQUdHGEVS
UyKpYmoIJExyTLAaAIYAVAICdOJEEGkCIDVgAiAegHKbAMAiccxjMzYfVsaRSBW
STQxBAGCBdIMRgAVARHIuIEsIkPEIBGAGyAgUQJgEAEIBPAwrAMAZEEChBAAEyQAhDv
BcAVoDTDCoVzOQucQQgncAcBPQGyAuUCAucESxuxYQQKRuRgACIDQgYjsRUEHdwhgbBsgRiEB
oDQRyQCoUAGMHkAQgRfFAsDZlPHBGGEHgCQZSfAMADEUGgFhAEESLBuUAAaGwRogn
RMUPcFoDxTRUEnQYNBkkCzQdVOtAFQECzMBKwQqFLnBjfGFEbBDkbwBBMWHmdkjyQKBl
bAMgSkFQsHAHkIYFMkLnAJEJQcLsgcEWyIRuGvBCsmIAFJrReJteTTgdwOgKGAcByhBGBS
UCkEAhwadCsVGWCoVKRiAgEXyVybgVEgoYERWAAHOdKUEZxCAgUArABAAuEPjcABwScAb
vDPogZQqFBRUxAGEwAAADABAQAAAAAAMAERAAAAAAQAAHMCBrniKfxbsBQAAIMCBrniKfxbsB
HgAAAEAAAAFAAAAUkUIAAAAACERg

 NextPartBBCADED



Date Tue  Oct   
From Rudolf Kies PHD 
Subject Re about Subscription Confirmation

At  PM   you wrote
I remember that Dr Kies had problems starting this list for lots of
subscribers wanted to be sure that no one but Dr Kies would be able to
access to their name email adress 

I hope that no subscription confirmers had had that problem at that time
because for now I have to tell them  you have been spotted 

Going back to my own anonymous lurking

JF LOEWENTHAL
somewhere in Paris France


The only thing that dimwitted comments such as the one above will accomplish
is that you will be placed on nopost as well as nomail which means that
youve become a nonperson as far as the list is concerned

Once again your names and addresses are secure because the whole list is
set to reviewbyowner which means that no one can get your name Try it
and test it

Once again Subscription confirmation is a mechanism by LISTSERV by which
the list is kept free from error addresses and bogus namesto some extent

Once again with my comments I simply tried to make sure that you dont miss
the subscription confirmation notice from listserv because LISTSERV will
delete your name if you dont confirm AFTER YOUVE BEEN NOTIFIED
I intended this to be a service to you Listserv will do this for all our
benefit every three months

Once again if you have questions please contact ME  not the list

Once again if you post crap on this list youll do it only once

My apologies to the vast majority of the list members that have to read and
deal with this sort of thing


Rudolf Kies PHD
OwnerModerator 
 on listservsjuvmstjohnsedu

We dont spy on anyone  we just watch those that do



Date Tue  Oct   
From David R Huff 
Subject Snarfs  Spots Forever

  From David R Huff  EMCVer   

I hope that no subscription confirmers had had that problem at that time
because for now I have to tell them  you have been spotted  Going back to my own anonymous lurkingJF LOEWENTHAL
somewhere in Paris France 
Subject Origins of the Intelligence Cycle

Does anybody have an idea concerning the historical origins of the Intelligence
Cycle Hulnick says in his paper The Intelligence ProducerPolicy Consumer
Linkage that the origins of the idea are not clear I understand that it was
originally designed by the French but any information about an article book
concerning its origins would be gratefully received

Yours

Adam Pode
co Centre for Hazard  Risk Management
Loughborough University
LOUGHBOROUGH
Leics LE TU UK
Tel    Fax   
E Mail As above



Date Tue  Oct   
From adscapes 
Subject Re Origins of the Intelligence Cycle

At  PM   you wrote
Does anybody have an idea concerning the historical origins of the Intelligence
Cycle Hulnick says in his paper The Intelligence ProducerPolicy Consumer
Linkage that the origins of the idea are not clear I understand that
it was
originally designed by the French but any information about an article book
concerning its origins would be gratefully received

Yours

Not quite sure what you mean by intelligence cycle But the oldest texts
making reference to Intelligence spying would be texts from Sun Tzu and
Wei LiaoTzu two chinese warfare strategests that ripped mystism from
chinese warfare strategy

Those unguarded in their communications can be clandestinly listed to
Wei LiaoTzu

Something like the rd BC

Ill have to check

Turiyan



End of CLOAKSANDDAGGERS Digest   Oct  to  Oct 














InfowarCom  Interpact Inc
WebWarriorInfowarCom

Voice 
Fax 








