



Motor Oils for crankcase






MOTOR OILS FOR CRANKCASE



 
 
 Elaioacuten SJ
 SAE W A SJ
 high performance for vehicles equipped with carburation
 gasoline engines fuelinjected standard suction or
 turbocharged engines
 
 
 SAE W B
 CF specifically developed to meet typical
 last generation light Diesel engines requirements
 
 Elaioacuten Diesel
 
 
 
 Elaioacuten Ultra
 SAE W A SJ semisynthetic
 It is the first and only lube in the country meeting Energy
 Conserving category requirements
 
 
 SAE W A SJ
  synthetic last generation specially designed for
 sport or highrange vehicles
 
 Elaioacuten Sinteacutetico
 
 
 
 Genemax
 Genemax Semisynthetic Lube
 specially developed to meet CNG vehicles requirements
 
 
 SAE  or 
 API SFCC provides best protection for
 gasoline engines against muddying varnishing and rust
 which are typical of city service
 
 
 Super Moacutevil HD Suplemento 
 




 
 Return
 to Automobile Lubes
 
 


 
 



