



Twostroke Oils






TWOSTROKE OILS



 
 
 
 Sintoil T BIO 
 
 Sintoil T BIO Biodegradable synthetic
 lube for twostroke watercooled engines It is used on
 both automatic mixing systems and tank
 
 
 Sintoil T Motos Fully
 synthetic lube resulting from balanced formulation
 containing low ash content additives which has been
 specially designed for twostroke aircooled gasoline
 engines
 
 Sintoil T Motos
 
 
 
 Super Moacutevil T BH
 Super Moacutevil T BH It has been
 homologated upon passing tests performed on Honda
 Yamaha and Suzuki engines under registration number
  granted by JASO two cycle oil standards
 implementation panel
 




 
 Return
 to Automobile Lubes
 
 


 
 



