



Motor Oils for heavy vehicles






MOTOR OILS FOR HEAVY VEHICLES



 
 
 Diesel Moacutevil Extra Vida
 LongLife
 Multigrade SAE W
 which exceeds API CF classification is highly capable
 of keeping this soot suspended accordingly it has bee
 granted new ACEA E classification
 
 
 Monograde SAE  o
  for all types of Diesel engines requiring
 lubes which meet Mercedes Benzs requirements
 
 Diesel Moacutevil AT
 
 
 
 Super Moacutevil HD
 Suplemento 
 Monograde SAE  o  API
 SFCC provides for gasoline engines highest
 protection against muddying varnishing and rust which
 are typical of city service
 




 
 Return
 to Automobile Lubes
 
 


 
 



