



Maxus Indonesia SP




 


 
 En Widuri la plataforma de
 produccion recibe el crudo desde los pozos y lo envia a
 las instalaciones de procesamiento al fondo donde se
 separan el agua y otras impurezas
 
 

YPFMaxus tiene participacioacuten en dos importantes
contratos de produccioacuten para dos yacimientos en el Mar de
Java Los contratos se firmaron con la petrolera estatal de
Indonesia YPFMaxus es la segunda productora de petroacuteleo
del archipieacutelago y la principal productora de
petroacuteleo que extrae offshore En  la
produccioacuten neta promedioacute  barrilesdiacutea
de petroacuteleo y condensados y  millones de pies
cuacutebicosdiacutea de gas natural Estas producciones
correspondieron aproximadamente al  de la produccioacuten
internacional de petroacuteleo y gas de YPF en  y al  de
las reservas internacionales al finalizar el ejercicio



 
 
 La isla de Pabelokan es la base
 operativa para las operaciones de exploracion y
 produccion de Maxus en el SE de Sumatra Este complejo
 construido en  incluye comodidades para el
 alojamiento de  personas dispone de generacion propia
 de electricidad e instalaciones para reparaciones y
 almacenamiento de equipos offshore y para desalinizar
 aguas
 

YPFMaxus es operadora de un contrato de
produccioacuten en la regioacuten sudoriental de Sumatra en
un yacimiento de  km de superficie Desde el primer
descubrimiento de petroacuteleo en  se registra en este
bloque una produccioacuten acumulada de  millones de
barriles de crudo y a fines del ejercicio  las reservas
comprobadas remanentes se estimaban en  millones de barriles
brutos Los yacimientos Intan Indri y Widuri tienen el  de
esas reservas
En  la produccioacuten bruta de YPFMaxus
en el bloque de Sumatra Sudoriental fue de 
barrilesdiacutea  menos que los  bpd producidos en
 La declinacioacuten se debioacute en gran parte al
agotamiento natural de los yacimientos que se
contrarrestoacute parcialmente con un activo programa de
perforacioacuten de pozos de relleno Este programa
permitioacute extraer  millones de barriles en la
regioacuten sur del bloque el volumen anual maacutes grande
desde 
En  YPFMaxus incorporoacute maacutes de
 millones de barriles volumen equivalente al  de la
produccioacuten del antildeo Estas reservas se originaron
fundamentalmente en un agresivo programa de perforacioacuten
que permitioacute terminar con eacutexito  pozos de
desarrollo Tambieacuten se perforaron  pozos exploratorios
descubriendo en ellos pequentildeas acumulaciones de
petroacuteleo
En  YPFMaxus inicioacute estudios
destinados a incrementar la produccioacuten mediante el uso de
sistemas mejorados de bombeo y de generacioacuten de
energiacutea eleacutectrica que aumentan el caudal de
surgencia de los fluidos La empresa tambieacuten estaacute
evaluando diversas alternativas para explotar reservorios
maacutes pequentildeos de hidrocarburos identificados con
programas previos de perforacioacuten Aunque todaviacutea no
se completaron estos estudios YPFMaxus considera que existen
numerosas oportunidades para intensificar la produccioacuten de
crudo en el bloque de Sumatra Sudoriental
Ademaacutes de sus operaciones de
produccioacuten de petroacuteleo en el bloque de Sumatra
Sudoriental YPFMaxus determinoacute la existencia de reservas
de gas natural que ascienden aproximadamente a los  mil
millones de pies cuacutebicos

YPFMaxus tiene el  de participacioacuten en
el Area de Contrato de Java Noroccidental un bloque de 
km donde la petrolera ARCO Atlantic Richfield es la
operadora El aacuterea limita con el bloque de Sumatra
Sudoriental Al igual que este Java Noroccidental fue un
proliacutefico productor de crudo con  millones de
barriles acumulados desde cuando se descubrioacute
petroacuteleo en  A fines de  las reservas
comprobadas de este bloque sumaban  millones de barriles de
petroacuteleo y de  millones de millones de pies
cuacutebicos de gas natural El area de contrato tiene 
plataformas en produccioacuten y  pozos productores En 
la produccioacuten bruta de crudo promedioacute los 
bpd contra los  bpd producidos en  La
reduccioacuten del  refleja la declinacioacuten natural de
los yacimientos Por esto en  se perforaron  pozos de
desarrollo y se instalaron nuevas plataformas en los yacimientos
BM KLC y KNA Ademaacutes se descubrieron dos nuevos
yacimientos
El bloque de Java Noroccidental tiene una
considerable base de recursos de gas natural y abastece a un
mercado significativo de generacioacuten de energiacutea
eleacutectrica por combustioacuten de gas en Indonesia A la
fecha se certificaron reservas producibles por maacutes de 
millones de millones de pies cuacutebicos de gas natural Ya se
inicioacute un programa de desarrollo por etapas y en la
primera fase que comenzoacute en  la produccioacuten
bruta pasoacute de  mmcfd  a  mmcfd en  La
mayor parte del gas lo recibe la petrolera estatal de Indonesia
en virtud de un contrato de  antildeos de duracioacuten
que establece la entrega de un volumen miacutenimo de  mmcfd
a US por milloacuten de BTU Ahora se negocia la
posibilidad de vender voluacutemenes adicionales de gas por
contratos de corto y de largo plazo
 



