



Maxus Bolivia sp






YPFMaxus tiene una
participacioacuten del  en el bloque Mamore  que es una
concesioacuten de  km ubicada en las estribaciones de la
cordillera de los Andes en la regioacuten central de Bolivia
aproximadamente  kiloacutemetros al noroeste de Santa Cruz
de la Sierra El yacimiento Surubi se descubrioacute en  y
la produccioacuten se inicioacute a fines de  En 
la produccioacuten de crudo promedioacute los  bpd en
comparacioacuten con  bpd en  y se espera que aumente
en  El bloque Mamore  tiene una cantidad de prospectos no
perforados que se espera ensayar en  YPFMaxus
tambieacuten tiene una participacioacuten del  en el
bloque Secureacute de  km de superficie contiguo al
Mamore  donde ya se estaacute realizando un programa de
registracioacuten siacutesmica Ademaacutes se ha
planificado la perforacioacuten de un pozo exploratorio en

YPFMaxus inicioacute programas
de siacutesmica en los bloques Lagunillas y Charagua donde es
operadora con una participacioacuten del  y 
respectivamente En el caso de Lagunillas YPFMaxus ha
planificado la perforacioacuten de un pozo exploratorio inicial
para el segundo semestre de  Ademaacutes se estaacute
realizando el relevamiento siacutesmico en el bloque
Caipipendi del cual Chevron es operadora y donde YPFMaxus tiene
una participacioacuten del 
Por otra parte YPFMaxus es el
operador del bloque Montero con una participacioacuten del
 
 



