



Maxus Ecuador sp






YPFMaxus es el operador y posee
una participacioacuten del  en el proyecto del Bloque  de
 km de extensioacuten en la regioacuten del Oriente de
Ecuador donde hay siete yacimientos descubiertos La
produccioacuten se inicioacute en  despueacutes de
terminar las obras de infraestructura e instalaciones de
procesamiento y el tendido de un ducto que vincula al bloque con
el Sistema del Oleoducto Transandino Ecuatoriano En  la
produccioacuten de petroacuteleo bruta promedioacute 
bpd proveniente de cuatro yacimientos El antildeo anterior la
produccioacuten habiacutea sido de  bpd Ahora la
produccioacuten estaacute limitada por la capacidad de
transporte del oleoducto y se iniciaron negociaciones para
incrementar dicha capacidad Simultaacuteneamente se
desarrollan tres yacimientos nuevos e YPFMaxus analiza con
representantes del gobierno de Ecuador posibles foacutermulas
para mejorar la economiacutea del proyecto
YPFMaxus tambieacuten integra
un consorcio internacional que adquirioacute los derechos de
produccioacuten por concesioacuten de  antildeos para
desarrollar bloques de hidrocarburos en la regioacuten
Amazoacutenica de Ecuador
 



