



Notas a los Estados Contables 





NOTAS A LOS ESTADOS CONTABLES 
POR LOS EJERCICIOS FINALIZADOS EL  DE DICIEMBRE DE   Y

continuacioacuten

 
 
  
 
 Paacutegina
 Anterior
 


Detalle de los Principales Rubros de los Estados Contables 
Se indica a continuacioacuten la
composicioacuten de los principales rubros de cada estado
contable a las fechas de cierre indicadas o por los ejercicios
finalizados en esas fechas seguacuten corresponda

 
 Balances
 Generales 
 


 Activo 



 
 
 
 
 
 
 
 a
 Inversiones
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Colocaciones transitorias
 
 
 
 
 
 
 
 
 Tiacutetulos puacuteblicos Anexo C
 
 
 
 
 
 
 
 
 Sociedades Art   Ley N  Anexo C
 
 
 
 
 
 
 
 
 Previsioacuten para desvalorizacioacuten de las
 participaciones en Sociedades Art   Ley N Anexo E
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 




 
 
 
 
 
 
 
 b
 Creditos por ventas
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Deudores del sector privado
 
 
 
 
 
 
 
 
 Deudores del sector puacuteblico
 
 
 
 
 
 
 
 
 Documentos a cobrar   
 
 
 
 
 
 
 
 
 Sociedades Art   Ley N  Nota
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Previsioacuten para deudores por ventas de cobro
 dudoso Anexo E
 
 
 
 
 
 
 
 
 Previsioacuten para valuar creacuteditos con el
 sector puacuteblico a su probable valor de
 realizacioacuten Anexo
 E
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 


 Estos documentos incluyen intereses por
 al  de diciembre de  devengando intereacutes Libor
maacutes un  anual
 Al  de diciembre de  los vencimientos de los documentos
a cobrar a largo plazo son los siguientes  en   en
  en  y  en el 


 
 
 
 
 
 
 
 c
 Otros creacuteditos
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Creacuteditos y anticipos de impuestos
 
 
 
 
 
 
 
 
 Deudores por servicios
 
 
 
 
 
 
 
 
 Por venta de tiacutetulos puacuteblicos
 
 
 
 
 
 
 
 
 Gastos pagados por adelantado
 
 
 
 
 
 
 
 
 Sociedades Art   Ley N  Nota
 
 
 
 
 
 
 
 
 
 Swap financiero  diferencia de cambio
 
 
 
 
 
 
 
 
 Ahorro obligatorio 
 Nota
 
 
 
 
 
 
 
 
 
 Por venta de bienes de uso 
 
 
 
 
 
 
 
 
 Preacutestamos a clientes
 
 
 
 
 
 
 
 
 Bonos emitidos por el Estado Nacional
 
 
 
 
 
 
 
 
 Por reconversioacuten de contratos Nota
 
 
 
 
 
 
 
 
 
 Diversos
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Previsioacuten para otros creacuteditos de cobro
 dudoso Anexo E
 
 
 
 
 
 
 
 
 Previsioacuten para valuar otros creacuteditos a
 su probable valor de realizacioacuten Anexo E
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


  devengan intereacutes a una tasa del
 anual o Libor maacutes  anual la que fuera mayor y 
devengan intereacutes a una tasa fija del  anual
 Garantizado por acciones de Sevel Argentina SA que a su
valor de cotizacioacuten al  de diciembre de 
representaba 


 
 d
 Bienes de cambio
 
 
 
 
 
 Productos destilados para la venta 
 
 
 
 
 
 Petroacuteleo crudo
 
 
 
 
 
 Productos en proceso de destilacioacuten
 
 
 
 
 
 Materias primas y envases
 
 
 
 
 
 Materiales
 
 
 
 
 
 
 
 
 
 
 
 Previsioacuten para obsolescencia de bienes de
 cambio Anexo E
 
 
 
 
 
 
 
 
 
 




 
 e
 Bienes de uso
 
 
 
 
 
 Valor residual de bienes de uso Anexo A
 
 
 
 
 
 Previsioacuten para obsolescencia de
 materiales Anexo E
 
 
 
 
 
 Previsioacuten para bienes de uso a desafectar Anexo E
 
 
 
 
 
 Previsioacuten para perforaciones exploratorias
 improductivas Anexo E 
 
 
 
 
 
 
 
 
 
 



 Pasivo 



 
 
 
 
 
 
 
 f
 Cuentas por pagar
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Proveedores
 
 
 
 
 
 
 
 
 Sociedades Art   Ley N  
 Nota
 
 
 
 
 
 
 
 
 
 Obligaciones a pagar
 
 
 
 
 
 
 
 
 Diversas 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 




 
 
 
 
 
 
 
 
 
 g
 Prestamos
 Tasa de Intereacutes
 Vencimiento del Capital
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Deuda financiera externa 
 
 
 
 
 
 
 
 
 
 
 Bank of New York y otros  intereses
 
 
 
 
 
 
 
 
 
 
 The Export Import Bank of Japan
 
 
 
 
 
 
 
 
 
 
 Banco Internacional de Reconstruccioacuten y
 Fomento quotBIRFquot
 
 
 
 
 
 
 
 
 
 
 Swap financiero  Intereacutes adicional
 
 
 
 
 
 
 
 
 
 
 Otros acreedores
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Retencioacuten impuesto a las ganancias 
 beneficiarios del exterio
 
 
 
 
 
 
 
 
 
 
 Menos Compromiso de aporte para asumir los intereses
 sobre la deuda financiera externa sujeta al Plan Brady
  Bank of New York y otros  Ley N  Nota
 
 
 
 
 
 
 
 
 
 
 
 Menos Compromiso de aporte para asumir deuda
 financiera externa  Ley N  Nota
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Obligaciones Negociables  US millones
 
 
 
 
 
 
 
 
 
 
 Obligaciones Negociables  US millones Programa
 Global por US millones
 
 
 
 
 
 
 
 
 
 
 Obligaciones Negociables  US  millones Programa
 Global por US millones
 
 
 
 
 
 
 
 
 
 
 Sociedades Art   Ley N  
 Nota
 
 
 
 
 
 
 
 
 
 
 
 Prefinanciacioacuten de exportaciones 
 
 
 
 
 
 
 
 
 
 
 Otras deudas bancarias
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


Tasa de intereacutes anual vigente al 
de diciembre de 
Al  de diciembre de  los vencimientos de
los preacutestamos a largo plazo son los siguientes 


 
 
 De  a  antildeos
 De  a  antildeos
 De  a  antildeos
 De  a  antildeos
 A maacutes de  antildeos
 Total
 
 
 Prestamos 
 
 
 
 
 
 
 


Los preacutestamos en moneda extranjera al 
de diciembre de   y  se detallan en el Anexo G
Al  de diciembre de  los principales
preacutestamos que incluyen claacuteusulas restrictivas son
los siguientes

 
 
 Obligaciones Negociables 
 Durante el ejercicio finalizado el  de
 diciembre de  la Sociedad emitioacute Obligaciones
 Negociables por US millones de valor nominal Las
 condiciones finales de la colocacioacuten fueron 
 del valor nominal y tasa fija de  anual Los ingresos
 netos fueron utilizados en parte para cancelar anticipada
 mente uno de los preacutestamos pendientes con el
 BIRF El remanente de los ingresos netos provenientes
 de esta emisioacuten fueron destinados a cancelar otras
 deudas bancarias y a financiar inversiones y gastos de
 capital 
 Durante el ejercicio finalizado el  de
 diciembre de  la Sociedad emitioacute 
 
 Obligaciones Negociables por US millones de
 valor nominal correspondientes al programa global
 de hasta US millones aprobado por el
 Directorio en su reunioacuten del  de julio de
  Las Obligaciones Negociables devengan una
 tasa fija anual del  Los fondos
 provenientes de esta emisioacuten se aplicaron
 a la refinanciacioacuten de pasivos y a la
 realizacioacuten de inversiones en activos
 fijos
 Obligaciones Negociables por US millones de
 valor nominal correspondientes al programa global
 de hasta US millones aprobado por el
 Directorio en sus reuniones del  de septiembre y
  de octubre de  y la Asamblea General
 Ordinaria de Accionistas del  de octubre de
  Las Obligaciones Negociables fueron
 colocadas a  de su valor nominal
 maacutes los intereses devengados desde el 
 de octubre al  de noviembre de  y con una
 tasa de intereacutes fija del  anual Los
 fondos provenientes de esta emisioacuten se
 aplicaron a la refinanciacioacuten de pasivos
 
 Los pagos de capital e intereses
 correspondientes a estas emisiones se efectuaraacuten
 con los ingresos provenientes de las exportaciones
 relacionadas con el contrato de venta de crudo a largo
 plazo con ENAP Nota
  En relacioacuten con las emisiones de las
 Obligaciones Negociables la Sociedad ha acordado
 opciones que tienen por objeto establecer una
 proteccioacuten sobre el precio de venta de dicho
 contrato en el caso que este precio sea inferior a US
 por barril de crudo 
 En relacioacuten con las emisiones de
 Obligaciones Negociables la Sociedad y sus sociedades
 controladas han acordado ciertas claacuteusulas
 incluyendo entre otras pagar todos sus pasivos a su
 vencimiento y no crear gravaacutemenes que excedan el
  del total de activos 
 En caso de incumplimiento de alguna de
 las claacuteusulas pactadas el fiduciario o los
 tenedores titulares de por lo menos un  del monto
 total de capital de las Obligaciones Negociables en
 circulacioacuten podraacuten declarar exigible y
 pagadero el capital e intereses devengados de todas las
 obligaciones en forma inmediata 
 
 
  The Export
 Import Bank of Japan Financiamiento de obras de
 infraestructura 
 En caso de ocurrir alguna de las
 situaciones que se exponen a continuacioacuten este
 banco podraacute a su opcioacuten declarar vencido
 y pagadero inmediatamente todo el capital pendiente de
 cancelacioacuten conjuntamente con los intereses y
 demaacutes cargas correspondientes 
 
 
 si la Sociedad incumpliera por
 maacutes de  diacuteas en el pago de
 capital o intereacutes 
 
 
 ante cualquier accioacuten o
 proceso por el cual los activos de la Sociedad
 pudieran ser distribuidos entre sus acreedores o 
 
 
 en caso de disolucioacuten yo
 suspensioacuten de las operaciones de la
 Sociedad 
 
 
 El acuerdo de preacutestamos con el
 Export Import Bank of Japan contiene claacuteusulas
 previendo causales de incumplimiento Este acuerdo
 requiere que YPF informe al Export Import Bank of Japan
 cualquier transaccioacuten fuera del curso normal de
 los negocios que resulte en disposiciones de activos
 significativas Debido al proceso de privatizacioacuten
 y transformacioacuten que la Sociedad completoacute
 al  de diciembre de  YPF ha obtenido una
 exencioacuten de caraacutecter permanente a esta
 restriccioacuten por parte del Export Import Bank of
 Japan y en relacioacuten con esta autorizacioacuten
 la Sociedad se ha comprometido a mantener su porcentaje
 de participacioacuten del  en Refineriacutea del
 Norte SA y a evitar que esta sociedad disponga de sus
 principales activos operativos durante la vigencia del
 plazo del preacutestamo 
 Adicionalmente el acuerdo de
 preacutestamos con el Export Import Bank of Japan
 contiene causales de incumplimiento que pueden
 materializarse mediante notificacioacuten del
 prestamista en caso de que el Gobierno Argentino como
 garante de los preacutestamos deje de pagar sus
 obligaciones vencidas por un monto acumulado de
 maacutes de  millones de doacutelares
 estadounidenses o suspenda sus pagos o no esteacute
 en condiciones de pagar o solicite que cualquiera de sus
 obligaciones sea diferida pospuesta o reescalonada o se
 acuerde declare o imponga una moratoria en el pago de
 las mismas La Sociedad no ha sido notificada de
 ninguacuten incumplimiento relacionado con este
 acuerdo 
 En abril de  la Sociedad cumpliendo
 con ciertas claacuteusulas contenidas en el contrato
 con el Export Import Bank of Japan informoacute a
 eacuteste sobre el acuerdo de fusioacuten mencionado
 en la Nota
  
 La informacioacuten referida al cambio
 de moneda que cubre la exposicioacuten a la
 devaluacioacuten del doacutelar estadounidense con
 respecto al yen se expone en la Nota
  
 
 
 
 Adquisicioacuten de acciones ordinarias de Maxus 
 En relacioacuten con la
 adquisicioacuten de las acciones ordinarias de Maxus
 seguacuten lo mencionado en la Nota
  la Sociedad ha asumido los siguientes
 compromisos 
 
 
 Respecto de los preacutestamos
 otorgados a las subsidiarias de Maxus por US
 millones financiados por el Chase Manhattan Bank
 seguacuten lo mencionado en la Nota
  la Sociedad ha acordado ciertas
 claacuteusulas restrictivas incluyendo entre
 otras mantener un endeudamiento sobre bases
 consolidadas inferior al  del total de
 endeudamiento maacutes patrimonio neto y
 mantener un patrimonio neto tangible superior al
  del patrimonio neto tangible al  de
 diciembre de  
 
 
 De acuerdo con el contrato de
 fusioacuten en caso de que Maxus no pueda
 hacer frente a sus obligaciones en el momento en
 que las mismas sean exigibles ya sea al
 vencimiento o por otro motivo incluyendo
 soacutelo a este propoacutesito los
 dividendos correspondientes a las acciones
 preferidas y los pagos por rescate YPF se
 comprometioacute por el periacuteodo de nueve
 antildeos posteriores a la fecha de la
 fusioacuten a capitalizar a Maxus hasta el
 monto necesario para permitirle afrontar sus
 obligaciones Este compromiso estaacute
 limitado al monto pagado por Maxus por el
 servicio de los preacutestamos para la
 adquisicioacuten incluyendo la
 refinanciacioacuten de dichos preacutestamos
 y se reduciraacute de acuerdo con el monto de
 cualquier aporte de capital efectuado por la
 Sociedad a Maxus luego de finalizada la
 fusioacuten y por el monto del producido neto
 de cualquier venta por Maxus de acciones
 ordinarias o de acciones preferidas no
 rescatables con posterioridad a la fusioacuten 
 
 
 Garantizar el pago de los
 preacutestamos de Maxus a largo plazo que
 ascendiacutean a aproximadamente US
 millones al momento de la adquisicioacuten 
 
 
 Garantizar el pago y el
 cumplimiento de toda obligacioacuten de Maxus
 con los tenedores de sus Acciones Preferidas de
 valor US incluyendo la obligacioacuten de
 pago de los dividendos trimestrales y de rescatar
 dichas acciones en ciertas circunstancias Las
 Acciones Preferidas de valor US en
 circulacioacuten al  de diciembre de 
 ascienden a  
 
 
 
 
 
 Morgan Guaranty Trust Company of New York
 quotMorganquot 
 En agosto de  el Morgan
 otorgoacute a YPF un preacutestamo de aproximadamente
 US millones con el objeto de refinanciar ciertos
 pasivos Este creacutedito devenga una tasa anual de
  y su vencimiento final operaraacute en julio de
  Como consecuencia del acuerdo de preacutestamo
 firmado la Sociedad ha acordado ciertas claacuteusulas
 restrictivas incluyendo entre otras mantener un
 endeudamiento sobre bases consolidadas inferior al 
 del total de endeudamiento maacutes patrimonio neto y
 mantener un patrimonio neto tangible superior al  del
 patrimonio neto tangible al  de diciembre de  
 
 
 Estados
 de Resultados 
 h
 Consolidacioacuten Proporcional 
 Seguacuten se explica en nota
 j los resultados de inversiones permanentes en
 sociedades controladas excepto por Agroquiacutemica
 Latinoamericana SA la cual se encuentra totalmente
 previsionada y en aquellas sociedades vinculadas en las
 cuales se posee una participacioacuten del  han
 sido consolidadas proporcionalmente liacutenea por
 liacutenea neto de las operaciones entre dichas
 sociedades a partir del uacuteltimo trimestre de 
 Este cambio de presentacioacuten ha sido aplicado
 retroactivamente para fines comparativos 
 La apertura de los estados de resultados
 de YPF y las sociedades proporcionalmente consolidadas
 quotOtrasquot neto de las operaciones entre dichas
 sociedades es la siguiente 
 



 
 
 
 
 
 
 
 
 YPF
 Otras
 Total
 YPF
 Otras
 Total 
 YPF 
 Otras
 Total 
 
 
 Ventas netas Noa
 
 
  
 
 
 
 
 
 
 
 
 
 Costo de ventas 
 Anexo F
 
 
 
 
 
 
 
 
 
 
 
 Utilidad bruta
 
 
 
 
 
 
 
 
 
 
 
 Gastos de administracioacuten Anexo H
 
 
 
 
 
 
 
 
 
 
 
 Gastos de comercializacioacuten Anexo H
 
 
 
 
 
 
 
 
 
 
 
 Gastos de exploracioacuten Anexo H
 
  
  
 
 
 
 
 
 
 
 
 Utilidad peacuterdida operativa
 
 
 
 
 
 
 
 
 
 
 
 Resultados de inversiones permanentes
 
 
 
 
 
 
 
 
 
 
 
 Otros ingresos egresos netos Nota i
 
 
 
 
 
 
 
 
 
 
 
 Resultados financieros y por tenencia 
 
 
 Generados por activos Nota
 j
 
 
 
 
 
 
 
 
 
 
 
 Generados por pasivos Nota
 j
 
 
 
 
 
 
 
 
 
 
 
 Resultados por reconversioacuten de contratos y
 venta de aacuterea Nota
 k
 
 
 
 
 
 
 
 
 
 
 
 Utilidad neta antes de resultados inusuales impuesto
 a las ganancias y sobre los activos y dividendos al
 capital preferido
 
 
 
 
 
 
 
 
 
 
 
 Resultados inusuales netos Nota l
 
 
 
 
 
 
 
 
 
 
 
 Utilidad neta antes de impuesto a las ganancias y
 sobre los activos y dividendos al capital preferido
 
 
 
 
 
 
 
 
 
 
 
 Impuesto a las ganancias y sobre los activos
 
 
 
 
 
 
 
 
 
 
 
 Utilidad neta antes de dividendos al capital
 preferido
 
 
 
 
 
 
 
 
 
 
 
 Dividendos al capital preferido de sociedades
 controladas
 
 
 
 
 
 
 
 
 
 
 
 Utilidad neta
 
 
 
 
 
 
 
 
 
 
 
 Utilidad neta por accioacuten Nota
 
 
 
 
 
 
 
 
 
 
 



 i
 Otros ingresos egresos netos



 
 
 Ingresos Egresos
 
 
 
 
 
 
 
 
 Utilidad por la cancelacioacuten de
 cargas fiscales con BOCONES 
 Nota
 g
 
 
 
 
 
 Indemnizaciones por despidos y otros
 gastos de personal 
 
 
 
 
 
 Obra social
 
 
 
 
 
 Baja de bienes de uso y materiales obsoletos
 
 
 
 
 
 Diversos
 
 
 
 
 
 
 
 
 
 


La operatoria de la Obra Social se detalla en
la Nota
a 

 j
 Resultados financieros y por tenencia



 
 
 Ganancia Perdida
 
 
 
 
 
 
 
 
 Generados por activos
 
 
 Intereses
 
 
 
 
 
 Diferencia de cambio
 
 
 
 
 
 Resultado por venta y por tenencia de BOCONES
 
 
 
 
 
 Resultado por exposicioacuten a la inflacioacuten
 
 
 
 
 
 Resultado por tenencia de bienes de cambio Anexo F
 
 
 
 
 
 
 
 
 
 
 
 Generados por pasivos
 
 
 
 
 
 Intereses
 
 
 
 
 
 Diferencia de cambio
 
 
 
 
 
 Resultado por exposicioacuten a la inflacioacuten
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



 k
 Resultados por Reconversioacuten de Contratos y venta de
 aacutereas Nota
 



 
 
 Ganancia Perdida
 
 
 
 
 
 
 
 
 Reconversioacuten contrato Amoco 
 
 
 
 
 
 Venta aacuterea Riacuteo Neuqueacuten
 
 
 
 
 
 Reconversioacuten contrato TOTAL
 
 
 
 
 
 
 
 
 
 



 l
 Resultados inusuales netos



 
 
 Ganancia Perdida
 
 
 
 
 
 
 
 
 Plan de reestructuracioacuten 
 Indemnizaciones por despidos 
 
 
 
 
 
 Ganancia por la cesioacuten yo asociacioacuten
 en aacutereas y por la venta de otros activos
 relacionados con la privatizacioacuten de YPF
 
 
 
 
 
 Otros
 
 
 
 
 
 
 
 
 
 




 
 
 Paacutegina
 Siguiente 
 
 
 

 



