



En Memoria De Joseacute AEstenssoro




 
 
 



El  de mayo de  Joseacute A Estenssoro Presidente de
YPF fallecioacute en un accidente de aviacioacuten Volaba a
Ecuador en viaje de negocios Los ejecutivos y empleados de YPF
lamentan la peacuterdida de este liacuteder eneacutergico e
innovador que fue ademaacutes un carismaacutetico
representante de la Argentina en el exterior y un gran amigo
Pepe Estenssoro como lo llamaron quienes lo
conocieron fue el arquitecto de la YPF actual El lideroacute
el proceso de su transformacioacuten histoacuterica y la
convirtioacute de empresa petrolera estatal en una
compantildeiacutea internacional rentable y pujante que
cotiza sus acciones en la Bolsa de Valores de Nueva York
Pepe Estenssoro durante ese periacuteodo de
cambios rotundos establecioacute tambieacuten la
visioacuten empresarial de YPF a largo plazo y sentoacute un
ejemplo no soacutelo para cada uno de los empleados de la
empresa sino tambieacuten para otras compantildeiacuteas
petroleras latinoamericanas e internacionales embarcadas en
programas de privatizacioacuten
En  el Ingeniero Joseacute A Estenssoro fue nombrado
Interventor de YPF por el Gobierno Argentino Previamente habia
trabajado  antildeos en Hughes Tool Company donde
ocupoacute diversos cargos gerenciales hasta llegar a
Presidente de la empresa en  En  Pepe
Estenssoro fue elegido Presidente de YPF y desde ese puesto
condujo los procesos de reestructuracioacuten y
privatizacioacuten que culminaron en  con la oferta
puacuteblica inicial a nivel mundial de acciones de YPF La
visioacuten y sabiduriacutea de Joseacute A Estenssoro
fueron factores claves para el eacutexito de esta
transformacioacuten sin precedentes
Su presencia se seguiraacute extrantildeando
profundamente pero el impacto de su gestioacuten y liderazgo
permaneceraacuten en YPF Sus logros ya son histoacutericos y
su visioacuten empresarial seguiraacute vigente impulsada
por el soacutelido equipo gerencial que eacutel supo
organizar Su recuerdo estaacute profundamente grabado en
nuestros corazones Su legado es el sentimiento de compromiso que
eacutel supo transmitir a todos y cada uno de los empleados de
YPF y el impulso permanente para alcanzar las metas y objetivos
estrateacutegicos de la empresa
 



