



Notas a los Estados Contables 





NOTAS A LOS ESTADOS CONTABLES 
POR LOS EJERCICIOS FINALIZADOS EL  DE DICIEMBRE DE   Y

continuacioacuten

 
 
  
 
 Paacutegina
 Anterior
 


Activos de Disponibilidad Restringida y Garantias Otorgadas
Al  de diciembre de  en garantiacutea
del cumplimiento de contratos la Sociedad entregoacute
documentos por US millones Adicionalmente YPF se
constituyoacute como codeudor de YPF Gas SA por US millones
por preacutestamos bancarios otorgados a esta uacuteltima
sociedad
Asimismo YPF ha asumido garantiacuteas a favor
de los acreedores de Petroken Petroquiacutemica Ensenada SA
quotPetrokenquot que al  de diciembre de 
ascendiacutean a US  millones como consecuencia de haber
adquirido en junio de  el  del paquete accionario de la
mencionada sociedad Adicionalmente las acciones que YPF posee
de esta sociedad no pueden ser vendidas sin la previa
autorizacioacuten de la Corporacioacuten Financiera
Internacional hasta la cancelacioacuten total de los
preacutestamos otorgados por esta entidad a Petroken
La Sociedad ha prendado las acciones que posee de
Oleoducto Trasandino Argentina SA Oleoducto Trasandino
Chile SA y AampC Pipeline Holding Company en
garantiacutea del cumplimiento de preacutestamos que al  de
diciembre de  ascendiacutean a US millones otorgados por
Riobank International y Bank of America a las dos sociedades
mencionadas en primer lugar Tambieacuten cedioacute en
garantiacutea del cumplimiento de uno de los preacutestamos
mencionados anteriormente la concesioacuten de transporte para
explotar el oleoducto trasandino dentro de los liacutemites de
la Repuacuteblica Argentina
Adicionalmente en relacioacuten con la
adquisicioacuten de las acciones ordinarias de Maxus
Petroquiacutemica Bahiacutea Blanca SAIC e Indupa
SAIC la Sociedad ha asumido ciertos compromisos los cuales
se detallan en las Notas
g y  respectivamente
 Medio
Ambiente
La Direccioacuten de YPF estima que las
operaciones de la Sociedad se ajustan en forma sustancial a las
leyes y regulaciones relativas a la proteccioacuten del medio
ambiente actualmente vigentes en Argentina tal como han sido
histoacutericamente interpretadas y aplicadas Sin embargo las
autoridades locales provinciales y nacionales estaacuten
tendiendo a exigir un cumplimiento maacutes estricto de las
leyes aplicables y a la implementacioacuten de pautas
ambientales en muchos sentidos comparables con aquellas
actualmente vigentes en los Estados Unidos de Ameacuterica y en
paiacuteses de la Comunidad Econoacutemica Europea
Los gastos requeridos para subsanar dantildeos
ya causados han sido provisionados al  de diciembre de 
Estas estimaciones se basan en el programa de
remediacioacuten actual efectuado por la Direccioacuten de la
Sociedad Cambios legislativos y tecnoloacutegicos futuros
podriacutean causar una reevaluacioacuten de esas
estimaciones Sobre la base de la evidencia actualmente
disponible la Direccioacuten de la Sociedad cree que estos
cambios no produciriacutean un impacto significativo en la
situacioacuten financiera de YPF pero los posibles cambios en
los gastos proyectados como resultado de modificaciones en las
leyes o regulaciones argentinas podriacutean afectar los
resultados de las operaciones en el largo plazo
 Capital
Social
El capital suscripto es de  y estaacute
representado por  de acciones ordinarias
escriturales de valor nominal  y se encuentra totalmente
suscripto integrado y autorizado a la oferta puacuteblica No
ha habido cambios en la cantidad de acciones desde la
privatizacioacuten de la Sociedad
Las acciones de la Sociedad previo a la oferta
puacuteblica inicial fueron convertidas en cuatro clases como
se detalla a continuacioacuten


 
 Clase A
 Acciones pertenecientes al Estado Nacional En abril
 de  a traveacutes de la Ley N  se ha
 autorizado al Estado Nacional a reducir su tenencia
 accionaria a una sola accioacuten
 
 
 Clase B 
 Acciones adquiridas por las Provincias En enero de
  las Provincias vendieron parte de su
 participacioacuten en YPF
 
 
 Clase C
 Acciones a ser adquiridas por el personal de la
 Sociedad equivalentes al  del Capital Social a un
 precio de  por accioacuten El precio de venta de
 estas acciones seraacute integrado con las
 distribuciones de dividendos correspondientes y con el
  de las utilidades generadas por los bonos de
 participacioacuten en las ganancias emitidos de acuerdo
 con la Ley N  Nota
 
 
 
 Clase D 
 Acciones vendidas al capital privado 
 


Mientras existan acciones Clase A se
requeriraacute ineludiblemente su voto afirmativo para 
fusiones  adquisicioacuten de maacutes del  de las
acciones de la Sociedad en caso de copamiento accionario
consentido u hostil  transferencia total de los derechos de
exploracioacuten y explotacioacuten o  disolucioacuten
voluntaria de la Sociedad En los casos  y  se
requeriraacute ademaacutes la previa aprobacioacuten del
Congreso de la Nacioacuten
La estructura del capital al  de diciembre de
 es la siguiente


 
 Acciones Clase A
 
 
 
 Acciones Clase B
 
 
 
 Acciones Clase C
 
 
 
 Acciones Clase D
  
 
 
 
 
 



Sucursales en el Exterior y Participacioacuten en Uniones
Transitorias de Empresas y Consorcios
Al  de diciembre de  la Sociedad integraba
los siguientes consorcios de exploracioacuten y
explotacioacuten


 
 Nombre y
 ubicacioacuten
 Participacioacuten
 Operador
 Ultimos Estados Contables
 Emitidos 
 Duracioacuten Hasta
 Actividad
 
 
 Vizcacheras Mendoza 
 
 Astra CAPSA
 
 
 Extraccioacuten de petroacuteleo
 
 
 El Huemul Santa Cruz 
  
 Total Austral SA
 
 
 Extraccioacuten de petroacuteleo y gas
 
 
 Puesto Hernaacutendez
 Neuqueacuten and Mendoza 
 
 Perez Companc SA
 
 
 Extraccioacuten de petroacuteleo
 
 
 El TordilloChubut
 
 Tecpetrol SA
 
 
 Extraccioacuten de petroacuteleo
 
 
 Santa Cruz I Santa Cruz 
 
 Quintana Exploration Argentina SA
 
 
 Exploracioacuten y extraccioacuten de
 petroacuteleo y gas
 
 
 Magallanes A
 Santa Cruz
  
 Sipetrol SA
 
 
 Extraccioacuten de petroacuteleo y gas
 
 
 Santa Cruz II Santa Cruz
 
 Perez Companc SA
 
 
 Exploracioacuten y extraccioacuten de
 petroacuteleo y gas
 
 
 Tierra del Fuego Tierra del
 Fuego
 
 Bridas SAPIC 
 
 
 Extraccioacuten de petroacuteleo y gas
 
 
 Palmar Largo Formosa
 
 Pluspetrol SA
 
 
 Extraccioacuten de petroacuteleo y gas
 
 
 Aguaraguumle Salta
 
 Tecpetrol SA
 
 
 Exploracioacuten y extraccioacuten de
 petroacuteleo y gas
 
 
 El PortoacutenButa
 Ranquil Neuqueacuten
 
 Mexpetrol Argentina SA
 
  
 Exploracioacuten y extraccioacuten de
 petroacuteleo
 
 
 Aguada Pichana
 Neuqueacuten
 
 Total Austral SA
 
  
 Extraccioacuten de petroacuteleo
 
 
 San Roque Neuqueacuten
 
 Total Austral SA
 
 
 Exploracioacuten y extraccioacuten de
 petroacuteleo y gas
 
 
 Acambuco Salta
 
 YPF SA
  
 
 Exploracioacuten and produccioacuten
 


 Al finalizar la etapa de
exploracioacuten y luego de que se hayan reembolsado ciertos
gastos a realizar por YPF fuera de sus obligaciones
miacutenimas el operador seraacute Bridas SAPIC
La participacioacuten de la Sociedad en los
consorcios quotUTEsquot ha sido consolidada liacutenea
por liacutenea en base a la participacioacuten proporcional
en los activos pasivos ingresos costos y gastos de los estados
contables de tales consorcios En el caso de Magallanes
quotAquot no se incluye monto alguno dado que el contrato
preveacute que YPF efectuacutee como aporte uacutenico y
exclusivo el aacuterea con las reservas descubrimientos y la
informacioacuten teacutecnica obrante en su poder y Sipetrol
SA las inversiones y la operacioacuten del consorcio
teniendo  antildeos para recuperar las mismas con la
produccioacuten A partir de dicho momento eacutesta se
distribuiraacute en partes iguales
Al  de diciembre de  la
participacioacuten de la Sociedad en las erogaciones
miacutenimas comprometidas en estos consorcios alcanza
aproximadamente a 
La Sociedad participa en el quotPlan
Argentinaquot Por medio de este plan el Gobierno Nacional
licita permisos de exploracioacuten Hasta el  de diciembre
de  la Sociedad licitoacute y resultoacute adjudicataria
en forma total o asociada con terceros de permisos de
exploracioacuten en varias aacutereas oscilando su
participacioacuten entre el  y el  Al  de diciembre
de  los compromisos miacutenimos de inversioacuten
ascienden aproximadamente a  La Sociedad tambieacuten
firmoacute acuerdos con otras compantildeiacuteas
petroleras para realizar trabajos exploratorios en ciertas
aacutereas de la Cuenca Neuquina a costo exclusivo de la
Sociedad en uno de estos acuerdos
La Sociedad ha decidido participar en proyectos
de exploracioacuten y explotacioacuten de hidrocarburos en
aacutereas de Bolivia Peruacute y el Golfo de Meacutexico
para lo cual ha constituido sucursales en las Repuacuteblicas
de Bolivia y Peruacute que han sido consolidadas en su
totalidad y una sociedad en los Estados Unidos de Ameacuterica
YPF Exploration and Production Overseas Inc durante el
ejercicio finalizado el  de diciembre de  En enero de
 los contratos de exploracioacuten en aacutereas del
Golfo de Meacutexico fueron transferidos a Maxus
Adicionalmente la Sociedad firmoacute un acuerdo para explorar
en Argelia y participa en un contrato de exploracioacuten y
explotacioacuten en Ecuador Bloque  La inversioacuten en
Ecuador ha sido incluida en otros creacuteditos no corrientes y
ascendiacutea a   y  al  de diciembre de   y
 respectivamente
Los activos pasivos y los costos de
produccioacuten conjuntos de las UTEs los consorcios y
sucursales que se incluyen en cada rubro de los estados contables
son los siguientes

 
 
 
 
 
 
 
 Activo corriente
 
 
 
 
 
 Activo no corriente
 
 
 
 
 
 Total del activo
 
 
 
 
 
 Pasivo corriente
 
 
 
 
 
 Pasivo no corriente
 
 
 
 
 
 Total del pasivo
 
 
 
 
 
 Costos de produccioacuten conjuntos
 
 
 
 


Operaciones y Saldos con Sociedades Art   Ley N 
Los saldos pendientes al  de diciembre de 
 y  por operaciones con Sociedades Art   Ley N
 son los siguientes

 
 
 Creacuteditos
 por ventas  Corriente
 
 
 
 
 
 
 
 
 Sociedades Controladas 
 
 
 YPF Gas SA
 
 
 
 
 
 Servired YPF SA
 
 
 
 
 
 
 
 
 
 
 
 Sociedades Vinculadas
 
 
 Refineriacutea del Norte SA
 
 
 
 
 
 Petroken Petroquiacutemica Ensenada
 SA
 
 
 
 
 
 Petroquiacutemica Bahiacutea Blanca
 SAIC
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



 
 
 Otros creditos
 
 
 
 
 
 
 
 
 
 Corriente
 No Corriente
 Corriente 
 No Corriente
 Corriente
 No Corriente
 
 
 Sociedades Controladas
 
 
 YPF Gas SA
 
 
 
 
 
 
 
 
 Sociedad Inmobiliaria Red Propia SA
 
 
 
 
 
 
 
 
 Operadora de Estaciones de Servicios SA
 
 
 
 
 
 
 
 
 Maxus Energy Corporation
 
 
 
 
 
 
 
 
 YPF USA Inc
 
 
 
 
 
 
 
 
 YPF Chile SA
 
 
 
 
 
 
 
 
 YPF Peruacute SA
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Sociedades Vinculadas
 
 
 Transportes Mariacutetimos Petroleros SA
 
 
 
 
 
 
 
 
 Terminales Mariacutetimas Patagoacutenicas SA 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



 
 Cuentas por pagar  corrientes
 
 
 
 
 
 Sociedades Controladas
 
 
 Oleoducto Trasandino Argentina SA
 
 
 
 
 
 YPF Gas SA
 
 
 
 
 
 Operadora de Estaciones de Servicios SA
 
 
 
 
 
 
 
 
 
 
 
 Sociedades Vinculadas
 
 
 Refineriacutea del Norte SA
 
 
 
 
 
 Oleoductos del Valle SA
 
 
 
 
 
 Oiltanking Ebytem SA
 
 
 
 
 
 Transportes Mariacutetimos Petroleros
 SA
 
 
 
 
 
 Terminales Mariacutetimas
 Patagoacutenicas SA
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



 
 Prestamos  Corrientes
 
 
 
 
 
 Controlled company
 
 
 Concefeacute SA
 
 
 
 

La Sociedad efectuacutea compras y ventas a
sociedades controladas y vinculadas Los precios de estas
transacciones se aproximan a los correspondientes a transacciones
con terceros Las principales operaciones con estas sociedades
por los ejercicios finalizados el  de diciembre de   y
 son las siguientes

 
 
 
 
 
 
 
 Ventas
 
 
 Sociedad Controlada 
 
 
 YPF Gas SA
 
 
 
 
 
 Sociedades Vinculadas
 
 
 Refineriacutea del Norte SA
 
 
 
 
 
 Petroken Petroquiacutemica Ensenada
 SA 
 
 
 
 
 
 Oleoductos del Valle SA
 
 
 
 
 
 Transportes Mariacutetimos Petroleros
 SA
 
 
 
 
 
 Terminales Mariacutetimas
 Patagoacutenicas SA
 
 
 
 
 
 Petroquiacutemica General Mosconi
 SAIC
 
 
 
 
 
 Interpetrol SA
 
 
 
 
 
 Petroquiacutemica Bahiacutea Blanca
 SAIC
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Compras y Servicios
 
 
 Sociedades Controladas 
 
 
 Oleoducto Trasandino Argentina SA
 
 
 
 
 
 Servired YPF SA
 
 
 
 
 
 Oleoducto Trasandino Chile SA
 
 
 
 
 
 Sociedad Inmobiliaria Red Propia SA
 
 
 
 
 
 Operadora de Estaciones de Servicios SA 
 
 
 
 
 
 Concefeacute SA
 
 
 
 
 
 YPF Gas SA
 
 
 
 
 
 
 
 
 
 
 
 Sociedades Vinculadas 
 
 
 Refineriacutea del Norte SA 
 
 
 
 
 
 Oleoductos del Valle SA 
 
 
 
 
 
 Transportes Mariacutetimos Petroleros
 SA
 
 
 
 
 
 Oiltanking Ebytem SA
 
 
 
 
 
 Terminales Mariacutetimas
 Patagoacutenicas SA
 
 
 
 
 
 Concecuyo SA
 
 
 
 
 
 Petroquiacutemica General Mosconi
 SAIC
 
 
 
 
 
 Interpetrol SA
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 Se exponen las operaciones desde el
momento en que estas sociedades comenzaron a ser vinculadas o
controladas
 Se exponen las operaciones hasta el momento en que estas
sociedades dejaron de ser vinculadas

Deuda Financiera Externa  Ley N 
La deuda financiera externa de la Sociedad
consistiacutea en a deuda anterior al  de diciembre de
 con acreedores del sector privado externo b deuda
anterior al  de diciembre de  con acreedores del sector
puacuteblico externo y c deuda financiera contraiacuteda
con posterioridad al  de diciembre de 
Con relacioacuten a la deuda con el sector
privado y el sector puacuteblico existente al  de diciembre
de  el Congreso de la Nacioacuten dictoacute la Ley
N  por la cual el Gobierno Nacional asumioacute la
responsabilidad de toda la deuda pendiente al  de diciembre de
 incluyendo los intereses y gastos relacionados 
La asuncioacuten de la deuda debido a la
mencionada ley generoacute un incremento del patrimonio neto
que se incluyoacute como Aportes de los propietarios
La Sociedad ha sido liberada formalmente de sus
obligaciones por la parte del capital adeudado al sector privado
externo con anterioridad al  de diciembre de  a partir del
 de abril de  fecha en que la Argentina ingresoacute al
Plan Brady En diciembre de  tambien fue liberada de los
intereses relacionados y su respectiva retencioacuten de
impuesto a las ganancias devengada La Direccioacuten de la
Sociedad estima que no existiraacuten reclamos sobre intereses
en el futuro Si estos reclamos ocurrieran seraacuten asumidos
por el Gobierno Nacional de acuerdo con lo dispuesto por la Ley
N 
Debido a que la Sociedad no habiacutea sido
formalmente liberada de todas sus obligaciones con respecto a los
intereses y las correspondientes retenciones por impuesto a las
ganancias devengadas que totalizaban  al  de diciembre de
 se encuentran incluidas en la porcioacuten corriente de
preacutestamos regularizadas por el correspondiente compromiso
de aporte para asumir los intereses sobre la deuda financiera
externa privada Nota g
En relacioacuten con los   y  al  de
diciembre de   y  de deuda con el sector
puacuteblico anterior al  de diciembre de  y las
correspondientes retenciones de impuestos que no ingresoacute
al Plan Brady la Sociedad no seraacute formalmente liberada de
esta obligacioacuten por los acreedores por ello el
creacutedito compromiso de aporte para asumir deuda financiera
externa  Ley N  se presenta en los estados
contables regularizando el pasivo Nota g

 
 
 Paacutegina
 Siguiente 
 
 
 

 



