



Notas a los Estados Contables 





NOTAS A LOS ESTADOS CONTABLES 
POR LOS EJERCICIOS FINALIZADOS EL  DE DICIEMBRE DE   Y

continuacioacuten

 
 
  
 
 Paacutegina
 Anterior
 


Informacion Adicional sobre los Estados de Origen y Aplicacion de
Fondos

 
 
 
 
 
 
 
 Pagos en efectivo en concepto de
 
 
 Impuesto a las ganancias y sobre los
 activos
 
 
 
 
 
 Intereses
 
 
 
 
 
 
 
 
 
 
 
 Caja y equivalentes de caja fondos
 incluye
 
 
 Caja y bancos
 
 
 
 
 
 Inversiones
 
 
 
 
 
 
 
 
 
 

Las principales operaciones financieras y de
inversioacuten que no afectaron fondos estaacuten
constituidas para los ejercicios finalizados el  de diciembre
de   y  por la compensacioacuten de anticipos de
impuestos con creacuteditos impositivos relacionados con
exportaciones utilidad por la cancelacioacuten de cargas
fiscales con BOCONES la distribucioacuten de dividendos no
pagados el consumo de previsiones de bienes de uso el pago de
dividendos mediante la compensacioacuten de creacuteditos
aportes en bienes de uso a sociedades vinculadas previsiones
para peacuterdidas futuras por contratos a largo plazo ventas
a creacutedito de BOCONES y bienes de uso y cobranza de
creacuteditos en bienes de uso y BOCONES

Informacioacuten sobre Segmentos de Negocio
El negocio principal de la Sociedad es la
exploracioacuten y produccioacuten de petroacuteleo crudo y
gas natural y la refinacioacuten y comercializacioacuten de
productos derivados del petroacuteleo La exploracioacuten y
produccioacuten de yacimientos quotUpstreamquot incluye
las compras contractuales de gas y compras de petroacuteleo
crudo derivadas de contratos de servicio y concesiones y las
actividades de extraccioacuten de petroacuteleo y gas Todas
estas operaciones se llevan a cabo a traveacutes del segmento
de quotExploracioacuten y produccioacutenquot mientras
que las operaciones de refinacioacuten y venta
quotDownstreamquot se realizan por medio del segmento de
quotRefinacioacuten y marketingquot Las otras actividades
de la Sociedad que no encuadran en estas dos categoriacuteas
se agrupan bajo la clasificacioacuten Administracioacuten
Central que comprende tambieacuten los activos no asignados a
los otros dos segmentos activos corporativos incluyendo las
disponibilidades
El resultado operativo y los activos
identificables para cada segmento han sido determinados
despueacutes de ajustes de consolidacioacuten Las ventas
entre los segmentos se efectuacutean a precios internos de
transferencia establecidos por YPF que reflejan aproximadamente
los precios de mercado en Argentina


 
 
 Exploracioacuten y
 Produccioacuten 
 Refinacioacuten y Marketing
 Administracioacuten Central
 Ajustes de
 Consolidacioacuten
 Total
 
 
 Ejercicio Finalizado el  de
 diciembre de 
 
 
 Ventas netas a terceros
 
 
 
 
 
 
 
 Ventas netas a sociedades controladas y vinculadas
 
 
 
 
 
 
 
 Ventas netas intersegmentos
 
 
  
 
 
 
 
 Ventas netas totales
 
 
 
 
 
 
 
 Utilidad peacuterdida operativa
 
 
 
 
 
 
 
 Resultado de inversiones permanentes
 
 
 
 
 
 
 
 Depreciacioacuten de bienes de uso 
 
 
 
 
 
 
 
 Inversioacuten en bienes de uso
 
 
 
 
 
 
 
 Activos identificables
 
 
 
 
 
 
 
 Ejercicio Finalizado el  de diciembre de
 
 
 
 Ventas netas a terceros
 
 
 
 
 
 
 
 Ventas netas a sociedades controladas y vinculadas
 
 
 
 
 
 
 
 Ventas netas intersegmentos
 
 
  
 
  
 
 
 Ventas netas totales
 
 
 
 
 
 
 
 Utilidad peacuterdida operativa
 
 
 
 
 
 
 
 Resultado de inversiones permanentes
 
 
 
 
 
 
 
 Depreciacioacuten de bienes de uso 
 
 
 
 
 
 
 
 Inversioacuten en bienes de uso
 
 
 
 
 
 
 
 Activos identificables
 
 
 
 
 
 
 
 Ejercicio Finalizado el  de diciembre de
 
 
 
 Ventas netas a terceros
 
 
 
 
 
 
 
 Ventas netas a sociedades controladas y vinculadas
 
 
 
 
 
 
 
 Ventas netas intersegmentos
 
 
 
 
 
 
 
 Ventas netas totales
 
 
 
 
 
 
 
 Utilidad peacuterdida operativa
 
 
 
 
 
 
 
 Resultado de inversiones permanentes
  
 
  
  
 
 
 
 Depreciacioacuten de bienes de uso 
 
 
 
 
 
 
 
 Inversioacuten en bienes de uso
 
 
 
 
 
 
 
 Activos identificables
 
 
 
 
 
 


 Neto de depreciacioacuten acelerada
Las ventas por exportaciones por los ejercicios
finalizados el  de diciembre de   y  fueron 
 y  respectivamente La mayor parte de estas
exportaciones se realizan a paiacuteses de Ameacuterica
Central y Ameacuterica del Sur principalmente a Brasil y
Chile

Beneficios Sociales y Otros Beneficios para el Personal
La Sociedad otorga una serie de beneficios
sociales y otros beneficios a su personal cuyas principales
caracteriacutesticas se exponen a continuacioacuten

 
 a
 Obra Social y otros beneficios posteriores al retiro 
 IEn julio de  la Sociedad
 constituyoacute una Obra Social independiente para
 beneficio de sus empleados activos Durante  la
 Sociedad ha traspasado los contratos de servicios
 meacutedicos correspondientes a la misma La
 Direccioacuten de la Sociedad considera que la
 contribucioacuten de YPF no seraacute superior al
 porcentaje de las remuneraciones de conformidad con la
 legislacioacuten vigente Esta entidad tambieacuten
 dispondraacute como ingresos las retenciones legales
 que se practican sobre las remuneraciones del personal
 activo sin ninguacuten costo adicional para YPF
 
 En antildeos anteriores la Sociedad proveiacutea los
 servicios de asistencia meacutedica integral al
 personal activo y a sus jubilados y pensionados Los
 ingresos se registraban a medida que se devengaban y los
 costos por prestaciones al momento de su efectiva
 prestacioacuten Hasta julio de  la Obra Social
 era deficitaria baacutesicamente porque la
 atencioacuten de los jubilados y pensionados demandaba
 maacutes fondos que los aportados por el Instituto
 Nacional de Servicios Sociales para Jubilados y
 Pensionados el quotINSSJPquot obra social para
 jubilados y pensionados Entre marzo de  y abril de
  la Sociedad discontinuoacute la atencioacuten a
 jubilados y pensionados seguacuten lo permitido por la
 legislacioacuten vigente
 
 YPF habiacutea recibido demandas judiciales de
 jubilados y pensionados reclamando la restitucioacuten
 de las prestaciones meacutedicoasistenciales Los
 jueces intervinientes habiacutean dictado medidas
 cautelares acatadas por YPF mediante la entrega de
 certificados provisorios de atencioacuten
 meacutedica no obstante ser apeladas en el fuero
 judicial Durante  la Caacutemara de Apelaciones
 dispuso el levantamiento de parte de dichas medidas
 cautelares La Direccioacuten de la Sociedad y sus
 asesores legales no esperan que estas acciones legales
 tengan efectos adversos significativos en la
 situacioacuten patrimonial y financiera o en el
 resultado de las operaciones pues se espera transferir
 al INSSJP el costo de las prestaciones reconocidas 
 Hasta diciembre de  la Sociedad
 habiacutea prestado ciertos beneficios vacacionales a
 sus empleados jubilados pensionados y sus familiares 
 
 
 b
 Programa de bonificacioacuten a funcionarios 
 El programa alcanza a los principales
 ejecutivos de la Sociedad La bonificacioacuten se basa
 en la evolucioacuten de la cotizacioacuten de las
 acciones de la Sociedad y de sus resultados 
 
 
 c Plan de
 retiro 
 A partir del  de marzo de  la
 Sociedad ha establecido un plan de retiro de
 contribuciones definidas que proveeraacute beneficios
 a cada empleado que decida adherirse al plan Cada
 adherente deberaacute aportar un monto que
 variaraacute entre el  y el  de su
 remuneracioacuten mensual y la Sociedad deberaacute
 aportar un monto equivalente al contribuido por cada
 adherente La responsabilidad de la administracioacuten
 de los fondos estaraacute a cargo de
 compantildeiacuteas de seguro de retiro La
 Direccioacuten de la Sociedad estima que la
 contribucioacuten anual de YPF no seraacute superior
 a  
 Los adherentes recibiraacuten los
 fondos aportados por la Sociedad antes de su retiro
 uacutenicamente en caso de renuncia o despido
 injustificado bajo ciertas circunstancias y
 adicionalmente en caso de muerte o incapacidad YPF puede
 discontinuar este plan en cualquier momento sin incurrir
 en ninguacuten costo relacionado a su
 terminacioacuten 
 


Compromisos y Contingencias
La Sociedad ha llevado a cabo un anaacutelisis
de sus compromisos contractuales que individualmente generan
probables peacuterdidas futuras y ha previsionado el valor
actual estimado de las mismas empleando una tasa de descuento
del  anual
Los importes asiacute calculados ascendieron
considerando la porcioacuten corriente y no corriente a 
 y  al  de diciembre de   y 
respectivamente y se incluyen en la Previsioacuten para
peacuterdidas futuras por contratos a largo plazo Anexo E Dichos saldos
incluyen el efecto de

 
 a
 Contratos de venta y obligaciones de compra de
 petroacuteleo y gas   y  al  de diciembre
 de   y  respectivamente 
 En noviembre de  la Sociedad y los
 quotsocios de Totalquot Total Austral SA Deminex
 Argentina SA y Bridas SAPIC firmaron un acuerdo
 estableciendo la finalizacioacuten del contrato de
 servicios de TOTAL en la Cuenca Austral y su reemplazo
 por nuevos acuerdos YPF acordoacute entre otras
 condiciones comprar cantidades de gas variables sujetas
 a un maacuteximo a un precio fijo predeterminado
 transferir ciertas concesiones e intereses en consorcios
 a los socios de TOTAL e indemnizar a los socios de TOTAL
 por el impuesto a las ganancias y cualquier otro impuesto
 sobre las utilidades netas o brutas que lo complemente o
 sustituya que pudiera ser aplicable como consecuencia de
 la finalizacioacuten del contrato de servicios La
 Direccioacuten de la Sociedad estima que los
 compromisos de compra mencionados no generaraacuten
 peacuterdidas futuras Como consecuencia de este
 acuerdo ciertas previsiones que se habiacutean
 establecido para cubrir peacuterdidas relacionadas con
 el contrato de TOTAL dejaron de ser necesarias y se
 reversaron en el cuarto trimestre de  La ganancia
 neta resultante de la renegociacioacuten del contrato
 con los socios de TOTAL ascendioacute a  y fue
 imputada a quotResultados por reconversioacuten de
 contratos y venta de aacutereasquot en el estado de
 resultados por el ejercicio finalizado el  de diciembre
 de  Al  de diciembre de  la Sociedad
 anticipoacute  a los socios de TOTAL por el impuesto
 a las ganancias del ejercicio  originado en esta
 transaccioacuten el que seraacute reembolsado a YPF
 durante la vida de los activos productivos Nota c 
 
 
 b
 Reconversioacuten de contratos   y  al 
 de diciembre de   y  respectivamente 
 En la mayoriacutea de los contratos
 renegociados YPF se comprometioacute a recibir y
 transportar el petroacuteleo de propiedad de terceros y
 prestar ciertos servicios auxiliares En algunos casos
 como contraprestacioacuten se reconocioacute a YPF un
 porcentaje sobre la produccioacuten de crudo y gas en
 tanto que en otros no existioacute tal resarcimiento 
 Al  de diciembre de  la
 contingencia total sin descontar relacionada con los
 puntos a y b mencionados anteriormente asciende a 
 Durante los proacuteximos cinco antildeos la
 Sociedad estima efectuar desembolsos netos sin
 descontar en relacioacuten a estos contratos por 
    y  respectivamente 
 
 
 c Otros
 compromisos y contingencias 
 La Sociedad y ciertos consorcios en los
 que participa han llegado a acuerdos por los cuales se
 han comprometido a entregar hidrocarburos liacutequidos
 a traveacutes de oleoductos asociados a
 destileriacuteas asociadas o a adquirir ciertos
 voluacutemenes de petroacuteleo crudo gas natural o
 productos relacionados La Direccioacuten de la
 Sociedad no preveacute peacuterdidas relacionadas con
 estos acuerdos 
 La Sociedad ha firmado un contrato de
 venta a largo plazo con ENAP la compantildeiacutea
 petrolera estatal chilena para la provisioacuten de
 petroacuteleo de la Cuenca Neuquina a Chile que
 comenzoacute en  Adicionalmente se firmoacute
 un contrato con Oleoducto Trasandino Argentina SA y
 Oleoducto Trasandino Chile SA sociedades controladas
 indirectamente por YPF para transportar un miacutenimo
 de  barriles diarios de petroacuteleo crudo a
 Chile La Sociedad es responsable por el pago del
 transporte de los voluacutemenes comprometidos
 auacuten en el caso en que los mismos no sean
 efectivamente transportados 
 La Sociedad conjuntamente con otros
 cuatro productores neuquinos de gas tambieacuten
 mantiene con Gas de Chile SA cuyos accionistas son
 Tenneco y British Gas un contrato para la
 provisioacuten de gas que podriacutea comenzar en
  el cual se encuentra sujeto a la
 finalizacioacuten exitosa de un gasoducto a Chile y del
 sistema de distribucioacuten relacionado Durante el
 primer trimestre de  se confirmaraacute si este
 proyecto seraacute llevado a cabo o no En octubre de
  el Poder Ejecutivo Nacional otorgoacute a la
 Sociedad y sus socios la concesioacuten del transporte
 a efectos de permitir la construccioacuten del
 gasoducto y la operacioacuten dentro del territorio
 argentino 
 La Direccioacuten de la Sociedad estima
 que no se sufriraacuten peacuterdidas como resultado
 de las negociaciones y compromisos descriptos maacutes
 arriba 
 Adicionalmente en relacioacuten con la
 transformacioacuten de YPF se ha reducido
 significativamente el nuacutemero de personas
 empleadas y eacutesta ha sido demandada judicialmente
 por algunos exempleados Se ha constituido una
 previsioacuten para esta contingencia y en
 opinioacuten de la Direccioacuten y en la de sus
 asesores legales externos no se espera que en el futuro
 estos juicios tengan efectos materiales adversos en los
 resultados de las operaciones o en la posicioacuten
 financiera 
 La Secretariacutea de Energiacutea
 dispuso que YPF entregue a las provincias de Riacuteo
 Negro y Neuqueacuten la propiedad de ciertas
 liacuteneas de alta tensioacuten y ciertas estaciones
 transformadoras con un valor de libros no significativo
 sin resarcimiento para la Sociedad En tal sentido YPF
 ha reclamado tal resarcimiento ya que considera no le
 correspondiacutea cederlas por ser de su propiedad La
 Direccioacuten de la Sociedad ha propuesto a la
 Secretariacutea de Energiacutea absorber el valor de
 dichos bienes con los futuros dividendos que le
 correspondan al Estado Nacional en su caraacutecter de
 accionista Esto en principio no seriacutea aceptado
 por el Estado Nacional Debido a ello ha sido
 previsionado totalmente en los estados contables de la
 Sociedad La Sociedad entregoacute las instalaciones
 ubicadas en dichas provincias en el primer trimestre de
  
 Como consecuencia de un contrato de
 servicios firmado con Amoco Argentina Oil Company
 quotAmocoquot YPF habiacutea asumido todos los
 impuestos que Amoco tuviera que pagar por sus actividades
 en el aacuterea del contrato y adicionalmente las
 regaliacuteas por la produccioacuten del aacuterea
 a la Provincia de Chubut En  fue sancionada una ley
 que estableciacutea que en aquellos contratos en los
 cuales un ente estatal se haciacutea cargo de los
 impuestos nacionales de otra compantildeiacutea
 eacutestos constituiacutean una exencioacuten en
 favor de esta uacuteltima Esta exencioacuten
 impositiva expiroacute con la venta de las acciones de
 YPF por parte del Gobierno completada en julio de 
 YPF pagoacute las regaliacuteas de Amoco y Amoco
 pagoacute el impuesto a las ganancias por el
 aacuterea Cerro Dragoacuten correspondiente al
 antildeo  reclamando a YPF su reembolso Durante
 el cuarto trimestre de  YPF y Amoco han firmado un
 acuerdo definitivo que entroacute en vigencia el
  de enero de  renegociando los teacuterminos
 anteriores de la siguiente manera i el porcentaje de
 participacioacuten de YPF en la produccioacuten del
 aacuterea Cerro Dragoacuten se redujo al  ii
 dos aacutereas Cerro TortugaLas Flores y El
 Chulengo adyacentes al aacuterea Cerro Dragoacuten
 son incorporadas al acuerdo en los mismos teacuterminos
 de dicha aacuterea iii YPF mantiene su
 obligacioacuten de pagar las regaliacuteas
 correspondientes al total de la produccioacuten de
 todas las aacutereas mencionadas iv YPF no
 seraacute responsable en el futuro de los impuestos
 relacionados con las aacutereas del acuerdo
 correspondientes a Amoco Adicionalmente YPF se
 asocioacute con Amoco Andina Production Company
 quotAmoco Andinaquot una subsidiaria de Amoco en
 el  de la exploracioacuten y posible
 explotacioacuten de dos aacutereas de la Cuenca
 Neuquina y tambieacuten indemnizaraacute a Amoco y
 Amoco Andina por eventuales efectos impositivos que
 podriacutean surgir como consecuencia del acuerdo La
 Sociedad considera que no deberaacute pagar monto
 significativo alguno relacionado con este acuerdo de
 indemnidad y en consecuencia no ha registrado ninguna
 previsioacuten al respecto Durante el ejercicio
 finalizado el  de diciembre de  YPF
 reembolsoacute el impuesto a las ganancias
 correspondiente a Amoco en relacioacuten con su
 actividad en el aacuterea Cerro Dragoacuten por los
 ejercicios finalizados el  de diciembre de  y 
 La peacuterdida neta resultante del acuerdo
 ascendioacute a  y fue imputada a quotResultados
 por reconversioacuten de contratos y venta de
 aacutereasquot en el estado de resultados por el
 ejercicio finalizado el  de diciembre de 
 correspondiendo baacutesicamente a la valuacioacuten
 del activo fijo de las aacutereas Cerro TortugaLas
 Flores y El Chulengo a su valor de realizacioacuten 
 Adicionalmente en virtud de la Ley de
 Privatizacioacuten de YPF el Estado Nacional se hizo
 cargo de ciertas obligaciones de la Sociedad Predecesora
 al  de diciembre de  En tal sentido el Estado
 Nacional asumioacute 
 
 
 Todos los creacuteditos y
 deudas originados en causa tiacutetulo o
 compensacioacuten existentes al  de diciembre
 de  que no se encuentren reconocidos como
 tales en los estados contables de Yacimientos
 Petroliacuteferos Fiscales Sociedad del Estado
 a dicha fecha que fueran auditados por la
 Sindicatura General de Empresas Puacuteblicas
 y 
 
 
 Toda contingencia reconocida o
 no en dichos estados contables al  de diciembre
 de  generada por hechos ocurridos yo en
 operaciones celebradas a dicha fecha siempre que
 exista decisioacuten firme de la autoridad
 jurisdiccional competente debiendo mantener
 indemne a YPF de todo reclamo que se realice por
 estas cuestiones 
 
 
 Bajo los teacuterminos del Decreto
 N  que implementa lo previsto por la Ley de
 Privatizacioacuten la asuncioacuten por parte del
 Estado Nacional de las obligaciones antes descriptas que
 hubieran sido reclamadas judicialmente en procesos en
 traacutemite no se extenderaacute a las costas
 decretadas en dichas condenas como a cargo de YPF por la
 parte que corresponda a los apoderados procuradores
 letrados peritos o consultores teacutecnicos
 designados por YPF para su defensa representacioacuten
 o asesoramiento en dichos procedimientos El Estado
 Nacional se haraacute cargo de las obligaciones
 contractuales asumidas por la Sociedad con los
 profesionales que la hubieran representado o asistido en
 los procedimientos judiciales referidos a estas
 obligaciones cuando dichos contratos establezcan
 retribuciones fijas y de pago perioacutedico o
 escalonado cuyo monto parcial o total estuviera
 desvinculado del monto del reclamo o de la demanda o de
 las costas reguladas a cargo de YPF En relacioacuten
 al Decreto N  la Sociedad estaacute
 obligada a mantener al Gobierno Nacional informado de
 cualquier accioacuten contra YPF por estos conceptos 
 Hasta el  de diciembre de  la
 Sociedad ha recibido reclamos por un total de
 aproximadamente  y otros reclamos por montos
 indeterminados Estos reclamos han sido o estaacuten en
 proceso de ser notificados al Gobierno Nacional Teniendo
 en cuenta lo estipulado por la Ley de
 Privatizacioacuten de YPF la Sociedad considera que no
 deberaacute responder por ninguacuten importe
 significativo en relacioacuten con estos reclamos 
 Durante el ejercicio finalizado el  de
 diciembre de  la Sociedad vendioacute el
 aacuterea productiva Riacuteo Neuqueacuten y
 transfirioacute los bienes existentes en dicha
 aacuterea La cesioacuten de la concesioacuten para
 la explotacioacuten del aacuterea fue autorizada por
 el Poder Ejecutivo Nacional mediante el Decreto N
  La ganancia generada por la transferencia del
 aacuterea ascendioacute a  y fue imputada a la
 liacutenea quotResultados por reconversioacuten de
 contratos y venta de aacutereasquot del estado de
 resultados por el ejercicio finalizado el  de diciembre
 de  
 


Restricciones a los Resultados no Asignados
De acuerdo con las disposiciones de la Ley
N  el  de la utilidad neta del ejercicio debe ser
apropiada a la reserva legal hasta que la misma alcance el 
del capital social capital suscripto y ajuste de los aportes
Consecuentemente los resultados no asignados estaacuten
restringidos en 
Como consecuencia de la sancioacuten de la Ley
N  la Sociedad emitiraacute bonos de
participacioacuten en las ganancias para el personal los
cuales son intransferibles y caducan con la extincioacuten de
la relacioacuten laboral de manera de distribuir entre ellos
el  de la utilidad neta de cada ejercicio Producto de su
relacioacuten de dependencia cada empleado recibiraacute una
cantidad de bonos de participacioacuten en las ganancias
determinada en funcioacuten de su remuneracioacuten su
antiguumledad y sus cargas de familia Estos bonos dan derecho
a los empleados a recibir participacioacuten en los resultados
desde el ejercicio  inclusive Al  de diciembre de  el
costo acumulado del plan de participacioacuten a los empleados
es de 
La Asamblea General Ordinaria de Accionistas del
 de abril de  cumpliendo con lo establecido por los
estatutos de YPF aproboacute distribuir Resultados no
asignados por  al Gobierno Nacional correspondientes al pago
de un dividendo especial El mismo fue compensado parcialmente
con un creacutedito por ahorro obligatorio por  el reembolso
de regaliacuteas pagadas en exceso por  e intereses
correspondientes a estos creacuteditos por  El remanente fue
cancelado en efectivo

Cambios en el conjunto econoacutemico
Durante  la Sociedad constituyoacute
AampC Pipeline Holding Company Transportes Mariacutetimos
Petroleros SA Terminales Mariacutetimas Patagoacutenicas
SA e YPF USA Inc y adquirioacute el  del paquete
accionario de Agip Argentina SA la cual se denomina ahora YPF
Gas SA Asimismo efectivizoacute la venta de su  de
participacioacuten accionaria en Interpetrol SA y
cedioacute al Ministerio de Defensa las tenencias accionarias
de 
Petroquiacutemica Bahiacutea Blanca SA y
Petroquiacutemica General Mosconi SAIC sin recibir
resarcimiento econoacutemico En consecuencia los montos
registrados en inversiones fueron dados de baja al igual que las
previsiones que se habiacutean constituido a tal efecto
Durante  YPF constituyoacute las sociedades
Servired YPF SA Sociedad Inmobiliaria Red Propia SA
Operadora de Estaciones de Servicios SA YPF Exploration and
Production Overseas Inc YPF Chile SA y Petroacuteleos
Transandinos YPF SA y adquirioacute el  de Petroken
Petroquiacutemica Ensenada SA
Durante el ejercicio finalizado el  de
diciembre de  YPF constituyoacute las sociedades YPF
Acquisition Corporation YPF Peruacute SA YPF Sudamericana
SA e Inversora Bahiacutea Blanca SA y adquirioacute el
 de Concefeacute SA el  de Concecuyo SA el
 de Petroquiacutemica Bahiacutea Blanca
SAICquotPBBquot el  de Indupa
SAICquotIndupaquot el  de Petrochemical Investment
Company y adquirioacute Maxus Energy Corporation seguacuten
se detalla en los siguientes paacuterrafos

 
 En abril de  YPF Acquisition
 Corporation la quotSubsidiariaquot adquirioacute
 aproximadamente el  de las acciones ordinarias de
 Maxus Energy Corporation quotMaxusquot conforme a
 la oferta hecha seguacuten el acuerdo de fusioacuten
 realizado por la Sociedad la Subsidiaria y Maxus el 
 de febrero de 
 
 La Sociedad completoacute luego de una Asamblea
 Especial de Accionistas de Maxus realizada en junio de
  la adquisicioacuten de todas las restantes
 acciones ordinarias en circulacioacuten de esta
 sociedad a traveacutes de la fusioacuten de la
 Subsidiaria con Maxus sociedad continuadora en la cual
 los accionistas de Maxus que no habiacutean aceptado la
 oferta recibieron el mismo monto por accioacuten que
 se pagoacute en dicha oferta
 
 La compra fue financiada por i un aporte de capital de
 YPF a la Subsidiaria por US millones y ii US
 millones otorgados a la Subsidiaria correspondientes a
 una liacutenea de creacutedito de US millones
 otorgada por The Chase Manhattan Bank National
 Association el quotChasequot Los preacutestamos
 provenientes del creacutedito con el Chase fueron
 cancelados durante junio de  con el efectivo
 disponible de Maxus y un agregado de US millones de
 preacutestamos recibidos por subsidiarias de Maxus que
 fueron garantizados por YPF En relacioacuten con estos
 preacutestamos la Sociedad ha asumido ciertos
 compromisos detallados en la Nota g Los
 acuerdos que formalizan estos preacutestamos contienen
 entre otras cosas una restriccioacuten a la
 disposicioacuten de los fondos provenientes de una
 potencial venta de todos los activos de las subsidiarias
 sujeta a ciertas excepciones Se estima que estos
 preacutestamos seraacuten cancelados con los fondos
 generados por las operaciones de las subsidiarias
 
 Maxus ha contabilizado dicha operacioacuten siguiendo
 el quotmeacutetodo de adquisicioacutenquot de
 acuerdo al Statement of the Accounting Principles Board
 N  Esta norma establece que el precio de compra
 debe asignarse a los activos identificables adquiridos y
 a los pasivos asumidos en funcioacuten a su valor
 corriente a la fecha de adquisicioacuten 
 
 En noviembre de  YPF adquirioacute el  de PBB
 por un total de US  millones En diciembre de  el
 consorcio formado por YPF Dow Quiacutemica Argentina
 SA e Itochu Argentina SA adquirioacute por oferta
 puacuteblica parte de las acciones de PBB e Indupa por
 un total de US  millones El desembolso de YPF
 alcanzoacute a US  millones Al  de diciembre de
  YPF vendioacute todas sus acciones de PBB
 adquiridas en la oferta puacuteblica y el  de su
 participacioacuten en Indupa adquirida en dicha oferta
 a Petrochemical Investment Company por US  millones
 
 Esta compra fue financiada con un preacutestamo de US
  millones otorgado por Dow Credit Corporation a
 Petrochemical Investment Company El pago de este
 preacutestamo es garantizado por YPF
 
 Adicionalmente en enero de  YPF por siacute y
 por cuenta de Petrochemical Investment Company y Dow
 Quiacutemica Argentina SA vendieron todas sus
 acciones en Indupa SAIC a Derivados
 Petroquiacutemicos Sociedad de Inversioacuten SA
 quotDerivadosquot Derivados fue constituida en
 enero de  y sus accionistas eran las sociedades
 mencionadas anteriormente
 
 En febrero de  YPF por siacute y por cuenta de
 Petrochemical Investment Company y Dow Quiacutemica
 Argentina SA vendieron en forma porporcional a sus
 tenencias el  de su participacioacuten en Derivados
 al grupo Solvay y han asumido ciertos compromisos con
 dicho grupo El efecto de estas transacciones no es
 significativo para los estados contables de YPF al  de
 diciembre de 


 
 En febrero de  YPF a traveacutes
 de una de sus sociedades controladas adquirioacute el
  de Polisur SA por  y el  de las acciones de
 PBB por  
 


 
 
 Paacutegina
 Siguiente 
 
 
 

 



