



Cuadro I Evolucioacuten de Bienes de Uso






 
 
 Paacutegina
 Anterior
 

EVOLUCION
DE LOS BIENES DE USO
expresados en millones de pesos 
CUADRO I  ANEXO A


 
 Balances generales consolidados al  de
 diciembre de
 
 
 
 
 
 
 Costo
 Depreciacioacuten
 
 
 Cuenta principal
 Valor al comienzo del
 ejercicio 
 Aumentos
 Disminuciones y transferencias
 netas 
 Valor al cierre del ejercicio
 Acumulada al comienzo del
 ejercicio
 Disminuciones y transferencias
 netas 
 Tasa de Depreciacioacuten
 Aumentos
 Acumulada al cierre del
 ejercicio
 Valor residual 
 Valor residual
 Valor residual
 
 
 Terrenos y edificios
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Pozos y equipos de explotacioacuten
 
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 Equipamiento de destileriacuteas
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Equipos de transporte
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Materiales y equipos en depoacutesito
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Perforaciones y obras en curso
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Equipos de perforacioacuten y exploracioacuten
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Muebles y uacutetiles e instalaciones
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Equipos de comercializacioacuten
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Otros bienes
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Total 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Total  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Total 
 
 
 
 
 
 
 
 
 
 
 
 
 


 Incluye  de valor residual imputados
contra previsiones de bienes de uso
 Incluye  correspondientes a los bienes de uso de Maxus
al momento de la adquisicioacuten
 Incluye  correspondientes a costos financieros
capitalizados de bienes cuya construccioacuten se prolonga en
el tiempo
 Incluye  de valor residual imputados contra la
previsioacuten para peacuterdidas futuras por contratos a
largo plazo  de valor residual de bienes aportados a
inversiones no corrientes  imputados contra previsiones de
bienes de uso y  imputados contra resultados por
reconversioacuten de contratos y venta de aacutereas
 Incluye  de depreciacioacuten acelerada de bienes de uso
por asociacioacuten en aacutereas bajo contratos de UTE de
los cuales  fueron imputados contra la previsioacuten para
peacuterdidas futuras por contratos a largo plazo y  contra
resultados por reconversioacuten de contratos y venta de
aacutereas
  Incluye  de propiedad minera en aacutereas con reservas
no probadas
 Incluye  de costo y  de depreciacioacuten
correspondientes a bienes de uso de YPF Gas SA al momento de su
adquisicioacuten
 La depreciacioacuten ha sido calculada por el meacutetodo
de unidad de produccioacuten

 
   Roberto JA Dormal Bosch
 Por Comisioacuten Fiscalizadora 
 
   Nells Leon
 Presidente 
 
 

INVERSIONES
EN ACCIONES TITULOS EMITIDOS EN SERIE Y PARTICIPACION EN OTRAS
SOCIEDADES
expresados en millones de pesos
CUADRO I  ANEXO C


 
 Balances generales consolidados al  de
 diciembre de
 
 
 
 
 
 
 Informacioacuten
 sobre el ente emisor
 
 
 
 Caracteristicas de
 los valores
 
 Ultimos estados
 contables emitidos
 
 
 Denominacion y Emisor
 Clase
 Valor Nominal 
 Cantidad
 Valor Registrado
 Costo
 Actividad Principal
 Domicilio Legal
 Fecha
 Capital Social
 Resultado del Ejercicio
 Patrimonio Neto
 Participacioacuten sobre
 Capital Social
 Valor Registrado
 Valor Registrado
 
 
 Inversiones corrientes
 Tiacutetulos puacuteblicos
 
 
 Bonex
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 Inversiones no corrientes
 Sociedades Artiacuteculo   Ley N 
 
 
 Agroquiacutemica Latinoamericana SA
 Certificado
 US
 
 
 
 Petroquiacutemica
 Casilla  
 La Paz  Bolivia
 
 
 
 
 
 
 
 
 
 YPF Exploration and Production Overseas Inc
 Ordinarias
 US
 
 
 
 Exploracioacuten y produccioacuten de
 petroacuteleo
  Greenway Plaza Sec Houston  Texas 
  USA
 
 
 
 
 
 
 
 
 
 YPF Sudamericana SA
 Ordinarias
 Bs
 
 
 
 Exploracioacuten explotacioacuten
 industrializacioacuten comercializacioacuten
 transporte y distribucioacuten de hidrocarburos y sus
 derivados
 Federico Suazo  Edifico Park Inn  P 
 La Paz  Bolivia
 
 
 
 
 
 
 
 
 
 
 Vinculadas 
 
 
 Refineriacutea del Norte SA
 Ordinarias
 Ps 
 
 
 
 Refinacioacuten
 Maipuacute   P  Capital Federal 
 Buenos Aires
 
 
 
 
 
 
 
 
 
 Oleoductos del Valle SA
 Ordinarias
 Ps 
 
 
 
 Transporte de petroacuteleo por ductos
 Maipuacute   P  Capital Federal 
 Buenos Aires
 
 
 
 
 
 
 
 
 
 Oiltanking Ebytem SA
 Ordinarias
 Ps 
 
 
 
 Transporte y almacenamiento de hidrocarburos
 Suipacha   P  
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 Transportes Mariacutetimos Petroleros SA
 Ordinarias
 Ps 
 
 
 
 Transporte de petroacuteleo por buques
 Tucumaacuten   P 
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 Terminales Mariacutetimas Patagoacutenicas SA 
 Ordinarias
 Ps 
 
 
 
 Almacenamiento y despacho de petroacuteleo
 Maipuacute   P 
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 Petroken Petroquiacutemica Ensenada SA
 Ordinarias
 Ps 
 
 
 
 Petroquiacutemica
 Sarmiento   P 
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 Petroquiacutemica Bahiacutea Blanca SAIC
 Ordinarias
 Ps 
 
 
 
 Petroquiacutemica
  de Mayo   P  
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 
 Indupa SAIC
 Ordinarias
 Ps 
 
 
 
 Petroquiacutemica
 Viamonte 
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 
 Concecuyo SA
 Ordinarias
 Ps 
 
 
 
 Atencioacuten y promocioacuten de los intereses
 comerciales de YPF en las estaciones de servicios con
 bandera propia
 Cerrito   P
 Capital Federal  Buenos Aires
 
 
 
 
 
 
 
 
 
 Petrochemical Investment Company
 Ordinarias
 US
 
 
 
 Inversioacuten y financiera
 South Church Street  PO Box  Georgetown
  Cayman Island
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


 No ha sido consolidada liacutenea por
liacutenea por estar completamente previsionada Nota
b
 Corresponde al porcentaje de participacioacuten sobre el
patrimonio neto de la sociedad neto de resultados no
trascendidos a terceros
 No ha sido consolidada liacutenea por liacutenea debido a
que no presenta estados contables por no haber iniciado
auacuten sus operaciones Nota
b
 No se expone valor alguno ya que el valor registrado es menor
a  milloacuten
 Corresponde al porcentaje de participacioacuten sobre el
patrimonio neto de sociedad neto del efecto de hechos
significativos occurridos en el uacuteltimo trimestre
 Adicionalmente la Compantildeiacutea posee una
participacioacuten indirecta del  a traveacutes de su
participacioacuten en el patrimonio neto de Petrochemical
Investment Company
 Adicionalmente la Compantildeiacutea posee una
participacioacuten indirecta del  y  a traveacutes
de su participacioacuten en el patrimonio neto de Petrochemical
Investment Company y Petroquiacutemica Bahiacutea Blanca
SAIC respectivamente
 Corresponde al balance de constitucioacuten por no haber
iniciado auacuten sus operaciones 
Nota b


 
   Roberto JA Dormal Bosch
 Por Comisioacuten Fiscalizadora 
 
   Nells Leon
 Presidente 
 
 

INFORMACION
REQUERIDA POR EL ARTICULO  APARTADO I INCISO B DE LA LEY
N 
Balances Generales Consolidados al  de
diciembre de   y 
expresados en millones de pesos

CUADRO I  ANEXO H


 
 Por los Ejercicios Finalizados el  de
 diciembre de 
 
 
 
 
 
 
 Costos de Produccioacuten
 Gastos de
 Administracioacuten
 Gastos de
 Comercializacioacuten
 Gastos de Exploracioacuten
 Total
 Total
 Total
 
 
 Sueldos y cargas sociales
 
 
 
 
 
 
 
 
 
 Honorarios y retribuciones por servicios
 
 
 
 
 
 
 
 
 
 Otros gastos de personal
 
 
 
 
 
 
 
 
 
 Impuestos tasas y contribuciones
 
 
 
 
 
 
 
 
 
 Regaliacuteas servidumbres y caacutenones
 
 
 
 
 
 
 
 
 
 Seguros
 
 
 
 
 
 
 
 
 
 Alquileres de inmuebles y equipos
 
 
 
 
 
 
 
 
 
 Gastos de estudio
 
 
 
 
 
 
 
 
 
 Depreciacioacuten de bienes de uso
 
 
 
 
 
 
 
 
 
 
 
 Materiales y uacutetiles de consumo
 
 
 
 
 
 
 
 
 
 Contrataciones de obra y otros servicios
 
 
 
 
 
 
 
 
 
 Conservacioacuten reparacioacuten y
 mantenimiento
 
 
 
 
 
 
 
 
 
 Contratos de explotacioacuten de aacutereas
 productivas
 
 
 
 
 
 
 
 
 
 Perforaciones exploratorias improductivas
 
 
 
 
 
 
 
 
 
 Transporte productos y cargas
 
 
 
 
 
 
 
 
 
 Previsioacuten para deudores por ventas de cobro
 dudoso 
 
 
 
 
 
 
 
 
 
 Gastos de publicidad y propaganda
 
 
 
 
 
 
 
 
 
 Combustibles gas energiacutea y otros 
 
 
 
 
 
 
 
 
 
 Total por el ejercicio finalizado el 
 
 
 
 
 
 
 
 
 
 Total por el ejercicio finalizado el 
 
 
 
 
 
 
 
 
 
 Total por el ejercicio finalizado el 
 
 
 
 
 
 
 
 


 Incluye  y  por los ejercicios
finalizados el  de diciembre de  y  respectivamente
correspondiente a la consolidacioacuten proporcional del estado
de resultados de Petroken Petroquiacutemica Ensenada SA

 
   Roberto JA Dormal Bosch
 Por Comisioacuten Fiscalizadora 
 
   Nells Leon
 Presidente 
 
 

 



