



El Nuevo Enfoque de las Estrategias de YPF







 
 
 El bombeo mecanico es el principal
 metodo utilizado para extraer petroleo en el campo mas
 grande de YPF Chihuido de la Sierra NegroLomitas en la
 zona norte de la Cuenca Neuquina Se estan reemplazando
 los motores de estos equipos para reducir los costos de
 produccion y mantenimiento
 



 
 
 En  YPF modificoacute sus
 estrategias de largo plazo para las operaciones de
 petroacuteleo Desde  hasta  el objetivo
 fundamental era aumentar la produccioacuten de
 petroacuteleo tan raacutepido como lo permitieran sus
 yacimientos subexplotados y no desarrollados Esta
 estrategia resultoacute extremadamente exitosa Durante
  YPF determinoacute que las actividades de
 desarrollo y produccioacuten habiacutean alcanzado un
 punto donde un ajuste en las tasas de crecimiento debiera
 ser hecho para continuar con la estrategia de
 crecimiento rentable que se pueda sostener
 con la base de reservas de la compantildeiacutea y
 los recursos de la corporacioacuten Esta estrategia
 optimiza tanto los retornos financieros como el valor de
 las reservas y permitiraacute a la empresa mantener un
 crecimiento consistente en el futuro 
 Los yacimientos existentes habraacuten
 de jugar un rol de suma importancia en el incremento de
 la produccioacuten La empresa cree tener grandes
 posibilidades de incorporar nuevas reservas e incrementar
 la produccioacuten aplicando teacutecnologiacuteas
 de punta Por eso habraacute de valerse seguacuten
 los casos de teacutecnicas de recuperacioacuten
 asistida reparaciones e intervenciones de pozos
 perforaciones maacutes profundas y otras
 teacutecnicas muchas de las cuales no requieren la
 perforacioacuten de nuevos pozos 
 Se espera que los proyectos de
 recuperacioacuten secundaria jueguen un rol importante
 para el incremento de la produccioacuten En  la
 empresa invirtioacute  millones en ese rubro Una
 cantidad sustancial de yacimientos en explotacioacuten
 ofrecen buen potencial para la inyeccioacuten de agua
 que permitiraacute incorporar reservas e incrementar la
 produccioacuten a bajo costo con bajo riesgo y sin
 recurrir a significativas perforaciones de desarrollo En
 muchos yacimientos los costos operativos por barril
 podriacutean disminuir ya que al usar el agua de
 produccioacuten para recuperacioacuten secundaria se
 reduciriacutean gastos para la eliminacioacuten de
 aquella El proyecto maacutes importante de estas
 caracteriacutesticas incluye el extenso yacimiento
 Chihuido de la Sierra NegraLomitas en la Cuenca
 Neuquina donde se espera que la tercera etapa del
 programa de inyeccioacuten de agua con una
 inversioacuten de  millones incremente en forma
 significativa la produccioacuten de petroacuteleo Se
 ha programado perforar o convertir aproximadamente 
 pozos inyectores en este yacimiento Otros dos
 importantes programas de inyeccioacuten de agua se
 iniciaraacuten en la Cuenca Cuyana y en la Cuenca del
 Golfo San Jorge con  proyectos nuevos para perforar 
 pozos inyectores de agua 
 La produccioacuten diaria de
 petroacuteleo originada en programas de
 recuperacioacuten secundaria promedioacute los 
 barriles en  en  se obteniacutean 
 barriles con esa teacutecnica y  barriles en
  Hacia fines de la presente deacutecada la
 produccioacuten a obtener por recuperacioacuten
 secundaria de este tipo tendraacute un peso
 significativo en la produccioacuten total de la
 compantildeiacutea 
 
 
  
 Acambuco Todas las operaciones de
 asistencia al pozo son helitransportadas El sondeo San
 Pedrito XP en el NO de Argentina explora para ubicar
 reservas de gas que permitiran realizar el proyecto de
 exportacion a Brasil Los helicopteros se utilizaron para
 transportar el equipo de perforacion personal y todos
 los insumos necesarios para la obra 
 
 

Para optimizar la produccioacuten de
petroacuteleo YPF utiliza las mejores teacutecnicas que
permiten intensificar la extraccioacuten en los pozos ya
existentes Con este fin se utilizan bombas electrosumergibles
unidades de bombeo de carrera larga instalaciones para surgencia
por inyeccioacuten de gas gaslift y sistemas de
mantenimiento de presioacuten por gas en muchos de sus
yacimientos Asiacute en el yacimiento Los Perales de la
Cuenca del Golfo San Jorge un ensayo de recuperacioacuten
asistida en un pozo piloto mediante la inyeccioacuten
ciacuteclica de vapor permitiraacute determinar la
factibilidad de una aplicacioacuten maacutes extensa de esta
teacutecnica de recuperacioacuten asistida YPF
tambieacuten firmoacute un convenio para aplicar el
meacutetodo de bombeo por cavidad progresiva en yacimientos
especialmente seleccionados
Como parte de la explotacioacuten de los
yacimientos existentes tambieacuten se utiliza siacutesmica
D tridimensional para mejorar la comprensioacuten de la
geometriacutea y localizacioacuten de formaciones
geoloacutegicas En  se registraron  km de
Siacutesmica D y se ha programado para  el registro de
otros  km de Siacutesmica D
 



