



Programa de Desarrollo para 






En  la compantildeiacutea
planea invertir en proyectos de desarrollo reservorios 
menos que en  La empresa ha programado movilizar  equipos
para perforar aproximadament  pozos y  pozos inyectores
Esta actividad se concentraraacute en la regioacuten de
Comodoro Rivadavia en la cuenca del Golfo San Jorge Se programa
realizar maacutes de  nuevos pozos en esta zona y
maacutes de  reparaciones workovers Dada la
proximidad de Comodoro Rivadavia al Oceacuteano
Atlaacutentico se espera colocar la produccioacuten de esta
zona en mercados del exterior En la regioacuten Plaza Huincul
en la Cuenca Neuquina YPF habraacute de perforar maacutes de
 nuevos pozos y realizaraacute mas de  reparaciones
workovers Ademaacutes en  se
iniciaraacuten  proyectos de recuperacioacuten secundaria
tambieacuten en esta regioacuten


 


