



Operaciones de Gas Natural






El precio del gas natural en  se incrementoacute un 
llegando a US por milloacuten de BTU siguiendo una
consistente tendencia alcista El volumen de ventas que
promedioacute  millones de pies cuacutebicosdiacutea
fue inferior al nivel de 
En  YPF completoacute la instalacioacuten de una
planta deshidratadora de gas en el yacimiento Loma La Lata en la
Cuenca Neuquina a fin de cumplir con reglamentaciones vigentes
para el transporte de dicho gas
Dada la favorable situacioacuten de reservas la estrategia
de negocios de YPF se propone aumentar las ventas de gas natural
en la Argentina y en los mercados regionales de Ameacuterica
Latina y desarrollar ademaacutes oportunidades para
aprovechar las fluctuaciones del precio de mercado que son de
iacutendole estacional Por otra parte tambieacuten se
habraacuten de obtener beneficios a partir de la mayor
capacidad de transporte aproximadamente  millones de pies
cuacutebicos por diacutea mmcfd incorporada en los dos
uacuteltimos antildeos por las compantildeiacuteas
transportadoras de gas natural


A nivel local el mercado de maacutes
raacutepido crecimiento para el gas natural fue el de la
generacioacuten de energiacutea eleacutectrica YPF
formalizoacute contratos significativos para suministrar gas
natural a nuevas plantas generadoras de energiacutea En 
se iniciaron las entregas a las plantas generadoras El Brachito y
Riacuteo Negro Actualmente YPF entrega maacutes de 
millones de pies cuacutebicos de gas por diacutea en
cumplimiento de esos contratos ademaacutes del celebrado en
 para la planta generadora de energiacutea eleacutectrica
Central Neuquen En  se realizaron dos acuerdos adicionales
que incrementaraacuten las entregas de gas natural en
aproximadamente  millones de pies cuacutebicos diarios a
partir de 


Los mercados de exportacioacuten tambieacuten representan
una excelente oportunidad para el crecimiento de las ventas de
gas natural El primer contrato de exportacioacuten se
firmoacute en  con Methanex empresa propietaria de una
planta elaboradora de metanol en la regioacuten austral de
Chile El convenio por  antildeos compromete a YPF con dos
empresas asociadas a suministrar a Methanex  millones de pies
cuacutebicosdiacutea de gas producido en la Cuenca Austral
argentina Ya se inicioacute la construccioacuten del
gasoducto para comenzar las exportaciones a fines de  YPF
espera vender aproximadamente  millones de pies cuacutebicos
de gas natural por diacutea seguacuten los teacuterminos
del contrato con Methanex Hay dos proyectos maacutes para
exportar gas natural a Chile incluyendo el convenio firmado por
YPF con Tenneco en  para vender gas desde un gasoducto de
 kiloacutemetros con capacidad para transportar 
millones de pies cuacutebicosdiacutea desde la Cuenca
Neuquina a importantes ciudades chilenas Aunque todaviacutea
no es segura la construccioacuten de alguno de los dos
gasoductos proyectados y tampoco su financiacioacuten es
altamente probable que la produccioacuten de YPF aporte los
mayores voluacutemenes a ser transportados El mercado chileno
es una importante meta a largo plazo para la empresa
Brasil es otro mercado potencial para exportaciones de gas
natural YPF y sus socios estudian la factibilidad de construir
un gasoducto para transportar  millones de pies
cuacutebicos de gas naturaldiacutea desde la Cuenca del
Noroeste hasta Sao Paulo Brasil Las empresas ejecutan un
agresivo programa de evaluacioacuten de la cuenca para
determinar si se pueden probar reservas suficientes que respalden
el proyecto Los niveles gerenciales de YPF consideran que
hariacutean falta reservas de aproximadamente  millones de
millones de pies cuacutebicos de gas natural para justificar
este gasoducto En este sentido se espera que la
evaluacioacuten de la Cuenca del Noroeste se

complete en  ya que en  se
logroacute un importante descubrimiento de gas en el yacimiento
Aguaraguumle Como resultado de este descubrimiento cobraron un
nuevo impulso las perspectivas exploratorias y gasiacuteferas
del proyecto y se considera maacutes probable la factibilidad
de exportar gas a Brasil Simultaacuteneamente en el
yacimiento Acambuco cercano a Aguaraguumle YPF estaacute
terminando otro importante pozo exploratorio profundo en San
Pedrito x En la misma aacuterea se estaacuten perforando
otros dos pozos exploratorios el Chango Norte y el Porcelana


YPF estaacute evaluando la factibilidad de
construir instalaciones para almacenar gas natural durante los
periacuteodos de baja demanda especialmente en verano y
aumentar los voluacutemenes de gas disponibles durante los
meses de invierno cuando se incrementan tanto la demanda como
los precios En  YPF inicioacute dos proyectos pilotos de
almacenamiento en pequentildea escala

 
 
  
 
 La exitosa perforacion en el Bloque
 Buta Ranquil en Neuquen confirma la presencia de
 reservas adicionales de gas y petroleo
 





