



Seguridad y Medio Ambiente






YPF se empentildea en mejorar la
calidad del medio ambiente en las aacutereas donde realiza
actividades de exploracioacuten y produccioacuten En los
emplazamientos de los pozos perforados por la
compantildeiacutea ya se rellenaron el  de las piletas
construiacutedas para el lodo de inyeccioacuten
Ademaacutes se reinyecta maacutes del  del agua producida
en las operaciones petroleras y gasiacuteferas y la empresa
ha programado reinyectar el  del agua de produccioacuten
El programa de forestacioacuten de YPF sigue en curso y hasta
la fecha se han plantado maacutes de  aacuterboles
Todas las operaciones de YPF
participan del programa STOP de la empresa DuPont que aplica
teacutecnicas de observacioacuten y prevencioacuten para
evitar accidentes Ademaacutes se dictan cursos de
capacitacioacuten para todo el personal sobre el gerenciamiento
de las cuestiones ambientales y el monitoreo del trabajo YPF
tambieacuten participa en grupos de estudio que se dedican a
evaluar programas para remediar el dantildeo ecoloacutegico
impacto ambiental producido en tierras afectadas por derrames
de petroacuteleo




