



Operaciones




 


 
 Cedric
 D Bridger
 Vicepresidente de Finanzas y
 Desarrollo Corporativo
 Martiacuten
 Paacuteez Allende
 Vicepresidente de
 Relaciones Institucionales
 Antonio
 Allegreta
 Vicepresidente de
 Lubricantes
 Carlos
 Olivieri
 Vicepresidente de
 Contraloriacutea General
 Juan
 J Garacija
 Vicepresidente de
 Compras Contratos y Proteccioacuten Ambiental
 Rauacutel
 Oreste
 Vicepresidente de
 Recursos Humanos
 Juan
 A Rodriguez
 Vicepresidente de
 Ingenieriacutea y Tecnologiacutea
 



 
 
 Enrique
 Pourteau
 Vicepresidente de
 Industrializacioacuten y Comercializacioacuten
 Roberto
 Monti
 Presidente Maxus
 Energy Corporation
 Nells
 Leon
 Presidente
 Marcelo
 D Guiscardo
 Vicepresidente de
 Exploracioacuten y Produccioacuten
 Miguel
 Madanes
 Vicepresidente
 Ejecutivo
 

No incluidos en la foto 
Norberto Noblia
Viceresidente de Asuntos
Legales
Eduardo Petazze
Vicepresidente


 Operaciones Locales de
 Exploracioacuten y Produccioacuten 
 Operaciones Internacionales YPFMaxus 
 Operaciones de
 Industrializacioacuten y Comercializacioacuten 
 Finanzas  Sintesis 
 Informacioacuten Estadiacutestica





