



Programa de Reduccioacuten de Costos




 

YPF siguioacute reduciendo su estructura de
costos en  A partir de  los costos de extraccioacuten
se redujeron de US por barril de petroacuteleo equivalente
a US en  y US en  Los costos de
terminacioacuten de pozos tambieacuten disminuyeron por el
uso de nuevos meacutetodos de perfilaje y tecnologiacuteas de
punta para la terminacioacuten de aquellos Tambieacuten
disminuyeron los costos operativos con la instalacioacuten de
generadores propios de energiacutea eleacutectrica para
reemplazar la compra de eacutesta Ademaacutes de reducir los
costos el excedente de energiacutea eleacutectrica producida
en los yacimientos se puede vender a terceros con una buena
rentabilidad La empresa incorporoacute sistemas de traceado
eleacutectrico que reemplazaron al vapor para calefaccionar los
ductos de la regioacuten norte de Mendoza donde tambieacuten
se redujeron considerablemente los costos de produccioacuten




