



Maxus Estados Unidos




 

En Estados Unidos YPFMaxus es
baacutesicamente una empresa productora de gas natural en la
regioacuten central del paiacutes Las operaciones
estaacuten concentradas en un aacuterea de  condados de un
sector del territorio de Texas Panhandle que se adentra en el
Estado de Oklahoma y en Oklahoma occidental una de las
maacutes importantes regiones productoras de los Estados
Unidos A traveacutes de Midgard subsidiaria totalmente
controlada por YPFMaxus eacutesta tiene una
participacioacuten que promedia el  en maacutes de 
pozos y ademaacutes opera maacutes de las tres cuartas
partes de los mismos A fines del ejercicio  las reservas
netas comprobadas sumaban  miles de millones de pies
cuacutebicos de gas natural y  millones de barriles de
petroacuteleo En gran medida se trata de reservas de larga
vida con tasas declinantes moderadas y predecibles de
produccioacuten
La compantildeiacutea
tambieacuten opera en la regioacuten un sistema de
captacioacuten de gas natural de  kiloacutemetros de
extensioacuten y dos plantas procesadoras con una capacidad de
 millones de pies cuacutebicos diarios mmcfd Estos
activos convierten a YPFMaxus en una compantildeiacutea
gasiacutefera plenamente integrada
En  la produccioacuten neta
promedioacute  mmcfd de gas natural y  bpd mientras
que en  la produccioacuten promedio fue de  mmcfd de
gas natural y  bpd Para  las ventas totales que
incluyeron ventas a terceros de gas adquirido para su
procesamiento ulterior ascendieron a  mmcfd y  bpd de
condensado en comparacioacuten respectivamente con  mmcfd
y  bpd vendidos en  En  se terminaron  pozos en
los que YPFMaxus tuvo un porcentaje de participacioacuten en
su mayoriacutea pozos de relleno y pozos de extensioacuten
contra  pozos terminados en 
YPFMaxus estaacute explorando
posibles oportunidades de constituir UTEs o alguna otra forma de
asociacioacuten con empresas petroleras para reducir costos
crear economiacuteas de escala y mejorar el
marketing de su produccioacuten De esta forma se
espera lograr ahorros significativos y mejorar los
maacutergenes de ganancia
 



