



Industrializacioacuten y Transporte





 

 
 
 Se esta invirtiendo capital en la
 Refineria Lujan de Cuyo Mendoza para producir productos
 de mayor calidad
 

En  YPF lanzoacute un
programa a largo plazo para aumentar la rentabilidad mediante una
mejora de la calidad de sus productos refinados la
disminucioacuten de los costos operativos y el fortalecimiento
de los programas ambientales de la empresa Los beneficios
resultantes de estas medidas contribuyeron a las significativas
mejoras operativas registradas en  y las actividades
emprendidas por YPF durante este antildeo deberiacutean
ejercer un impacto semejante en  y antildeos subsiguientes
En  la empresa

 
 Disminuyoacute
 significativamente los costos de procesamiento en la
 refineriacutea de La Plata 
 
 
 Mejoroacute la calidad
 de las naftas elaboradas 
 
 
 Puso en praacutectica un
 refinado y complejo sistema de control de
 peacuterdidas incluyendo tecnologiacutea de
 balance de masas tanto en las
 refineriacuteas como en las plantas
 petroquiacutemicas 
 
 
 Negocioacute rebajas en
 las tarifas de transporte por ferrocarril 
 
 
 Mejoroacute el
 aprovechamiento de los poliductos transportando
 voluacutemenes producidos por terceros seguacuten los
 teacuterminos de contratos nuevos y rentables 
 
 
 Completoacute
 importantes proyectos relacionados con el impacto
 ambiental 
 

En la refineriacutea de La Plata
se modernizaron las instalaciones para producir naftas de
octanajes maacutes elevados Las naftas de YPF se procesan y
venden sin plomo Un convenio de asistencia teacutecnica con
Chevron Corporation suscripto en  que tiene tres
antildeos de vigencia contribuyoacute a reducir los costos
Los sistemas de control que se instalaron en  redujeron las
mermas de crudo y el consumo de energiacutea En
teacuterminos generales en  los costos de la
refineriacutea de La Plata disminuyeron  millones en
comparacioacuten con  y se esperan nuevas reducciones para

Un factor clave que
contribuiraacute a mejorar los costos en  seraacute la
terminacioacuten de dos nuevas unidades de procesamiento En el
primer semestre del antildeo se pondraacute en
funcionamiento la unidad de hidrotratamiento de naftas y
posteriormente la unidad de isomerizacioacuten Tambieacuten
a fines de  comenzaraacute a funcionar una unidad TAME

En febrero de  comenzoacute
a funcionar una planta de MTBE metilterbutil eacuteter en la
Refineriacutea de Lujaacuten de Cuyo Mendoza Con ella se
pudo incrementar la produccioacuten de nafta sin plomo y el
octanaje de eacutesta Para fines de  estaacute
proyectada la terminacioacuten de otras dos plantas una de
isomerizacioacuten y otra de alkilacioacuten
Cuando YPF complete el programa de
mejora de la calidad de sus naftas en  el  de la
produccioacuten de la empresa estaraacute en condiciones de
cumplir con estaacutendares internacionales Aumentaraacute
el octanaje y se reduciraacuten significativamente los niveles
de benceno y de hidrocarburos aromaacuteticos con lo cual YPF
podraacute satisfacer las estrictas normas de mantenimiento de
la calidad del aire establecidas en Estados Unidos para las
motonaftas Ademaacutes el gas oil producido por YPF
cumpliraacute con las especificaciones de calidad exigidas por
todos los mercados de Ameacuterica Latina
 



