



Comercializacioacuten







 
 
  
 
 

La flota de camiones de YPF
entrega las naftas a las estaciones de servicio asegurando el
tiempo y la seguridad en la entrega de las mismas a los clientes

YPF comercializa naftas y otros productos
derivados del petroacuteleo abasteciendo a sus clientes
minoristas a traveacutes de una red de ventas que cuenta con
maacutes de  estaciones de servicio Todas con
excepcioacuten de  son de propiedad de concesionarios
independientes o del Automoacutevil Club Argentino y operan con
la marca y logotipo de YPF
En  la conduccioacuten de YPF
inicioacute un programa a largo plazo para renovar y afianzar
la imagen de la empresa tanto visual como conceptualmente YPF
ha conquistado reputacioacuten como consecuencia de un
programa en ejecucioacuten y que contempla los siguientes
requisitos baacutesicos

 
 Calidad de los Productos
 La mejora sustancial de la calidad de sus productos es el
 fundamento de la nueva imagen comercial de la Empresa La
 oferta de productos con paraacutemetros de calidad
 equiparable con estaacutendares internacionales 
 de las naftas sin plomo mayor octanaje permitioacute
 a YPF competir eficazmente recuperando antiguos clientes
 y ganando nuevos 
 Para fortalecer esta imagen de calidad
 la empresa introdujo colores distintivos de los diversos
 tipos de naftas para brindar a sus clientes mayor
 seguridad con respecto a la permanente calidad de sus
 productos Este programa fue muy bien recibido por los
 consumidores 
 
 
 Imagen de la Estacion de
 Servicio YPF cerroacute el  de las
 estaciones de su red e inicioacute un programa de
 remodelacioacuten y renovacioacuten con la
 colaboracioacuten de los concesionarios En  se
 remodelaron  estaciones elevando a maacutes de
  las modernizadas o renovadas en los tres
 antildeos de duracioacuten del programa o sea el 
 de la red Este programa se deberiacutea completar en
 el segundo semestre de  En  la empresa
 lanzoacute el programa Nueva Imagen de sus
 estaciones de servicio y a menos de dos antildeos ya
 se inauguraron  de estas modernas estaciones de
 servicio ubicadas estrateacutegicamente en zonas donde
 hay una fuerte demanda de combustibles y para atender un
 gran volumen de clientes La respuesta a este programa
 Nueva Imagen ha sido excelente y para los
 proacuteximos antildeos YPF espera que un  de la
 red de la empresa esteacute integrado por estas
 estaciones de servicio nueva imagen
 Ademaacutes YPF estaacute abriendo convenience
 stores AMPM en algunas de sus estaciones en los
 teacuterminos de la concesioacuten de marca obtenida
 de la compantildeiacutea ARCO Atlantic Richfield
 Company YPF proyecta abrir alrededor de  de estos
 AMPM en los proacuteximos diez
 antildeos 
 
 
 Seguridad Como
 parte del programa de remodelacioacuten de sus
 estaciones de servicio YPF introdujo sustanciales
 mejoras en los sistemas de seguridad Ademaacutes
 reemplazoacute maacutes de la tercera parte de los
  tanques de almacenamiento y surtidores de
 combustibles de la red 
 
 
 Servicios al Cliente
 Para asegurar la prestacioacuten continua de servicios
 de alta calidad a sus clientes YPF inicioacute un
 programa de capacitacioacuten para sus empleados y
 concesionarios independientes El programa propone la
 satisfaccioacuten del cliente como el objetivo
 maacutes importante a cumplir en la operacioacuten de
 las estaciones de servicio En   empleados y
 trabajadores de las estaciones de servicio independientes
 participaron del programa 
 
 
 Operaciones en el Area
 Internacional Con el fortalecimiento de la
 posicioacuten y reputacioacuten de YPF en la
 Repuacuteblica Argentina la empresa ha iniciado un
 programa orientado a una expansioacuten selectiva en
 otros paiacuteses latinoamericanos A comienzos de
  YPF adquirioacute una cadena de  estaciones de
 servicio en Chile que tiene un  de
 participacioacuten del mercado de combustibles de ese
 paiacutes Las estaciones llevaraacuten el logotipo
 de YPF y seraacuten modernizadas de acuerdo con el
 programa de inversiones que se inicioacute en 
 Tambieacuten existen otras diez y seis estaciones que
 operan con el logo de YPF 
 


 
 
 Se ha aumentado las capacitacion del
 personal de las estaciones de servicio mejorando la
 atencion de los clientes a traves de la extensa red de
 estaciones de servico de YPF
 
 
 El control de calidad se ha
 incrementado con el uso de colores en las naftas
 fotografiadas en el laboratorio de la Refineria La Plata
 Los automovilistas saben que estan comprando naftas ypf
 cuando ven salir la misma a traves del pequeno visor que
 posee el surtidor con los colores Champagne para la
 Ultra  el verde para la Super  y el Purpura para
 la Normal 
 
 

 



