



Lubricantes







Tambores de lubricantes
esperan ser embarcados en la terminal La Plata YPF fue la
primera compantildeia Argentina en tener completo el proceso de lubricantes
con calidad ISO
 otorgado en Octubre de 

YPF es un importante productor de lubricantes para los
mercados automotriz e industrial Tambieacuten elabora
productos semiterminados como aceites base y grasas que se venden
a terceros En  la Divisioacuten
Lubricantes de YPF recibioacute la certificacioacuten de
cumplimiento de las normas ISO 
Organizacioacuten Internacional de Normalizacioacuten que
consolidoacute la reputacioacuten e imagen de la empresa como
proveedora de productos de primera calidad que satisfacen los
estaacutendares internacionales Tambieacuten en  y para
mejorar auacuten maacutes la imagen de YPF y cumplir con las
exigencias de los consumidores la Divisioacuten Lubricantes
de YPF modernizoacute sus operaciones de mezcla y envasado
agregando ademaacutes un centro de servicios a clientes
Tambieacuten se realizaron cambios en el organigrama de la
empresa para centralizar y agilizar las operaciones de ventas de lubricantes e
incrementar la competitividad de YPF en este rubro En  la Divisioacuten Lubricantes
persistiraacute en mantener su presencia en el mercado local
expandiraacute las ventas internacionales lanzaraacute
nuevos productos y envases efectuaraacute un proceso de
reingenieriacutea de su sistema de terminales y transporte y
continuaraacute reduciendo los costos operativos Como parte
del enfoque orientado a la prestacioacuten de mejores servicios
a los clientes se ha planificado tambieacuten la
realizacioacuten de un intenso programa de capacitacioacuten
para la fuerza de ventas distribuidores y operarios de la red de
estaciones de servicio

 
 
  
 
 Los nuevos lubricentros en las
 estaciones de servicio de YPF estan incrementando las
 ventas y permitiendo a los automovilistas cambiar
 facilmente su aceite
 

 



