



Medio Ambiente






La proteccioacuten del medio
ambiente es una de las metas fundamentales de YPF La empresa es
la uacutenica compantildeiacutea refinadora y
comercializadora que vende todas sus naftas sin plomo En 
YPF puso en funcionamiento nuevas plantas para el tratamiento de
efluentes en las refineriacuteas de Plaza Huincul y La Plata
Ademaacutes se implementoacute un programa de integridad de
sus poliductos a fin de proteger las napas de agua
subterraacutenea y los acuiacuteferos YPF estima terminar a
comienzos de  una unidad para el tratamiento de
liacutequidos que eliminaraacute los efluentes en la
refineriacutea de Lujaacuten de Cuyo Tambieacuten se
terminaraacuten dos unidades tipo Clauss para el tratamiento de
gases que habraacuten de reducir las emisiones de azufre
YPF busca permanentemente las
oportunidades y posibilidades para neutralizar el impacto
ambiental de sus instalaciones y operaciones Ha realizado y
seguiraacute hacieacutendo significativas inversiones de
capital para asegurar que las operaciones de la empresa se lleven
a cabo de un modo seguro y no perjudicial para el medio ambiente

 


