



Informacioacuten Estadiacutestica cont







 
 
  
 
 Paacutegina
 Anterior
 




 
 
 
 
 Tabla
 comparativa de Reservas de Petroacuteleo y Gas
 de las Principales Compantildeiacuteas
 Petroleras en  que Cotizan en la Bolsa de New
 York
 miles de millones de BPE
 
 
 
 Incluyendo Maxus
 
 
 
 
 
 
 Ventas por
 Areas Geograacuteficas
  Total en el Mundo
 
 
 
 
 
 
 
 
 
 Reservas
 por Areas Geograacuteficas
  Total en el Mundo
 
 
  
 
 
 
 
 
 
 Produccioacuten
 de Petroacuteleo
  Total Argentina
 
 
  
 
 
 
 
 
 
 Produccioacuten
 de Gas Natural
  Total Argentina
 
 
  
 
 
 
 
 
 
 Venta de
 Nafta
  Total Argentina
 
 
  
 
 




 
 
 Paacutegina
 Siguiente 
 
 
 





