



Aceites para caacuterter






ACEITES PARA CARTER



 
 
 Elaioacuten
 SJ
 SAE W A SJ de alta
 performance para vehiacuteculos equipados con motores
 nafteros a carburacioacuten inyeccioacuten
 normalmente aspirados o turboalimentados
 
 
 SAE W B CF
 especiacuteficamente desarrollado para cubrir las
 necesidades caracteriacutesticas de los motores Diesel
 ligeros de uacuteltima generacioacuten
 
 Elaioacuten Diesel
 
 
 
 Elaioacuten Ultra
 SAE W A SJ
 semisinteacutetico Es el primer y uacutenico lubricante
 del paiacutes que cumple con los requisitos de la
 categoriacutea Energy Conserving
 
 
 SAE W A SJ 
 sinteacutetico de uacuteltima generacioacuten
 especialmente disentildeado para vehiacuteculos
 deportivos o de alta gama
 
 Elaioacuten Sinteacutetico
 
 
 
 Genemax
 Lubricante semisinteacutetico especialmente
 desarrollado para satisfacer los requerimientos de
 automotores que emplean GNC
 
 
 Monogrado SAE  o  API
 SFCC asegura en el caso de motores a nafta una
 excelente proteccioacuten contra la formacioacuten de
 lodos barnices y herrumbre tiacutepicos del servicio
 de ciudad 
 
 Super Moacutevil HD
 Suplemento 
 




 
 Ir a
 Lubricantes Automotrices
 
 


 
 



