



Lubricantes Automotrices 






GRASAS DE USO
AUTOMOTRIZ

 
 
 
 



 
 Producto
 Descripcioacuten 
 
 
 Grasa
  
 Grasa de base soacutedica y textura
 suave Tiene gran estabilidad y alto punto de goteo
 utilizada especialmente en rodamientos que trabajan a
 altas temperaturas pero en ambientes secos
 Tambieacuten puede aplicarse en los rodamientos de
 ruedas delanteras de automotores
 
 
 Grasa
 
 Esponjosa de base soacutedica Este
 tipo de grasa ha sido elaborada especialmente para ser
 aplicada en los rodamientos de ruedas de autos camiones
 tractores y en las crucetas de los aacuterboles de
 transmisioacuten de automoacuteviles y camiones
 
 
 Grasa 
 Es una grasa insoluble en agua por lo
 que su uso se recomienda para la lubricacioacuten de
 cojinetes y empaquetaduras de bombas de agua de
 automotores e industriales Su accioacuten sellante la
 adapta especialmente para estas aplicaciones
 
 
 Grasa
 C
 Es una grasa muy adhesiva de fibra
 larga recomendable para el engrase general de chasis de
 automotores maquinaria agriacutecola o usos similares
 Por su consistencia es indicada para engrasadores
 manuales
 
 
 Grasas
 
 El agregado de grafito confiere a esta
 grasa caracteriacutesticas que la hacen particularmente
 apta para la lubricacioacuten de mecanismos cuyo
 engrase se efectuacutea con grandes intervalos debido
 a la dificultad de acceso a las graseras
 
 
 Grasas 
  EP  EP  EP y  EP
 Son grasas de litio
 multipropoacutesito y su rango de temperaturas de
 aplicacioacuten va entre  C y  C Su
 calidad multiuso las hacen indicadas para infinidad de
 aplicaciones cojinetes lisos o rodamientos cadenas
 engranajes etc
 
 
 Grasas 
 y  EP
 
 Grasa de litio con el agregado de disulfuro de molibdeno
 EP Es una
 grasa bentoniacutetica de textura suave con
 caracteriacutesticas de extrema presioacuten 
 

 

FLUIDOS
HIDRAULICOS DE USO AUTOMOTRIZ

 
 Producto
 Descripcioacuten 
 
 
 Hidraacuteulico
 Aceites minerales de buen iacutendice
 de viscosidad con caracteriacutesticas antioxidantes
 antiherrumbre y antiespuma Se usan en sistemas
 hidraacuteulicos controles hidrodinaacutemicos de
 maacutequinas herramientas martinetes autoelevadores
 criques etc
 
 
 Hidraacuteulico
 BP
 Lubricantes refinados de alto
 iacutendice de viscosidad buena demulsibilidad con
 propiedades antidesgaste anticorrosivas antiherrumbre y
 antiespuma Se usan en sistemas hidraacuteulicos en los
 que el fluido es bombeado con equipos del tipo de bomba o
 actuador de paletas o donde se requieren aceites con
 aditivos antidesgaste
 

 
LUBRICANTES
PARA TRANSMISION

 
 
 
 



 
 Producto
 Descripcioacuten 
 
 
 Hidromoacutevil 
 Este lubricante estaacute formulado
 para satisfacer los muacuteltiples requerimientos a lso
 que se somete un fluido que deba responder a un buen
 aceite de engranajes un medio hidraacuteulico y a su
 vez en algunos equipos como bantildeo para frenos
 huacutemedos
 Cumple
  Norma John Deere JDMJC
  Norma Massey Ferguson MFM
  Norma Ford MC C
 Su uso estaacute aprobado y recomendado para los
 tractores J DEERE M FERGUSON DEUTS FAHR FIAT FORD
 A CHALMERS I HARVESTER y equipos agriacutecolas como
 cosechadoras sembradoras etc
 
 
 Hidromoacutevil ATF
 Lubricante especialmente formulado para
 satisfacer los modernos requisitos de cajas de
 transmisiones automaacuteticas determinadas cajas
 manuales direccioacuten hidraacuteulica o asistida
 acoplamientos y variadores de velocidad
 
 
 Hipoimoacutevil
 SAE W
 SAE W
 Satisface GL
 Es una liacutenea de lubricantes para
 caja y diferencial con caracteriacutesticas mejoradas
 de fluidez a bajas temperaturas y gran proteccioacuten
 frente al incremento teacutermico debido a
 disentildeos reducidos con mayores sobrecargas
 
 
 Transmisioacuten
 Se emplea para lubricar cajas de
 velocidades y engranajes en general no sometidos a
 condiciones severas Cumple con los requerimientos de la
 especificacioacuten GL de la clasificacioacuten
 API
 

 
VARIOS

 
 Producto
 Descripcioacuten 
 
 
 Anticongelante
 Compuesto y Refrigerante
 Formulado en base a glicoles fue
 especialmente disentildeado para brindar una eficiente
 proteccioacuten a los maacutes exigentes sistemas de
 enfriamiento de motores de combustioacuten interna
 tanto nafteros como diesel e instalaciones industriales
 donde utilicen agua como medio de refrigeracioacuten
 
 
 Lavador 
 Aceite para lavado de caacuterter de
 motores cajas de engranajes circuitos
 hidraacuteulicos y equipos industriales
 
 
 Liacutequido
 para Frenos Hidraacuteulicos YPF Tipo  
 Su temperatura de ebullicioacuten
 permite que el fluido trabaje en estado liacutequido a
 temperaturas normales de operacioacuten El fluido
 cumple ademaacutes con el ensayo relativo a la
 estabilidad del punto de ebullicioacuten
 

 

 
 Ir a
 Lubricantes Automotrices
 
 


 
 



