



Queacute es la Divisioacuten Lubricantes





 

 
   La Direccioacuten de YPF ha creado una
 nueva Divisioacuten Lubricantes con un enfoque
 comercial orientado al asesoramiento y
 atencioacuten de clientes y Usuarios por parte de un
 cuerpo profesional altamente especializado 
 El negocio de los lubricantes
 caracterizado por su alta competitividad
 tecnoloacutegica y comercial su elevado nivel de
 desarrollo de productos su necesidad de servicio y
 preservacioacuten del medio ambiente nos ha llevado a
 formar una nueva organizacioacuten que dentro de su
 dinaacutemica tendraacute como mandato esencial la
 satisfaccioacuten del cliente 
 En esta nueva etapa nos hemos propuesto
 mantener el liderazgo competitivo en el conjunto de las
 operaciones productivas y comerciales 
 
    
 Antonio Allegretta
 Vicepresidente Divisioacuten Lubricantes 
 
 

Las mismas continuaraacuten integradas desde la
refinacioacuten de petroacuteleo y el desarrollo de
productos hasta la atencioacuten individual del cliente En
septiembre de  recibimos el reconocimiento internacional a
traveacutes de la aprobacioacuten de la norma ISO  que asegura la calidad desde
la elaboracioacuten de los lubricantes hasta su llegada al
cliente 
La Direccioacuten de YPF ha creado una nueva
Divisioacuten Lubricantes con un enfoque comercial orientado al
asesoramiento y atencioacuten de clientes y Usuarios por parte
de un cuerpo profesional altamente especializado
El negocio de los lubricantes caracterizado por
su alta competitividad tecnoloacutegica y comercial su elevado
nivel de desarrollo de productos su necesidad de servicio y
preservacioacuten del medio ambiente nos ha llevado a formar
una nueva organizacioacuten que dentro de su dinaacutemica
tendraacute como mandato esencial la satisfaccioacuten del
cliente
En esta nueva etapa nos hemos propuesto mantener
el liderazgo competitivo en el conjunto de las operaciones
productivas y comerciales Las mismas continuaraacuten
integradas desde la refinacioacuten de petroacuteleo y el
desarrollo de productos hasta la atencioacuten individual del
cliente En septiembre de  recibimos el reconocimiento
internacional a traveacutes de la aprobacioacuten de la norma ISO  que asegura la calidad desde
la elaboracioacuten de los lubricantes hasta su llegada al
cliente 
Esta nueva visioacuten nos anima a enfrentar el
desafiacuteo de competir con nuestros productos terminados
tambieacuten en el mercado internacional

 
 



