



YPF Lubricantes y la Norma ISO 




 


 
 En YPF dimos un paso significativo en el
 proceso de mejoramiento continuo para satisfacer a
 nuestros clientes la quotCertificacioacuten de
 Calidad seguacuten la Norma ISO quot
 un reconocimiento internacional a la calidad con que
 realizamos la operacioacuten integral en nuestra
 divisioacuten lubricantes Otro logro que nos posiciona
 entre las primeras compantildeiacuteas del mundo en
 la especialidad
    
 
 

Compromiso con la Calidad Las
especificaciones seguidas por YPF acompantildean el avance
tecnoloacutegico mundial Esta poliacutetica empresaria se
sostiene con el trabajo creativo de todo el personal y su
permanente superacioacuten a traveacutes del desarrollo
profesional que permite la actualizacioacuten
tecnoloacutegica de los productos y sus procesos de
fabricacioacuten Asiacute cada uno de los integrantes de
YPF nos comprometemos activamente a acrecentar auacuten
maacutes la calidad de nuestro trabajo para que nuestros
clientes obtengan los mejores productos y servicios
Alcance de la certificacioacuten El
ente calificador asegura que el sistema de calidad de la
gestioacuten de compra de materiales  produccioacuten
inspeccioacuten y ensayos almacenamiento distribucioacuten
y asistencia teacutecnica a clientes satisface los exigentes
requisitos establecidos en la norma ISO 
Ventajas para el cliente Los
clientes de YPF ya conocen la excelencia de nuestros productos y
servicios No obstante con esta certificacioacuten se ha
incrementado el compromiso de todo nuestro personal con el
sistema de calidad y su perfeccionamiento continuo Ademaacutes
las plantas certificadas bajo Normas ISO  son las
uacutenicas que pueden producir lubricantes que cumplan con la
clasificacioacuten ACEA Asociacioacuten de Constructores
Europeo de Automoacuteviles que son las maacutes adecuadas
para el parque automotor de nuestro paiacutes
Un estilo de empresa para nosotros Y una clara ventaja para
usted 
Calidad Siempre en
crecimiento


 
 



