



er Trimestre  Press Release








YPF SA
INFORMACION SOBRE RESULTADOS CONSOLIDADOS
TERCER TRIMESTRE  




Buenos Aires Argentina Noviembre   
YPF Sociedad Anoacutenima NYSEYPF informoacute una
utilidad operativa record para el tercer trimestre de  la
cual ascendioacute a  millones lo que representa un
aumento del   comparados con los  millones del tercer
trimestre de 

La utilidad neta del tercer trimestre de 
alcanzoacute los  millones cifra que para compararla con
la del antildeo anterior de  millones resulta necesario
considerar dos hechos que la afectan y que se detallan a
continuacioacuten


 En el tercer trimestre de  se
 incluyoacute una ganancia no recurrente relacionada con
 la cancelacioacuten de una moratoria impositiva con
 Bocones que permitioacute reflejar un beneficio de 
 millones compensada con peacuterdidas relacionadas con
 la baja de ciertos bienes de uso por  millones 


 Por el antildeo  YPF SA debe
 comenzar a pagar impuesto a las ganancias y
 consecuentemente el tercer trimestre de 
 incluyoacute un cargo por este concepto de 
 millones reflejando en este importe el impacto del
 cambio de tasa de impuesto que pasoacute del  al 
  por los nueve primeros meses de  Este cargo no se
 efectuaba en  por tener YPF SA quebrantos
 impositivos acumulados 

El resultado operativo de los primeros nueve
meses de  crecioacute a  millones respecto de los
 millones del antildeo anterior En los primeros nueve
meses la utilidad neta fue de  millones en  en
comparacioacuten con los  millones del mismo periacuteodo
de  A esta comparacioacuten le corresponden los
comentarios expuestos en los paacuterrafos anteriores

Al comentar los resultados y actividades del
tercer trimestre de  el Presidente de YPF SA Nells Leon
expresoacute que

quotUna vez maacutes se ha alcanzado un
reacutecord en la utilidad operativa en este tercer trimestre
de  como consecuencia de una combinacioacuten de mayores
precios y voluacutemenes del crudo la mejora en los precios y
voluacutemenes del gas natural mayor ganancia operativa
proveniente de YPF International y los esfuerzos en
reduccioacuten de costos lo cual compensoacute ampliamente
los menores maacutergenes obtenidos en los productos
refinadosquot

quotLos excelentes resultados obtenidos en
este tercer trimestre de  y durante los primeros meses de
 son una consecuencia directa de la exitosa estrategia de
quotcrecimiento con rentabilidadquot llevada a cabo por YPF
La Sociedad se encuentra perfectamente encaminada hacia la
concreta obtencioacuten de sus objetivos maximizar la
inversioacuten de sus accionistas y alcanzar y mantener los
estaacutendares internacionales de rendimiento Somos realmente
optimistas en cuanto al soacutelido progreso alcanzado por YPF
y creemos que el mismo continuaraacute en el futuroquot


TERCER TRIMESTRE  vs TERCER TRIMESTRE
 

EXPLORACION Y PRODUCCION Upstream 
En el tercer trimestre de  el segmento de
Exploracioacuten y Produccioacuten obtuvo las mayores
utilidades trimestrales en la historia de la Sociedad con una
ganancia operativa de  millones superando en un  a los
 millones obtenidos en el tercer trimestre de  El
aumento en las utilidades es el resultado de una
combinacioacuten del incremento de los de los precios y
voluacutemenes del crudo mayores precios y voluacutemenes
del gas natural y menores costos de produccioacuten por barril
extraiacutedo lo cual compensoacute altamente el incremento
de las amortizaciones Las amortizaciones ascendieron a 
millones en comparacioacuten con los  millones del
antildeo anterior como consecuencia de la mayor
produccioacuten de crudo Por otro lado los cargos por
actividades exploratorias disminuyeron debido al eacutexito
obtenido en la exploracioacuten del aacuterea Noroeste

En liacutenea con el importante incremento de
los precios internacionales del crudo el precio del mismo para
las operaciones del Upstream local crecioacute US por
barril siendo el promedio para el tercer trimestre de 
US por barril en comparacioacuten con US para el
tercer trimestre de 

En el tercer trimestre de  los precios del
gas natural se fortalecieron alcanzando los  por miles de
pies cuacutebicos respecto de los  por miles de pies
cuacutebicos obtenidos el antildeo anterior como resultado
de un aumento gradual en los precios del gas natural

Las entregas de crudo del tercer trimestre de
 ascendieron a  mil barriles por diacutea comparados con
los  mil barriles diarios del tercer trimestre de  por la
mayor produccioacuten resultante de los programas de
recuperacioacuten secundaria en la cuenca Neuquina y por el
incremento en la perforacioacuten de pozos de desarrollo
principalmente en la cuenca del Golfo San Jorge La
produccioacuten total promedio de crudo del tercer trimestre de
 alcanzoacute los  mil barriles por diacutea 

La produccioacuten de gas natural en el
tercer trimestre de  ascendioacute a  millones de pies
cuacutebicos por diacutea respecto de los  millones de
pies cuacutebicos obtenidos el antildeo pasado como
consecuencia de las mayores ventas para generacioacuten de
energiacutea eleacutectrica 

Comparada con la utilidad operativa del segundo
trimestre de  de  millones la utilidad operativa del
tercer trimestre de  de Exploracioacuten y
Produccioacuten crecioacute  principalmente como resultado
del incremento en los precios del crudo y mayores precios y
voluacutemenes de gas natural demandados por la baja
hidraulicidad en Argentina


EXPLORACION Y PRODUCCION INTERNACIONAL 
La utilidad operativa del segmento
Exploracioacuten y Produccioacuten Internacional en el tercer
trimestre de  ascendioacute a  millones superando
ampliamente a los  millones obtenidos en  Este incremento
se originoacute baacutesicamente en los mayores
voluacutemenes y precios para el gas natural principalmente en
los Estados Unidos de Norteameacuterica quotEEUUquot
mayores precios del crudo menores gastos de exploracioacuten y
reduccioacuten de costos operativos 

En el tercer trimestre de  las ventas de
crudo de  mil barriles por diacutea fueron relativamente
similares a los  mil barriles por diacutea vendidos el
antildeo anterior dado que los mayores voluacutemenes de
Ecuador y Bolivia se compensaron con menores voluacutemenes en
Sumatra y Noroeste de Java en donde se obtuvieron menores
barriles en concepto de recupero de costos en funcioacuten de
los menores costos incurridos y los mayores precios del crudo

Las ventas de gas natural crecieron a 
millones de pies cuacutebicos por diacutea respecto de los
 millones de pies cuacutebicos por diacutea vendidos el
antildeo anterior debido a las nuevas perforaciones de
desarrollo llevadas a cabo en EEUU y mayores voluacutemenes
aportados por las aacutereas del Noroeste de Java en
Indonesia El promedio de precios obtenidos en EEUU
aumentoacute un  de  por mil pies cuacutebicos
durante el tercer trimestre del antildeo anterior a  por
mil pies cuacutebicos en 

La utilidad operativa en el tercer trimestre de
 crecioacute levemente respecto de la utilidad de 
millones registrada en el segundo trimestre del mismo antildeo
debido fundamentalmente a mayores precios del crudo y mayores
voluacutemenes de gas natural


INDUSTRIALIZACION Y COMERCIALIZACION
Downstream 
A pesar de haber alcanzado un record de ventas
de continuar la reduccioacuten de costos operativos y de la
mayor participacioacuten en el mercado del gas oil la ganancia
operativa de Industrializacioacuten y Comercializacioacuten
en el tercer trimestre de  fue de  millones en
comparacioacuten con los  millones del tercer trimestre de
 debido fundamentalmente a la imposibilidad de recuperar los
mayores costos del crudo a traveacutes de los precios de los
productos refinados Por otra parte los precios y
voluacutemenes de los productos petroquiacutemicos
disminuyeron en liacutenea con la tendencia internacional
mientras que la venta de gas oil se incrementoacute
principalmente por el mayor volumen tanto en el mercado interno
como en el de exportacioacuten 

Respecto de las ganancias operativas del
segundo trimestre de  de  millones la utilidad operativa
del tercer trimestre de Industrializacioacuten y
Comercializacioacuten disminuyoacute debido a los mayores
costos del crudo los que fueron parcialmente compensados por
mayores voluacutemenes de gas oil


CORPORACION 
Los gastos de la Corporacioacuten ascendieron
a  millones durante el tercer trimestre de  permaneciendo
estables respecto de los  millones del mismo periacuteodo
del antildeo anterior


OTROS EGRESOS 
En el tercer trimestre de  en el rubro
Otros EgresosIngresos se registroacute una peacuterdida de
 millones en comparacioacuten con la ganancia de 
millones registrada en el tercer trimestre de 
principalmente como consecuencia de la inclusioacuten en 
de una ganancia no recurrente por  millones relacionada con la
diferencia entre el valor de mercado y el valor nominal de los
Bonos de Consolidacioacuten quotBoconesquot utilizados
para la cancelacioacuten anticipada de deudas impositivas
impulsada por el Gobierno Nacional neto de ciertas
peacuterdidas relacionadas principalmente con bajas de bienes
de uso


INTERESES GENERADOS POR PASIVOS 
Los intereses generados por pasivos en el
tercer trimestre de  fueron  millones
mantenieacutendose relativamente similares a los  millones
del tercer trimestre de  Incluidos en este total se
encuentran los cargos financieros de YPF International sociedad
que posee la totalidad del capital ordinario de Maxus de 
millones y  millones por el tercer trimestre de  y 
respectivamente


OTROS RESULTADOS FINANCIEROS Y POR TENENCIA 
Otros resultados financieros y por tenencia del
tercer trimestre de  reflejoacute una ganancia de 
millones en comparacioacuten con  millones del mismo
trimestre del antildeo anterior Los resultados del tercer
trimestre de  incluyen una ganancia por intereses generados
por activos de  millones y  millones de resultado negativo
por tenencia de inventarios y diferencia de cambio

Otros resultados financieros y por tenencia del
tercer trimestre de  incluiacutean  millones de ganancia
de los cuales  millones estaban incluidos en los resultados de
Maxus correspondientes al resultado por exposicioacuten a la
inflacioacuten sobre activos y pasivos monetarios hasta el 
de Agosto diferencias de cambio y resultado por tenencia de
inventarios Adicionalmente en ese trimestre de  se
incluiacutean intereses ganados por  millones

Los resultados de YPF correspondientes al
tercer trimestre de  incluyen los resultados por
exposicioacuten a la inflacioacuten Debido a la baja
inflacioacuten registrada en los uacuteltimos tiempos el
Gobierno argentino establecioacute con fecha efectiva 
de setiembre de  que las sociedades no deberaacuten
reflejar el efecto de la inflacioacuten en sus estados
contables


IMPUESTO A LAS GANANCIAS 
El impuesto a las ganancias durante el tercer
trimestre de  incluye  i  millones provisionados en
relacioacuten con las operaciones de la Sociedad y de sus
controladas consolidadas excepto YPF International y ii 
millones como consecuencia del impuesto reconocido por YPF
International baacutesicamente por sus operaciones en
Indonesia

Al  de Diciembre de  la tasa del
impuesto a las ganancias vigente para YPF era del  Sin
embargo desde  hasta  la Sociedad excluyendo las
subsidiarias no registroacute cargo alguno por impuesto a las
ganancias debido a las peacuterdidas impositivas resultantes de
las diferencias entre los resultados contables e impositivos
Durante el tercer trimestre de  el Gobierno Nacional
elevoacute la tasa del impuesto a las ganancias al 
retroactivo al  de enero de  El efecto de este cambio por
el periacuteodo de nueve meses terminado el  de septiembre
se reflejoacute en el tercer trimestre

Al  de Diciembre de  el quebranto
impositivo acumulado de YPF en Argentina ascendiacutea a 
millones los cuales se generaron en su totalidad a partir del
 de Enero de  que computados a la tasa impositiva
vigente del   totalizan un beneficio impositivo potencial de
 millones La Sociedad espera agotar el quebranto impositivo
acumulado en  y consecuentemente ha comenzado a devengar
impuesto a las ganancias en  En el periacuteodo que
comprende los primeros nueve meses de  la Sociedad
provisionoacute en concepto de impuesto a las ganancias por
las actividades de la Sociedad y sus sociedades controladas
excepto YPF International la suma de   millones


DIVIDENDOS DE ACCIONES PREFERIDAS 
Como resultado de la adquisicioacuten de
Maxus el estado de resultados consolidado de YPF por el tercer
trimestre de  incluye un cargo de  millones por dividendos
a las acciones preferidas de Maxus en comparacioacuten con los
 millones registrados en el mismo periacuteodo del antildeo
anterior La disminucioacuten corresponde a los rescates de las
acciones preferidas que tuvieron lugar en 


NUEVE MESES DE  vs NUEVE MESES DE 

La utilidad operativa de los nueve meses de
 crecioacute un  a  millones en comparacioacuten
con los  millones del antildeo anterior reflejando
principalmente mayores precios del crudo y gas natural mayores
voluacutemenes de crudo y gas oil mejoras en la performance
operativa de YPF International y los esfuerzos realizados en la
reduccioacuten de costos todo ello parcialmente compensado por
menores maacutergenes en los productos derivados de
petroacuteleo

A pesar del significativo incremento en las
utilidades proveniente de actividades operativas la ganancia
neta de los nueve meses de  disminuyoacute a  millones
de  millones obtenidos el antildeo anterior debido al mayor
cargo por impuesto a las ganancias y a la ausencia de la ganancia
proveniente de la cancelacioacuten anticipada de moratorias
impositivas hechos antes explicados y ganancias por
exposicioacuten a la inflacioacuten debido a la
eliminacioacuten del ajuste por inflacioacuten 

EXPLORACION Y PRODUCCION 
La ganancia operativa de Exploracioacuten y
Produccioacuten para los nueve primeros meses de 
crecioacute a  millones respecto de los  millones del
antildeo anterior debido a los mayores precios y
voluacutemenes del crudo y los mejores precios del gas natural
parcialmente compensados por las mayores amortizaciones
resultantes del incremento en la produccioacuten de crudo

Comparado con el antildeo anterior las
entregas de crudo de los nueve meses de  aumentaron a  mil
barriles diarios frente a los  mil barriles diarios de 

La produccioacuten de gas natural de los
nueve meses de  disminuyoacute levemente a  millones
de pies cuacutebicos diarios en comparacioacuten con los
 millones de pies cuacutebicos diarios en  debido
fundamentalmente a la iniciacioacuten de compras en enero de
 al aacuterea Aguada Pichana por el periacuteodo de 
antildeos como parte de la renegociacioacuten del contrato de
servicio con TOTAL Austral SA

Los esfuerzos en las actividades exploratorias
continuacutean en la cuenca Noroeste argentina con el objetivo
de certificar las suficientes reservas de gas natural que
garanticen el potencial proyecto de exportacioacuten de gas
natural a Brasil Dos pozos Chango Norte X y Porcelana X
fueron perforados y testeados con eacutexito en el bloque
Aguaraguumle Un tercer pozo estaacute siendo perforado y
puesto en estudio Tambieacuten resultoacute exitoso el
primer pozo exploratorio del aacuterea Acambuco y la
perforacioacuten del segundo pozo denominado San Antonio X
en esta aacuterea ha sido comenzada


INDUSTRIALIZACION Y COMERCIALIZACION
DOWNSTREAM 
El resultado operativo de los nueve meses de
 de Industrializacioacuten y Comercializacioacuten
ascendioacute a  millones disminuyendo respecto a los 
millones obtenidos en los primeros nueve meses de  como
resultado de los mayores costos del crudo y los cambios
ciacuteclicos en los precios de los petroquiacutemicos
parcialmente compensados por mayores voluacutemenes vendidos de
productos refinados

OTROS NEGOCIOS 
El segmento Otros negocios incluye los
resultados de la participacioacuten del  de YPF en Petroken
petroquiacutemica El resultado operativo de los primeros
nueve meses de  de este segmento disminuyoacute a 
millones respecto a los  millones en  debido a una baja en
los precios de los productos petroquiacutemicos


OTROS COMENTARIOS DE INTERES 
El Directorio de YPF aproboacute cambios
en su cargos ejecutivos

Nells Leon Presidente de YPF SA
anuncioacute al Directorio de la Sociedad su decisioacuten de
retirarse de la Presidencia a partir de fines de abril de 
oportunidad en que se llevaraacute a cabo la Asamblea General
de Accionistas que consideraraacute la documentacioacuten
correspondiente al ejercicio en curso El Directorio ha resuelto
que se designe con efecto a partir de abril de  al Ing
Miguel Madanes actual Vicepresidente ejecutivo y Director desde
 como Presidente y al Ing Roberto Monti como
Vicepresidente Ejecutivo y Gerente General a cargo de la
conduccioacuten ejecutiva de la Sociedad sujeto a su
nombramiento como Director Titular por la mencionada Asamblea
El Ing Roberto Monti se ha desempentildeado desde Agosto de
 como Presidente y Gerente General de la sociedad subsidiaria
Maxus Energy Corporation y fue elegido como Director Suplente de
YPF SA en la uacuteltima Asamblea General de Accionistas 

Maxus renegocia su contrato de
operacioacuten en Ecuador

En agosto de  el gobierno ecuatoriano
anuncioacute su intencioacuten de convertir el contrato de
servicios a riesgo con Maxus en el Bloque  en un contrato de
produccioacuten compartida quotCPCquot En septiembre de
 Maxus y el gobierno comenzaron las negociaciones en
relacioacuten a este contrato Si bien el acuerdo final no ha
sido firmado Maxus espera que el CPC sea efectivo a partir del
 de enero de  La Sociedad anticipa que la
conversioacuten del tipo de contrato no tendraacute un efecto
adverso sobre el valor recuperable de sus propiedades en Ecuador

YPF formaliza contratos de cobertura sobre
 barriles para el cuarto trimestre

Coacutemo se habiacutea anticipado durante
el tercer trimestre de  la Sociedad acordoacute contratos
de swap de precio que tienen por objeto una proteccioacuten
sobre las fluctuaciones futuras del precio de venta de
aproximadamente  barriles de petroacuteleo crudo a
efectuarse durante el cuarto trimestre de  Bajo estos
contratos YPF pagaraacute o cobraraacute la diferencia entre
un precio promedio fijo del WTI de US  por barril y el
precio de mercado


YPF anuncia joint venture con Amoco
Corporation 

YPF SA conjuntamente con Amoco Corporation
quotAmocoquot anuncioacute que en el diacutea de la
fecha Maxus Energy Corporation subsidiaria y brazo operativo de
YPF International y Amoco han llegado a un principio de acuerdo
en la formacioacuten de una unioacuten transitoria de empresa
quotjoint venturequot en la regioacuten central de los
Estados Unidos de Ameacuterica Maxus se asociaraacute a
traveacutes de su subsidiaria en los Estados Unidos Midgard
Energy Corporation Cada compantildeiacutea
contribuiraacute al joint venture con aacutereas petroleras
y gasiacuteferas y otros activos relacionados a su
explotacioacuten ubicados en la regioacuten del Texas
Panhandle y el oeste de Oklahoma Por otra parte Amoco
aportaraacute ciertos activos adicionales Se espera que el
joint venture entre en vigencia a comienzos del proacuteximo
antildeo estando todaviacutea pendiente la aprobacioacuten
de los Directorios de ambas compantildeiacuteas asiacute
como la firma de los acuerdos definitivos Las
compantildeiacuteas han acordado no emitir informacioacuten
adicional hasta que los documentos finales hayan sido
formalizados
La cantidad promedio de acciones consideradas
para todos los periacuteodos es  La
informacioacuten financiera que se adjunta fue preparada de
acuerdo con principios contables generalmente aceptados en
Argentina



Los resultados de Petroken sociedad en la que
YPF participa en un  fueron incluidos en el Estado de
Resultados Consolidado abiertos linea por linea en una
proporcioacuten igual a la participacioacuten de YPF



Los resultados de Petroken sociedad en la que
YPF participa en un  fueron incluidos en el Estado de
Resultados Consolidado abiertos linea por linea en una
proporcioacuten igual a la participacioacuten de YPF 

 Incluye todas las erogaciones destinadas a
exploracioacuten 
 Fuente   Ministerio de
Economiacutea y Obras y Servicios Puacuteblicos 
  Estimaciones del departamento
econoacutemico de YPF 

 Refleja la informacioacuten
correspondientes a los periacuteodos en los que fue controlada
por YPF SA 
 Incluye todas las erogaciones destinadas a
exploracioacuten 



 




