



Consejo del mes






Queacute indica la
presioacuten de aceite

La presioacuten de aceite es un medio de control de la
circulacioacuten del lubricante en el motor Es importante que
sobrepase un valor miacutenimo a fin de asegurar una adecuada
cantidad de aceite para lubricar las zonas mas alejadas del
motor El valor miacutenimo de presioacuten necesario es
caracteriacutestico para cada vehiacuteculo y estaacute
especificado por el fabricante del mismo Una mayor
presioacuten no va acompantildeada necesariamente de una
mejor lubricacioacuten


 



