






Resultados Mega Promo







Estos son los ganadores de la Mega
Promo
Y todava quedan ms de  Goles



 
 
 MABEL ERAFFETTO
 Sticker AB
 DNI 
 
 
 CLAUDIA GONZALEZ
 Sticker AB
 DNI 
 
 
 SILVIA LADO
 Sticker AB
 DNI 
 
 
 THELMA M OCHOA
 Sticker AK
 DNI 
 
 
 SILVANA AASAD
 Sticker AF
 DNI 
 
 
 KARINA N LORENZO
 Sticker HB
 DNI 
 
 
 
 
 SILVANA DIGNEO
 Sticker BJ
 DNI 
 
 
 DELIA M FIGUEREDO
 Sticker AG
 DNI 
 
 
 OMAR W MORIELLO
 Sticker AA
 DNI 
 
 
 DOLY JAIME DE BONIN
 Sticker BG
 DNI 
 
 
 PATRICIA AGOTE
 Sticker BK
 DNI 
 
 
 CARLOS A BEREA
 Sticker AH
 DNI 
 
 
 
 
 MARCELA A PEREYRA
 Sticker CH
 DNI 
 
 
 GABRIEL N REGO
 Sticker CH
 DNI 
 
 
 CLAUDIA V TAMIER
 Sticker BM
 DNI 
 
 
 LIDIA YOPOLO
 Sticker AN
 DNI 
 
 
 CLAUDIA A GRANOVSKY
 Sticker AO
 DNI 
 
 
 MATILDE SANCHEZ
 Sticker AO
 DNI 
 
 
 
 
 PAULA YAROLA
 Sticker BA
 DNI 
 
 LUIS E GARCIA
 Sticker CA
 DNI 
 
 TADEO A ALI
 Sticker AA
 CI 
 nbsp
 nbsp
 nbsp
 





A estos ganadores los estamos
esperando
Controle su sticker 
Si coincide con estas series y nmeros comunquese hoy mismo
con YPF sa al   internos  y  y smese al
equipo ganador



 
 CO 
 AE 
 CW 
 AE 
 
 
 CH 
 BA 
 BG 
 CK 
 
 
 AD 
 CH 
 AA 
 AG 
 
 
 AB 
 CA 
 BG 
 AC 
 
 
 CO 
 AB 
 BG 
 HA 
 
 
 CU 
 CQ 
 CJ 
 AF 
 
 
 CH 
 AB 
 AA 
 AE 
 
 
 AG 
 CU 
 AJ 
 CY 
 
 
 CA 
 nbsp
 nbsp
 CD 
 








