



Argentina




 
 


 
 
  
 
  Refinery
  Petrochemical Plant
  Monobuoy
  Tanker Fleet
  Product Pipeline
  Oil Pipeline
 
 Main YPF Assets
 
 
 Lujaacuten de Cuyo 
 La Plata 
 Petroquiacutemica La Plata 
 Plaza Huincul 
 Refinor SA 
 Refinerias del Norte 
 Oldelval SA 
 Oleoductos del Valle 
 Oiltanking Ebytem SA 
 Hydrocarbon Transportation and Storage 
 Terminales Mariacutetimas
 Patagoacutenicas 
 C Olivia y C Coacuterdoba
 Oil Storage and Shipment 
 TMP SA 
 Transportes Mariacutetimos Petroleros SA
 Oil Transportation by Ship 
 Petroken SA 
 Petroquiacutemica Ensenada SA 
 Oleoducto Trasandino 
 EstenssoroPedrals Oil Pipeline 
 Petroquiacutemica Bahiacutea
 Blanca SA  
 
 
 Service Stations in Argentina
 
 Chile and Peru
 
 
 
 


 



