






Online entertainment still trails TV




 




  


 











 

  







  
 
 


 nbsp
 
  
 

  
  






 

  



 
 
  














































































 
















  


  














 

 

 
 
 


  


 Online entertainment still trails TV

 

 
 By 
 Alex Lash

     July    am PT
 


 

 





Most computer users do not consider the online world a replacement for other sources of entertainment according to a survey from Intelliquests Worldwide
InternetOnline Tracking Service in which just  percent of respondents described cyberspace quotalwaysquot or quotusuallyquot better than than
television

Conducted in April and May the study covers the home and business use of people  and older in the US Some of the conclusions are as follows

Fiftyfour percent of the andover population use a computer including at home work or school Of computer users  percent ventured online in the three months prior to being interviewed which projects to  million user of the Internet or online services

Nearly half of those who go online about  million said they are connected no more than  hours per week Of the remaining  million users about  million access from home and are online more than  hours per week an important statistic for those looking to exploit the Internet
as a home entertainment medium
 The survey drew no comparisons between the Internet and printed
entertainment although  percent described themselves as quotavidquot readers of books

The survey also confirmed some of the conventional wisdom concerning the Net  percent of users are male  percent are collegeeducated and  percent have household incomes over 

Putting the numbers against a larger backdrop the survey found that 
percent of all fulltime US students  and over are online compared with
only  percent of unemployed or retired people Only  percent of all
smallbusiness employees use online services

Webmasters might be interested to know that  percent of users quotalwaysquot use a search engine and  percent quotalwaysquot use bookmarks although  percent quotneverquot use them most likely the same people who refuse to use a map or read instruction manuals

Other findings included  percent used email in the month before their interview  percent accessed the Web  percent went online to obtain general news  percent sought out information about quotspecific products and servicesquot  percent read an online magazine  percent downloaded shareware or freeware and  percent attempted an online banking transaction the same number that accessed adult entertainment

Related story
Net user estimates come down to earth


 






 

 



 




 

 

 




  

 







 

 
 
 
 
 

 
 

 
Copyright   CNET Inc All rights reserved
 










