







Designing protection




 




  


 




 







 

  




  
 
 


 
 
  

             
   
 

 





 

  
 













































































 
















  


  














 

 

 
 
 


  


 Designing protection

 
 By 
 Rachel Powell Norton

   December    pm PT

 


 
 






 
 

Digital watermarking is a popular new way to protect copyrighted images Heres how it works  







Step 
Watermarkcreated

The image creator stamps the image with a digital watermark that can only be viewed with special software The watermark takes advantage of the variation between pixels to remain all but invisible in the finished product
 The watermark can still be detected with the special software even after the image is printed and rescanned





Step 
Watermark
detected

 Image editors such as Photoshop  are equipped with the special software The application can detect the subtle pixel variation and interprets it as a watermark alerting the viewer that the image has been copyrighted





Step 
Artist identified

In addition to marking the image as a copyrighted work the watermark contains information on how to contact the artist




Source PictureMarc Software

















 

nbsp



 

 





 

 

 


  






 

 
 

 

 
 

 

 
 

 
 

 
Copyright   CNET Inc All rights reserved
 








